/* 
THIS IS JUST ADDON CSS. JUST TO AVOID CONFLICT WITH EXISTING SASS/CSS. 
STILL CANNOT THINK BETTER IDEAS (YET). SO PLEASE BEAR IT FOR A SECOND 
*/


/* ========= DASHBOARD RECRUITING ALL JOBS ========= */

/*.suj-resume-button-inline li {
    display: inline-block;
}

.sujdb-applicant-btn {
    padding: 10px 1.5rem;
}*/


/* ========= STARTUP PROFILE ========= */

.suj-cover-photo-wrapper {
    width: 100%;
    height: 150px;
    background-size: cover !important;
}

.suj-profile-photo-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-top: -90px;
    margin-left: 20px;
    margin-bottom: 40px;
    background-size: cover !important;
}

.suj-upload-banner-btn-wrapper {
    float: right;
    margin-top: -45px; 
    margin-right: 20px;
}

.card {
    height: auto !important;
}

.suj-form-top-bottom-margin {
    padding: 50px;
}

/* JOB APPLIED HISTORY */

.suj-applied-job-card {
    margin-right: 20px;
    margin-bottom: 20px;
}

.suj-job-history-item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.suj-job-applied-country {
    font-weight: 300;
    padding-bottom: 20px;
}

.suj-job-applied-days {
    font-weight: 300;
}

.suj-job-applied-image {
    width: 100%;
}

/* JOB SEEKER PERSONAL PARTICULAR */

.padding-right-x0 {
    padding-right: 30px !important;
}


.padding-right-x0 li {
    display: inline-block
}


/* ARTICLES LIST */

.suj-article-item {
    display: inline-flex;
    padding: 10px;
    margin-bottom: 10px;
}

.suj-article-item .suj-article-item-image {
    width: 300px;
    height: 150px;
    max-height: none;
    border-radius: 5px;
    background-size: cover;
}

.suj-article-item-content {
    padding-left: 30px;
    padding-right: 20%;
}

.suj-article-item-text h2 {
    line-height: 1.42857;
    font-size: 21px;
    color: #f39c12;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 0px;
}

.suj-article-meta-avatar {
    width: 20px;
    height: 20px;
    border-radius: 100px !important;
    max-height: none;
    border-radius: 5px;
    background-size: cover;
    margin-bottom: -5px;
}

.suj-article-item-meta {
    padding-top: 10px;
    vertical-align: middle;
    display: inline-block;
}

.suj-article-item-meta li {
    display: inline-block;
    padding-right: 15px;
    color: #999;
    line-height: 22px;
    padding-left: .4em;
}

.suj-article-item-meta i {
    font-size: 12px;
    padding-right: 5px;
}


/* ARTICLE SINGLE */

.suj-article-single-wrapper {
    padding: 0 50px;
}

.suj-article-single-meta {
    float: none;
    margin: 15px auto;
    padding: 0;
    list-style: none;
}

.suj-article-single-meta li {
    display: inline-block;
}

.suj-article-single-wrapper__title {
    font-size: 2em;
}

.suj-article-single-meta__author {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    width: 32px;
    padding: 0;
    vertical-align: middle;
    margin-top: -25px;
}

.suj-article-single-meta__author img {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}

.post-meta__date {
    color: #999;
    font-size: 13px;
}

.post-meta__read-time {
    color: #999;
    font-size: 13px;
}

.post-meta__read-time {
    border-left: 1px solid #999;
    margin-left: 5px;
    padding-left: 5px;
}

.suj-article-single-meta__sharing {
    float: right;
    width: auto;
    padding: 0;
    vertical-align: middle;
}

.sharing-widget > li {
    vertical-align: top;
}

.list-inline, .post-meta {
    margin-left: -5px;
}
.list-inline, .list-unstyled, .post-meta, .step-wizard {
    padding-left: 0;
    list-style: none;
}

.sharing-widget__count {
    border: 2px solid #ccc;
    color: #555;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    line-height: 28px;
    margin-right: 4px;
    position: relative;
}

.sharing-widget__btn, .sharing-widget__count {
    border-radius: 3px;
    display: block;
    height: 32px;
    text-align: center;
    width: 64px;
}

.sharing-widget__count::before {
    border-left: 6px solid #ccc;
    content: "";
    height: 0;
    width: 0;
    z-index: 2;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.sharing-widget__count::after, .sharing-widget__count::before {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%);
}

.sharing-widget__count::after {
    border-left: 3px solid #fff;
    content: "";
    height: 0;
    width: 0;
    z-index: 2;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}
.sharing-widget__count::after, .sharing-widget__count::before {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%);
}

.list-inline > li, .post-meta > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.sharing-widget__btn {
    color: #fff;
}
.sharing-widget__btn, .sharing-widget__count {
    border-radius: 3px;
    display: block;
    height: 32px;
    text-align: center;
    width: 64px;
}

.bg-facebook, .login-form__fb-btn {
    background: #3b5998;
}

.bg-twitter, .login-form__twitter-btn {
    background: #1da1f2;
}

.bg-linkedin, .login-form__linkedin-btn {
    background: #0077b5;
}

.bg-gplus, .login-form__gplus-btn {
    background: #dd4b39;
}


.sharing-widget__btn .fa-facebook {
    line-height: 34px;
}
.sharing-widget__btn .fa, .sharing-widget__btn .star-saved, .sharing-widget__btn .star-saved--selected {
    font-size: 18px;
    line-height: 32px;
}
.fa, .star-saved, .star-saved--selected {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.suj-article-single__content {
    padding: 30px 0;
}

.suj-article-single__content p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}

.suj-article-single__content img {
    padding: 20px 0;
    border-radius: 3px;
    text-align: center;
}

.signup-box {
    background: #eee;
    border-radius: 3px;
    text-align: center;
    margin: 12px 0 36px;
    padding: 36px;
}

.signup-box__heading {
    margin: 0;
}

.signup-box__description {
    word-wrap: break-word;
    margin: 24px 0;
    padding: 20px;
}

.signup-box__btn {
    font-size: 18px;
    font-weight: 700;
}
.btn-primary, .comment-list__new-comments-btn, .comment-list__view-all-btn, .static-page__subscribe-submit-btn {
    color: #fff;
    background-color: #bf0016;
    border-color: #a60013;
}
.btn, .business-solutions__ghost-btn, .comment-list__new-comments-btn, .comment-list__new-replies-btn, .comment-list__view-all-btn, .entity .sharing-widget__link .sharing-widget__btn, .events__btn-block, .events__btn-cta, .events__btn-shadow, .post-footer__action, .post__edit-btn, .search-form__clear-link, .static-page__subscribe-submit-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comments .jumbo-help-text {
    width: 740px;
}

.jumbo-help-text {
    background: #eee;
    border: 0;
    color: #999;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.jumbo-help-text a:hover {
    color: #f42;
}

.jumbo-help-text, .static-page__subscribe-well, .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #eee;
    border: none;
    border-radius: 3px;
}


/* EVENT LIST */

.suj-event-card-header {
    display: inline-block;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 5px;
}

#featured-upcoming-event-header {
    font-size: 2em;
}

#view-all-events-text {
    float: right;
    padding: 14px;
}

#view-all-events-text a:hover {
    color: #f39c12;
}

.suj-event-header-img {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.suj-event-card-item {
    margin: 0 10px !important;
}

.suj-event-list-wrapper {
    padding: 50px;
}

.event-item-wrapper {
    padding: 20px 0;
}

.item-date {
    float: left;
    min-width: 96px;
    height: 58px;
    margin: 2px;
    border-right: 1px solid #eee;
}

.item-info {
    margin: 0px 0px 0px 120px;
}

.item-title {
    margin-bottom: 5px;
}

.item-title a {
    font-size: 1.3em;
    color: #f39c12;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 0 1px 1px white;
}

.item-when {
    margin: 5px 0px;
    color: #222;
    text-shadow: 0 1px 1px white;
}

.event-location {
    color: #444;
}

label-info {
    background-color: #5bc0de;
}

.pagination li.active {
    background-color: #f39c12;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #f39c12;
}
.tabs .tab a {
    color: #f1c40f;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
}

/* EVENT SINGLE */

.event-single-sidebar-wrapper p {
    padding-bottom: 10px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.suj-event-single-content-wrapper {
    padding: 30px;
    width: 100%;
}

.suj-event-single-content__title h4 {
    font-size: 2em;
}

.suj-event-single-content__text img {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
}

.suj-event-single-content__text p {
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 16px;
}

.event-single-sidebar__btn {
    padding-bottom: 30px;
}

.event-single-sidebar__calendar i {
    padding-right: 5px;
}

.event-single-sidebar__map {
    padding-top: 30px;
}

.event-single-sidebar__map p {
    padding-bottom: 10px;
}

.event-single-sidebar__contact {
    padding: 20px 0;
    width: 100%;
}

.event-single-sidebar__contact strong {
    margin-bottom: 10px;
}

.quetions-about-event {
    padding-bottom: 20px;
}

.check-organizer-events a {
    color: #f39c12;
}


/* My Events Dashboard */

.suj-event-dashboard-header {
    background-color: #546E7A;
}

.suj-event-dashboard-header__content {
    padding: 20px;
}

.suj-event-dashboard-header h5 {
    color: #ffffff;
}

.item-info .suj-event-label {
    margin: 0 0 0 10px;
}

.suj-envent__draft {
    background-color: #f1c40f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.suj-envent__trial {
    background-color: #f42;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.suj-envent__published {
    background-color: #2ecc71;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.suj-envent__on_review {
    background-color: #3498db;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.item-info i {
    padding-right: 5px;
}

.event-notice-header {
    text-align: center;
}

.event-notice-header p {
    padding-bottom: 5px;
}

.events-crud-btns {
    display: inline-block;
    padding-top: 10px;
    background-color: #ecf0f1;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}

.event-edit-btn {
    background-color: #bdc3c7;
    text-align: center;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #bdc3c7;
    margin-left: 90px;
    margin-right: 10px;
}

.event-edit-btn:hover {
    background-color: #f39c12;
    color: #ffffff;
    box-shadow: 5px 5px 5px #bdc3c7;
}

.event-edit-btn__preview {
    background-color: #3498db;
    text-align: center;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #bdc3c7;
    margin-right: 10px;
}

.event-edit-btn__preview:hover {
    background-color: #2980b9;
    color: #ffffff;
    box-shadow: 5px 5px 5px #bdc3c7;
}

.event-edit-btn__delete {
    background-color: #e74c3c;
    text-align: center;
    color: #ffffff;
    padding: 3px 8px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #bdc3c7;
}

.event-edit-btn__delete:hover {
    background-color: #c0392b;
    color: #ffffff;
    box-shadow: 5px 5px 5px #bdc3c7;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f39c12;
    will-change: left, right;
}

.suj-about-bg {
    width: 100%;
    height: 30vh;
    background-color: #f39c12;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.suj-about-bg h1 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
}

.suj-about-bg p {
    color: #ffffff;
}