/*Dashboard Color*/
/* Alert Color */
a,
p,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; }

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #f39c12;
  outline: none; }

.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #f39c12; }

img {
  vertical-align: middle; }

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]), input[type="password"]:focus:not(.browser-default):not([readonly]), input[type="email"]:focus:not(.browser-default):not([readonly]), input[type="url"]:focus:not(.browser-default):not([readonly]), input[type="time"]:focus:not(.browser-default):not([readonly]), input[type="date"]:focus:not(.browser-default):not([readonly]), input[type="datetime"]:focus:not(.browser-default):not([readonly]), input[type="datetime-local"]:focus:not(.browser-default):not([readonly]), input[type="tel"]:focus:not(.browser-default):not([readonly]), input[type="number"]:focus:not(.browser-default):not([readonly]), input[type="search"]:focus:not(.browser-default):not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #f39c12;
  box-shadow: 0 1px 0 0 #f39c12; }

input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not(.browser-default):not([readonly]) + label, input[type="password"]:focus:not(.browser-default):not([readonly]) + label, input[type="email"]:focus:not(.browser-default):not([readonly]) + label, input[type="url"]:focus:not(.browser-default):not([readonly]) + label, input[type="time"]:focus:not(.browser-default):not([readonly]) + label, input[type="date"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime-local"]:focus:not(.browser-default):not([readonly]) + label, input[type="tel"]:focus:not(.browser-default):not([readonly]) + label, input[type="number"]:focus:not(.browser-default):not([readonly]) + label, input[type="search"]:focus:not(.browser-default):not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #f39c12; }

.file-field {
  overflow: hidden; }

[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
  border-color: #9c9c9c; }

[type="checkbox"]:checked + label::before {
  border-color: transparent #f39c12 #f39c12 transparent; }

[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
  border-color: #9c9c9c; }

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
  background-color: #f39c12; }

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
  border-color: #f39c12; }

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #f39c12; }

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #f4d142; }

.intl-tel-input {
  margin-left: 3.8rem;
  width: calc(100% - 3.8rem - 58px); }
  .intl-tel-input .country-list {
    max-width: 390px; }

.select-wrapper.select-active .dropdown-content {
  top: 53px !important; }
  .select-wrapper.select-active .dropdown-content li > a, .select-wrapper.select-active .dropdown-content li > span {
    color: #f39c12;
    font-size: 14px; }
.select-wrapper.select-active span.caret {
  color: #c6c6c6; }
.select-wrapper.select-active input.select-dropdown {
  color: #c6c6c6;
  font-size: 14px; }

.input-field .prefix.active {
  color: #f39c12 !important; }

.suj-capital-text {
  text-transform: capitalize !important; }

.suj-color {
  background-color: #f39c12; }

h6.form-title {
  color: #9c9c9c;
  font-size: 0.8rem;
  margin: 0 0 15px; }

.suj-alert-wrapper {
  padding-top: 20px; }
  .suj-alert-wrapper.fixed {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0px); }

.suj-alert {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px 35px 15px 15px;
  margin: 0.5rem 0 1rem 0;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .25s; }
  .suj-alert.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f; }
  .suj-alert.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #5cb85c; }
  .suj-alert.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #f0ad4e; }
  .suj-alert.alert-error, .suj-alert.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #d9534f; }
  .suj-alert .alert-close {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    color: inherit;
    margin-top: -10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    transition: all .25s ease; }
  .suj-alert.alert-info .alert-close:hover,
  .suj-alert.alert-info .alert-close:focus,
  .suj-alert.alert-info .alert-close:active {
    color: #31708f;
    text-shadow: 0 1px 0 #245269; }
  .suj-alert.alert-success .alert-close:hover,
  .suj-alert.alert-success .alert-close:focus,
  .suj-alert.alert-success .alert-close:active {
    color: #5cb85c;
    text-shadow: 0 1px 0 #449d44; }
  .suj-alert.alert-warning .alert-close:hover,
  .suj-alert.alert-warning .alert-close:focus,
  .suj-alert.alert-warning .alert-close:active {
    color: #f0ad4e;
    text-shadow: 0 1px 0 #ec971f; }
  .suj-alert.alert-error .alert-close:hover,
  .suj-alert.alert-error .alert-close:focus,
  .suj-alert.alert-error .alert-close:active, .suj-alert.alert-danger .alert-close:hover,
  .suj-alert.alert-danger .alert-close:focus,
  .suj-alert.alert-danger .alert-close:active {
    color: #d9534f;
    text-shadow: 0 1px 0 #c9302c; }

span.badge {
  color: #ffffff;
  font-size: 14px;
  float: none;
  padding: 2px 6px; }
  span.badge.badge-default {
    background-color: #9e9e9e; }
  span.badge.badge-primary {
    background-color: #2196f3; }
  span.badge.badge-success {
    background-color: #4caf50; }
  span.badge.badge-info {
    background-color: #00bcd4; }
  span.badge.badge-warning {
    background-color: #ffc107; }
  span.badge.badge-danger {
    background-color: #f44336; }

.suj-empty-field {
  text-align: center;
  color: #c6c6c6;
  padding-bottom: 15px; }

.suj-flex-end {
  display: flex;
  justify-content: flex-end; }

.material-tooltip {
  font-size: 14px;
  line-height: 100%;
  min-height: 0;
  padding: 8px 16px; }

.backdrop {
  background-color: #c6c6c6; }

.picker {
  color: #9c9c9c; }

.sujdb-content-block .suj-dashboard-content {
  display: block; }

.suj-pagination-wrapper {
  margin-top: 30px;
  text-align: center;
  /*nav {
      background-color: transparent;
      box-shadow: none;
  }*/ }
  .suj-pagination-wrapper .pagination li.active {
    background-color: #f39c12; }

.page-footer {
  background-color: #606060;
  padding-top: 40px; }

.suj-flex-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

.suj-btn {
  text-decoration: none;
  color: #fff;
  background-color: #f39c12;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .suj-btn:hover, .suj-btn:focus, .suj-btn:active {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    background-color: #f1c40f;
    font-weight: 300;
    color: #ffffff; }

.suj-round-btn {
  border-radius: 20px; }

.btn.disabled {
  background-color: #c6c6c6 !important;
  color: #9c9c9c !important;
  border-color: transparent !important;
  cursor: default; }
  .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.suj-leftbar-postresume, .suj-leftbar-filter-btn {
  background-color: #f39c12;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1.6rem;
  height: auto; }
  .suj-leftbar-postresume:hover, .suj-leftbar-postresume:focus, .suj-leftbar-postresume:active, .suj-leftbar-filter-btn:hover, .suj-leftbar-filter-btn:focus, .suj-leftbar-filter-btn:active {
    background-color: #f1c40f;
    color: #ffffff; }

.suj-leftbar-filter-btn {
  width: 100%;
  margin: 20px 0 30px;
  display: inline; }

.suj-follow-btn:hover, .suj-follow-btn:focus, .suj-follow-btn:active {
  background-color: #f39c12;
  color: #ffffff;
  border: 1px solid #f39c12; }

.suj-btn-white {
  background-color: #ffffff !important;
  color: #f39c12 !important;
  margin: 14px 0 0; }

.input-file-btn {
  background-color: #f39c12;
  line-height: 2rem !important;
  text-transform: capitalize;
  font-size: 14px !important;
  padding: 0 22px; }
  .input-file-btn:hover, .input-file-btn:focus, .input-file-btn:active {
    background-color: #f1c40f; }

.sujdb-applicant-btn {
  background-color: #88d5d1;
  font-size: 8px;
  padding: 0 8px;
  text-transform: capitalize;
  border-radius: 20px;
  line-height: 30px;
  height: 30px;
  flex: 1 1 0;
  margin-left: 5px; }
  .sujdb-applicant-btn:hover, .sujdb-applicant-btn:focus, .sujdb-applicant-btn:active {
    background-color: #88d5d1;
    color: #ffffff; }
  .sujdb-applicant-btn.download-resume {
    background-color: #ffffff;
    color: #586262;
    border: 1px solid #586262;
    padding: 0 8px; }
    .sujdb-applicant-btn.download-resume.custom-line-height {
      line-height: 10px; }

.suj-dashboard-btn {
  background-color: #586262;
  border-radius: 20px;
  font-size: 9px;
  padding: 0 9px;
  margin-left: 4px;
  text-transform: capitalize;
  height: 30px; }
  .suj-dashboard-btn:hover, .suj-dashboard-btn:focus, .suj-dashboard-btn:active {
    background-color: #586262;
    color: #ffffff; }
  .suj-dashboard-btn.read-more {
    background-color: #ffffff;
    border: 1px solid #586262;
    color: #586262; }

.suj-more-btn {
  color: #f39c12;
  position: absolute;
  bottom: 20px; }
  .suj-more-btn:hover, .suj-more-btn:focus, .suj-more-btn:active {
    color: #f1c40f;
    text-decoration: underline; }

.applicant-info-btn {
  background-color: #ffffff;
  color: #f39c12;
  font-size: 10px;
  height: auto;
  line-height: 14px;
  padding: 6px 8px;
  text-transform: capitalize;
  display: inline-block; }
  .applicant-info-btn:hover, .applicant-info-btn:focus, .applicant-info-btn:active {
    background-color: #ffffff; }

.suj-fab {
  background-color: #f39c12;
  height: 56px;
  width: 56px;
  line-height: 56px; }
  .suj-fab i {
    line-height: 56px; }
  .suj-fab:hover, .suj-fab:active, .suj-fab:focus {
    background-color: #f1c40f; }

.suj-input-field-wrapper .input-field.invalid .form-message,
.suj-input-field-wrapper .input-field.invalid .prefix {
  color: #d9534f; }
.suj-input-field-wrapper .input-field.invalid input:not([type]):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="text"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="password"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="email"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="url"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="time"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="date"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="datetime"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="datetime-local"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="tel"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="number"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="search"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid textarea.materialize-textarea:not([readonly]) {
  border-color: #d9534f;
  box-shadow: 0 1px 0 0 #d9534f; }
.suj-input-field-wrapper .input-field.valid .form-message,
.suj-input-field-wrapper .input-field.valid .prefix {
  color: #5cb85c; }
.suj-input-field-wrapper .input-field.valid input:not([type]):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="text"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="password"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="email"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="url"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="time"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="date"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="datetime"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="datetime-local"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="tel"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="number"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="search"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid textarea.materialize-textarea:not([readonly]) {
  border-color: #5cb85c;
  box-shadow: 0 1px 0 0 #5cb85c; }
.suj-input-field-wrapper .input-field input.valid:focus:not([type]),
.suj-input-field-wrapper .input-field input.valid[type="text"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="password"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="email"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="url"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="time"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="date"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="datetime"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="datetime-local"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="tel"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="number"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="search"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field textarea.materialize-textarea.valid:focus,
.suj-input-field-wrapper .input-field .select-wrapper.valid > input.select-dropdown:focus {
  border-color: #f39c12;
  box-shadow: 0 1px 0 0 #f39c12; }

.input-field > .prefix ~ .form-message {
  padding-left: 3.8rem; }

.toggle-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .toggle-container .toggle {
    position: relative;
    display: table;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    margin: 1rem 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
    .toggle-container .toggle > input[type=radio] {
      display: none; }
      .toggle-container .toggle > input[type=radio] + label {
        cursor: pointer;
        width: 50%;
        height: auto !important;
        margin: 0;
        padding: 5px 10px;
        text-align: center;
        line-height: 30px;
        color: #f39c12;
        vertical-align: middle;
        z-index: 10;
        -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        float: left; }
        .toggle-container .toggle > input[type=radio] + label:before, .toggle-container .toggle > input[type=radio] + label:after {
          display: none; }
      .toggle-container .toggle > input[type=radio]:checked + label {
        color: #ffffff; }
    .toggle-container .toggle > label:first-child {
      padding-left: 5px; }
    .toggle-container .toggle > label:last-child {
      padding-right: 5px; }
    .toggle-container .toggle > .lever {
      position: absolute;
      top: 5px;
      left: calc(25% + 2.5px);
      height: calc(100% - 10px);
      width: calc(50% - 10px);
      background-color: #f39c12;
      border-radius: 5px;
      cursor: pointer;
      vertical-align: middle;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
      -webkit-transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s ease-in, box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s ease-in, box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      .toggle-container .toggle > .lever:hover {
        background-color: #f1c40f; }
      .toggle-container .toggle > .lever:before, .toggle-container .toggle > .lever:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        left: 15%;
        top: 20%;
        -webkit-transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
    .toggle-container .toggle > label:active ~ .lever::before, .toggle-container .toggle > label:focus ~ .lever::before {
      -webkit-transform: scale(2.4);
      transform: scale(2.4);
      background-color: rgba(241, 196, 15, 0.2); }
    .toggle-container .toggle > input[type=radio]:checked + label ~ .lever {
      opacity: 1;
      visibility: visible; }
    .toggle-container .toggle > input[type=radio]:checked + label:first-of-type ~ .lever {
      left: 5px; }
    .toggle-container .toggle > input[type=radio]:checked + label:last-of-type ~ .lever {
      left: calc(50% + 5px); }

.suj-cropper-crop-area, .suj-cropper-editor-wrapper, .suj-cropper-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }
.suj-cropper-editor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 1; }
  .suj-cropper-editor-wrapper > .crop-area {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .suj-cropper-editor-wrapper > .crop-area > img {
      max-width: 100%;
      vertical-align: middle;
      border-style: none; }
  .suj-cropper-editor-wrapper .img-preview {
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .suj-cropper-editor-wrapper .img-preview,
    .suj-cropper-editor-wrapper .img-preview img {
      max-width: 100%;
      max-height: 100%; }

.suj-cropper-container {
  position: fixed;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-height: none !important;
  background: rgba(10, 10, 10, 0.95);
  -ms-touch-action: none;
  touch-action: none; }
  .suj-cropper-container .modal-content {
    padding: 0; }
    .suj-cropper-container .modal-content > .preloader-container {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      height: 100% !important;
      background: rgba(10, 10, 10, 0.75);
      opacity: 0;
      visibility: hidden; }
      .suj-cropper-container .modal-content > .preloader-container > .preloader-area {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .suj-cropper-container .modal-content.preloader-active .crop-area {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px); }
    .suj-cropper-container .modal-content.preloader-active > .preloader-container {
      -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      opacity: 1;
      visibility: visible;
      z-index: 9999; }
    .suj-cropper-container .modal-content > .crop-action-btn {
      position: absolute; }
      .suj-cropper-container .modal-content > .crop-action-btn > .action-floating-btn-container .fixed-action-btn.horizontal {
        position: relative;
        right: 15px;
        bottom: 0; }
        .suj-cropper-container .modal-content > .crop-action-btn > .action-floating-btn-container .fixed-action-btn.horizontal > ul {
          right: 40px;
          top: 35%; }
      .suj-cropper-container .modal-content > .crop-action-btn.active > .action-floating-btn-container .fixed-action-btn.horizontal:not(.active) > ul > li > .btn-floating {
        opacity: 0 !important;
        transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px) !important; }
  .suj-cropper-container .modal-footer {
    background-color: transparent;
    border-top: 1px solid rgba(75, 75, 75, 0.5); }
    .suj-cropper-container .modal-footer > .modal-action {
      margin-left: 15px; }

.swal2-container > .swal2-popup {
  padding: 24px; }
  .swal2-container > .swal2-popup .swal2-content {
    color: #9c9c9c;
    margin: 0 0 15px !important; }
  .swal2-container > .swal2-popup .swal2-actions {
    justify-content: space-around; }
  .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn {
    display: block;
    margin: 0 10px 0 0;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #f39c12 !important;
    color: #ffffff !important; }
    .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn:hover, .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn:active {
      background-color: #f1c40f !important; }
    .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel {
      background-color: #9c9c9c !important; }
      .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel:hover, .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel:active, .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel:focus {
        background-color: #c6c6c6 !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-success {
  color: #5cb85c; }

a.text-success:hover,
a.text-success:focus {
  color: #449d44; }

.text-info {
  color: #31708f; }

a.text-info:hover,
a.text-info:focus {
  color: #245269; }

.text-warning {
  color: #f0ad4e; }

a.text-warning:hover,
a.text-warning:focus {
  color: #ec971f; }

.text-error {
  color: #d9534f; }

a.text-error:hover,
a.text-error:focus {
  color: #c9302c; }

.text-danger {
  color: #d9534f; }

a.text-danger:hover,
a.text-danger:focus {
  color: #c9302c; }

.suj-dashboard-header {
  margin-bottom: 25px; }

.suj-dashboard-container {
  display: flex;
  padding: 0 0 40px 1.5rem; }
  .suj-dashboard-container .left-content {
    flex: 1 1 auto;
    padding: 0;
    background-color: #ffffff; }
  .suj-dashboard-container .right-content {
    flex: 1 1 auto; }
  .suj-dashboard-container .input-field.col label {
    left: 0; }

.startup {
  display: block;
  text-align: center;
  padding: 24px 24px 10px;
  border-bottom: 1px solid #c6c6c6; }
  .startup h6 {
    color: #2699fb;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 30px 0 10px; }
  .startup .categories-title {
    font-weight: bold;
    font-size: 1.1rem;
    color: #9c9c9c;
    text-align: left; }
  .startup a {
    color: #2699fb; }

.startup-img {
  width: 120px;
  height: 120px;
  background-size: cover !important;
  margin: 0 auto; }

.startup-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 35px 0 40px; }
  .startup-btn-wrapper li:not(:first-child) {
    margin: 0 0 0 8px; }
  .startup-btn-wrapper .startup-btn {
    font-size: 0.7rem;
    background-color: transparent;
    padding: 0 0.5rem;
    text-transform: lowercase;
    line-height: 15px;
    color: #2699fb;
    border: 1px solid #88d5d1;
    border-radius: 4px; }

.suj-dashboard-nav {
  margin: 0;
  padding-bottom: 30px;
  border: none;
  box-shadow: none; }
  .suj-dashboard-nav > li {
    /* &:first-child {
    	padding: 0 22px 10px;
    	border-bottom: 1px solid $greyDashboard;
    } */ }
    .suj-dashboard-nav > li > a {
      color: #9c9c9c;
      display: block;
      border-right: 4px solid #ffffff;
      padding: 8px 8px 8px 22px; }
      .suj-dashboard-nav > li > a:hover, .suj-dashboard-nav > li > a:focus, .suj-dashboard-nav > li > a:active, .suj-dashboard-nav > li > a.active {
        border-color: #f39c12; }
    .suj-dashboard-nav > li.active > a {
      border-color: #f39c12; }
    .suj-dashboard-nav > li .collapsible-header {
      border-bottom: 0; }
    .suj-dashboard-nav > li .collapsible-body {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      box-shadow: none;
      background-color: #eee;
      padding: 6px 0;
      border-bottom: none; }
      .suj-dashboard-nav > li .collapsible-body li {
        min-height: 25px; }
        .suj-dashboard-nav > li .collapsible-body li a {
          color: #9c9c9c;
          font-size: 0.9rem;
          padding: 6px 34px;
          display: block;
          line-height: 22px; }
          .suj-dashboard-nav > li .collapsible-body li a:hover, .suj-dashboard-nav > li .collapsible-body li a:focus, .suj-dashboard-nav > li .collapsible-body li a:active {
            color: #f39c12; }
        .suj-dashboard-nav > li .collapsible-body li.active > a {
          color: #f39c12; }
      .suj-dashboard-nav > li .collapsible-body.active {
        display: block;
        opacity: 1; }
        .suj-dashboard-nav > li .collapsible-body.active li.active a {
          color: #f39c12; }

.suj-dashboard-content {
  padding: 0;
  margin: 0 0 30px;
  display: flex;
  clear: both; }
  .suj-dashboard-content:last-child {
    margin: 0; }
  .suj-dashboard-content .card {
    margin: 0;
    height: 100%; }
    .suj-dashboard-content .card .card-title {
      padding: 15px 18px;
      border-bottom: 1px solid #c6c6c6; }
      .suj-dashboard-content .card .card-title h6 {
        margin: 0;
        color: #9c9c9c;
        font-weight: bold;
        font-size: 14px; }
    .suj-dashboard-content .card .card-content {
      margin: 0;
      padding: 15px;
      position: relative;
      width: 100%; }
    .suj-dashboard-content .card .card-action {
      border-color: #c6c6c6;
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px; }
      .suj-dashboard-content .card .card-action p {
        text-align: right;
        padding: 9px 0 0;
        color: #9c9c9c;
        margin: 0;
        font-size: 12px; }
      .suj-dashboard-content .card .card-action .suj-dashboard-btn {
        float: right; }
    .suj-dashboard-content .card .col {
      padding: 0; }

.application-resume-wrapper .card, .suj-dashboard-article .card, .job-expiring-wrapper .card {
  padding-bottom: 70px; }

ul.application-resume {
  margin: 0;
  padding: 0; }
  ul.application-resume > li {
    padding-bottom: 16px;
    display: flex; }
  ul.application-resume .user-img {
    width: 30px;
    height: 30px; }
  ul.application-resume .user-info {
    font-size: 11px;
    padding-left: 8px !important; }
    ul.application-resume .user-info a {
      color: #9c9c9c;
      font-weight: bold; }
    ul.application-resume .user-info p {
      color: #9c9c9c; }
      ul.application-resume .user-info p a {
        font-weight: normal; }
        ul.application-resume .user-info p a:hover {
          text-decoration: underline; }
  ul.application-resume .applicant-btn-wrapper {
    display: flex; }

.suj-dashboard-article {
  display: flex;
  padding: 0 !important; }
  .suj-dashboard-article .credit-wrapper .card-content {
    padding: 0; }
  .suj-dashboard-article .credit-content {
    color: #9c9c9c;
    padding: 24px; }
    .suj-dashboard-article .credit-content:first-child {
      border-bottom: 1px solid #c6c6c6; }
    .suj-dashboard-article .credit-content h5 {
      margin: 0;
      font-weight: bold;
      font-size: 18px; }
    .suj-dashboard-article .credit-content h3 {
      margin: 0;
      font-size: 48px; }
    .suj-dashboard-article .credit-content .row {
      margin: 15px 0 0; }
  .suj-dashboard-article .article-wrapper .card-image {
    /*width: 100%;
    height: 20vh;*/
    position: relative; }
    .suj-dashboard-article .article-wrapper .card-image .writer-wrapper {
      position: absolute;
      left: 20px;
      top: 20px;
      z-index: 9;
      width: 100%;
      padding-right: 40px; }
      .suj-dashboard-article .article-wrapper .card-image .writer-wrapper h6 {
        margin: 0 0 5px;
        color: #ffffff;
        font-weight: 800;
        font-size: 12px; }
      .suj-dashboard-article .article-wrapper .card-image .writer-wrapper p {
        color: #ffffff;
        margin: 0;
        font-size: 11px; }
    .suj-dashboard-article .article-wrapper .card-image .writer {
      width: 42px;
      height: 42px;
      border-radius: 50% !important; }
    .suj-dashboard-article .article-wrapper .card-image .overlay {
      background-color: #000;
      opacity: 0.4;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%; }
    .suj-dashboard-article .article-wrapper .card-image img {
      position: relative; }
  .suj-dashboard-article .article-wrapper .card-content {
    padding: 15px 24px; }
  .suj-dashboard-article .article-wrapper h5 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 14px; }
    .suj-dashboard-article .article-wrapper h5 a {
      color: #9c9c9c; }
      .suj-dashboard-article .article-wrapper h5 a:hover {
        text-decoration: underline; }
  .suj-dashboard-article .article-wrapper p {
    font-size: 12px;
    color: #9c9c9c; }

		/* path {
            stroke: $suj-color;
            stroke-width: 3;
            fill: none;
        }
        .axis path, .axis line {
            fill: none;
            stroke: $darkGrey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .axis text {
        	font-family: "Roboto";
        	font-size: 13px;
        } */
.view-applicants-search .select-wrapper span.caret {
  color: #c6c6c6; }
.view-applicants-search .select-wrapper input.select-dropdown {
  color: #c6c6c6;
  font-size: 14px; }
.view-applicants-search .dropdown-content {
  top: 53px !important; }
  .view-applicants-search .dropdown-content li span {
    font-size: 14px; }

.view-applicants-wrapper {
  margin: 0; }
  .view-applicants-wrapper .card-content {
    padding: 0 !important;
    display: flex; }

.view-applicants-image {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; }
  .view-applicants-image .user-img {
    width: 100px;
    height: 100px; }

.view-applicants-content {
  padding: 18px 0 !important;
  color: #9c9c9c; }
  .view-applicants-content .row {
    margin-bottom: 0; }
  .view-applicants-content h6 {
    font-size: 14px;
    font-weight: 600; }
    .view-applicants-content h6 > a {
      color: #9c9c9c;
      padding-right: 8px; }
      .view-applicants-content h6 > a:hover, .view-applicants-content h6 > a:active, .view-applicants-content h6 > a:focus {
        color: #f39c12; }
    .view-applicants-content h6 span {
      margin-right: 4px; }
  .view-applicants-content p {
    font-size: 14px;
    padding-right: 10px; }
    .view-applicants-content p span {
      font-weight: 600; }
    .view-applicants-content p a {
      color: #9c9c9c; }
      .view-applicants-content p a:hover, .view-applicants-content p a:focus, .view-applicants-content p a:active {
        color: #9c9c9c;
        text-decoration: underline; }
  .view-applicants-content .personal-info {
    display: inline-block;
    margin-top: 8px; }
  .view-applicants-content .applicant-info-btn {
    font-size: 10px !important;
    padding: 6px 8px !important; }

.applicant-info-btn-wrapper {
  margin-top: 8px; }

.applicant-options-wrapper {
  display: flex;
  background-color: #f2f2f2; }

.applicant-options {
  background-color: #f2f2f2;
  width: 100%;
  align-self: center; }
  .applicant-options li {
    border-bottom: 1px solid #c6c6c6; }
    .applicant-options li:first-child {
      border-top: 1px solid #c6c6c6; }
    .applicant-options li a {
      display: block;
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: #9c9c9c; }
      .applicant-options li a:hover, .applicant-options li a:focus, .applicant-options li a:active {
        color: #f39c12; }

.applicant-pagination-wrapper {
  margin-bottom: 0;
  text-align: center;
  /*nav {
      background-color: transparent;
      box-shadow: none;
  }*/ }
  .applicant-pagination-wrapper .pagination {
    margin: 0; }
    .applicant-pagination-wrapper .pagination li.active {
      background-color: #f39c12; }
    .applicant-pagination-wrapper .pagination li a {
      font-size: 16px; }

.suj-postjob-wrapper form > .col, .suj-postjob-wrapper > .col {
  padding: 0; }
.suj-postjob-wrapper .select-wrapper span.caret {
  color: #c6c6c6; }
.suj-postjob-wrapper .select-wrapper input.select-dropdown {
  color: #c6c6c6;
  font-size: 14px; }
.suj-postjob-wrapper .dropdown-content {
  top: 53px !important; }
  .suj-postjob-wrapper .dropdown-content li span {
    font-size: 14px; }
.suj-postjob-wrapper [type="checkbox"] + label, .suj-postjob-wrapper input[type="text"]:not(.browser-default), .suj-postjob-wrapper input[type="password"]:not(.browser-default), .suj-postjob-wrapper input[type="email"]:not(.browser-default), .suj-postjob-wrapper input[type="url"]:not(.browser-default) input[type="search"]:not(.browser-default) {
  font-size: 14px; }
.suj-postjob-wrapper .chips.focus {
  box-shadow: 0 1px 0 0 #f39c12;
  border-color: #f39c12; }

.job-detail-wrapper .card-content > .row {
  margin-bottom: 15px; }
.job-detail-wrapper h6 {
  margin: 0 0 15px;
  color: #9c9c9c;
  font-size: 0.8rem; }
.job-detail-wrapper .postjob-check {
  margin-left: 15px;
  margin-top: 32px; }
.job-detail-wrapper .jobtype-wrapper > .col {
  margin-bottom: 10px; }
.job-detail-wrapper p.salary-divider {
  text-align: center;
  padding-top: 20px; }

.wysiwyg-editor {
  padding: 30px !important; }
  .wysiwyg-editor .editor-note {
    text-align: right;
    padding: 0 0 7px;
    color: #9c9c9c; }
  .wysiwyg-editor .ql-container {
    min-height: 150px; }

.filter-send-wrapper p {
  font-size: 14px;
  color: #9c9c9c !important; }
  .filter-send-wrapper p.note {
    margin-bottom: 10px !important; }

.button-action-wrapper {
  padding: 10px 0 35px;
  display: flex; }

.button-action-container {
  margin: 0 auto; }
  .button-action-container .button-action {
    background-color: #f39c12;
    color: #ffffff;
    text-transform: capitalize;
    display: inline-block;
    margin-right: 8px;
    font-size: 14px; }
    .button-action-container .button-action:hover, .button-action-container .button-action:focus, .button-action-container .button-action:active {
      background-color: #f1c40f; }

.credit-balance-wrapper {
  color: #9c9c9c; }
  .credit-balance-wrapper h6 {
    margin: 0;
    font-weight: bold;
    font-size: 17px; }
  .credit-balance-wrapper .card {
    padding-bottom: 70px; }
  .credit-balance-wrapper .card-content {
    padding: 15px 15px 25px !important; }
  .credit-balance-wrapper .card-action p {
    display: inline;
    font-size: 13px !important; }
  .credit-balance-wrapper .card-action button {
    display: inline; }
  .credit-balance-wrapper .credit-btn {
    background-color: #f39c12;
    color: #ffffff;
    padding: 0 20px;
    min-width: 96px;
    text-transform: capitalize;
    font-size: 14px; }
    .credit-balance-wrapper .credit-btn.grey-btn {
      background-color: #9c9c9c; }
      .credit-balance-wrapper .credit-btn.grey-btn:hover, .credit-balance-wrapper .credit-btn.grey-btn:focus, .credit-balance-wrapper .credit-btn.grey-btn:active {
        background-color: #c6c6c6; }
    .credit-balance-wrapper .credit-btn:hover, .credit-balance-wrapper .credit-btn:focus, .credit-balance-wrapper .credit-btn:active {
      background-color: #f1c40f; }

.all-jobs-wrapper.suj-dashboard-content {
  display: block; }
.all-jobs-wrapper .card-content {
  padding: 30px 15px 80px !important; }
.all-jobs-wrapper .sujdb-applicant-btn {
  display: inline;
  font-size: 13px;
  min-width: 115px; }

ul.all-jobs-content {
  margin: 0;
  padding: 0; }
  ul.all-jobs-content > li {
    display: flex; }
  ul.all-jobs-content .job-info a {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: bold; }
    ul.all-jobs-content .job-info a:hover, ul.all-jobs-content .job-info a:focus, ul.all-jobs-content .job-info a:active {
      color: #f39c12; }
  ul.all-jobs-content .job-info p {
    color: #9c9c9c;
    font-size: 14px; }
  ul.all-jobs-content .sujdb-applicant-btn {
    padding: 10px 16px; }
    ul.all-jobs-content .sujdb-applicant-btn.download-resume {
      padding: 10px 20px; }

.suj-resume-button-inline {
  padding-top: 10px !important; }
  .suj-resume-button-inline ul {
    float: right; }
    .suj-resume-button-inline ul li {
      display: inline-block; }

.suj-resumedb-detail-wrapper {
  color: #9c9c9c; }
  .suj-resumedb-detail-wrapper .suj-dashboard-content {
    display: block; }
  .suj-resumedb-detail-wrapper .suj-resumedb-detail-btn {
    background-color: #f39c12;
    color: #ffffff;
    font-size: 14px;
    margin-right: 8px;
    text-transform: capitalize;
    white-space: normal; }

.suj-resumedb-detail-name-card .card-content {
  padding: 20px 15px !important; }
.suj-resumedb-detail-name-card .user-img {
  width: 70px;
  height: 70px; }
.suj-resumedb-detail-name-card .user-preview {
  padding-left: 8px !important; }
.suj-resumedb-detail-name-card h5 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem; }
.suj-resumedb-detail-name-card p {
  margin-bottom: 15px !important; }

.suj-resumedb-detail-name-card-btn-wrapper {
  position: relative; }
  .suj-resumedb-detail-name-card-btn-wrapper .suj-resumedb-detail-btn {
    padding: 10px;
    height: auto;
    line-height: 20px;
    margin-right: 3px; }
    .suj-resumedb-detail-name-card-btn-wrapper .suj-resumedb-detail-btn.dropdown-button {
      background-color: #ffffff;
      color: #f39c12;
      border: 1px solid #f39c12; }
  .suj-resumedb-detail-name-card-btn-wrapper .dropdown-content {
    top: 50px !important;
    min-width: 155px; }
    .suj-resumedb-detail-name-card-btn-wrapper .dropdown-content li > a {
      font-size: 14px;
      color: #f39c12; }

.suj-resumedb-detail-data-card {
  margin-top: 25px; }
  .suj-resumedb-detail-data-card .about-title {
    margin-bottom: 15px; }
    .suj-resumedb-detail-data-card .about-title .material-icons {
      position: relative;
      top: 5px;
      margin-right: 8px; }
  .suj-resumedb-detail-data-card .collection {
    border: none;
    margin: 0; }
  .suj-resumedb-detail-data-card .collection-item {
    border-style: dotted;
    border-width: 0 0 2px; }
    .suj-resumedb-detail-data-card .collection-item h6 {
      color: #f39c12;
      font-size: 13px; }

.suj-resumedb-detail-panel .card {
  display: flex; }
.suj-resumedb-detail-panel .card-title {
  padding: 0 !important;
  width: 100%; }
.suj-resumedb-detail-panel .card-content.form-note-editor-container {
  padding: 0 !important;
  padding-bottom: 65px !important; }
.suj-resumedb-detail-panel .tabs {
  display: flex;
  justify-content: center; }
  .suj-resumedb-detail-panel .tabs .tab a {
    padding: 0 40px;
    text-transform: capitalize;
    color: #f39c12; }
  .suj-resumedb-detail-panel .tabs .indicator {
    background-color: #f39c12; }
.suj-resumedb-detail-panel .tab-content .card {
  padding: 25px; }
  .suj-resumedb-detail-panel .tab-content .card h6.title {
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 20px; }
  .suj-resumedb-detail-panel .tab-content .card .empty-bottom-space {
    margin-bottom: 0; }

.suj-resumedb-detail-new-note-tab {
  background-color: #f4f7fa !important;
  padding: 0 !important; }
  .suj-resumedb-detail-new-note-tab .new-note-editor-wrapper {
    background-color: #ffffff;
    display: table;
    width: 100%; }
    .suj-resumedb-detail-new-note-tab .new-note-editor-wrapper .ql-container {
      min-height: 100px; }
  .suj-resumedb-detail-new-note-tab .new-note-comment {
    margin: 0;
    padding: 0; }
    .suj-resumedb-detail-new-note-tab .new-note-comment > li {
      background-color: transparent;
      border-left: 2px dotted rgba(0, 0, 0, 0.125);
      margin: 0 0 0 3rem;
      padding: 25px 0 0 3rem;
      position: relative; }
      .suj-resumedb-detail-new-note-tab .new-note-comment > li form.form-note-editor {
        display: none;
        padding-top: 25px; }
      .suj-resumedb-detail-new-note-tab .new-note-comment > li:first-child {
        padding-top: 45px; }
        .suj-resumedb-detail-new-note-tab .new-note-comment > li:first-child::before {
          top: 50px; }
      .suj-resumedb-detail-new-note-tab .new-note-comment > li::before {
        background-color: #4c6f8b;
        border-radius: 20px;
        color: #ffffff;
        content: "\e067";
        font-family: "typicons";
        font-size: 1.8rem;
        height: 40px;
        left: -20px;
        padding: 0 0 0 3px;
        position: absolute;
        text-align: center;
        top: 30px;
        width: 40px; }
    .suj-resumedb-detail-new-note-tab .new-note-comment .user-img {
      width: 56px;
      height: 56px; }
    .suj-resumedb-detail-new-note-tab .new-note-comment .comment-wrapper {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #c6c6c6; }
    .suj-resumedb-detail-new-note-tab .new-note-comment p.date {
      color: #f39c12; }
    .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn-wrapper {
      display: flex;
      justify-content: flex-end; }
      .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn-wrapper .dropdown-content {
        top: 33px !important; }
        .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn-wrapper .dropdown-content li > a {
          color: #f39c12;
          font-size: 14px; }
    .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn {
      background-color: transparent;
      color: #f39c12;
      text-transform: capitalize;
      box-shadow: none;
      padding: 0 10px;
      font-size: 15px;
      height: auto;
      line-height: 23px;
      white-space: normal; }
      .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn:hover, .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn:focus, .suj-resumedb-detail-new-note-tab .new-note-comment .comment-btn:active {
        color: #f1c40f; }

.suj-resumedb-detail-profile-content .user-experience {
  display: table;
  width: 100%; }
  .suj-resumedb-detail-profile-content .user-experience > li {
    margin: 0 0 20px;
    display: inline-block; }
    .suj-resumedb-detail-profile-content .user-experience > li h6 {
      margin: 0 0 8px;
      line-height: 20px; }
    .suj-resumedb-detail-profile-content .user-experience > li p {
      margin: 10px 0; }
  .suj-resumedb-detail-profile-content .user-experience .user-img {
    width: 70px;
    height: 70px; }
.suj-resumedb-detail-profile-content .user-list {
  padding-left: 13px; }
  .suj-resumedb-detail-profile-content .user-list > li {
    list-style-type: disc;
    padding-left: 5px; }

.suj-resumedb-detail-skills-content .skill-list li {
  margin: 0; }

.create-task-btn-wrapper {
  display: flex;
  justify-content: flex-end; }

.candidate-search-wrapper {
  padding: 0 0.75rem; }
  .candidate-search-wrapper .card-content {
    padding: 15px 30px !important; }

.search-form-wrapper {
  margin: 0; }

.candidate-title {
  margin: 0;
  padding: 30px 0 0 !important;
  font-weight: 600;
  font-size: 16px; }

.candidate-search-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 23px !important; }
  .candidate-search-btn-wrapper .expand-toggle .btn-text::after {
    font-family: "typicons";
    content: "\e01d"; }
  .candidate-search-btn-wrapper .expand-toggle .expanded .btn-text::after {
    content: "\e01e"; }

.advance-search-wrapper {
  margin: 0; }

.advance-search-container {
  display: none;
  padding: 0 0 25px; }
  .advance-search-container > li.row {
    margin-bottom: 0; }
    .advance-search-container > li.row.input-field {
      margin-top: 0; }
  .advance-search-container h6.search-title {
    margin: 0;
    padding-top: 15px; }
  .advance-search-container .chips.focus {
    border-color: #f39c12;
    box-shadow: 0 1px 0 0 #f39c12; }
  .advance-search-container .select-wrapper span.caret {
    color: #9c9c9c; }
  .advance-search-container .select-wrapper .dropdown-content {
    top: 53px !important; }
    .advance-search-container .select-wrapper .dropdown-content li > span {
      font-size: 14px; }
  .advance-search-container [type="radio"]:checked + label::after, .advance-search-container .with-gap[type="radio"]:checked + label::after {
    background-color: #f39c12; }
  .advance-search-container [type="radio"]:not(:checked) + label::before, .advance-search-container [type="radio"]:not(:checked) + label::after {
    border-color: #9c9c9c; }
  .advance-search-container [type="radio"]:checked + label::after, .advance-search-container .with-gap[type="radio"]:checked + label::before, .advance-search-container .with-gap[type="radio"]:checked + label::after {
    border-color: #f39c12; }
  .advance-search-container .gender-content {
    display: flex;
    flex-direction: row; }
    .advance-search-container .gender-content p {
      padding: 10px 20px 0 0; }
  .advance-search-container [type="radio"] + label::before, .advance-search-container [type="radio"] + label::after {
    left: -5px; }
  .advance-search-container [type="radio"]:not(:checked) + label, .advance-search-container [type="radio"]:checked + label {
    padding-left: 30px; }
  .advance-search-container .noUi-connect, .advance-search-container .noUi-target.noUi-horizontal .noUi-tooltip, .advance-search-container .noUi-horizontal .noUi-handle, .advance-search-container .noUi-vertical .noUi-handle {
    background-color: #f39c12; }
  .advance-search-container .search-slider {
    margin-top: 45px; }
  .advance-search-container h6.search-slider-title {
    margin: 0;
    padding-bottom: 25px; }
  .advance-search-container .right-space {
    padding-right: 40px !important; }
  .advance-search-container .left-space {
    padding-left: 40px !important; }

.candidate-search-btn {
  background-color: #f39c12;
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 5px;
  white-space: normal !important; }
  .candidate-search-btn:hover, .candidate-search-btn:focus, .candidate-search-btn:active {
    background-color: #f1c40f;
    color: #ffffff; }

.display-result {
  margin: 0;
  padding: 10px 0 0 0.75rem; }
  .display-result h6 {
    padding-top: 13px;
    margin: 0; }
  .display-result .select-wrapper span.caret {
    color: #9c9c9c; }
  .display-result .select-wrapper .dropdown-content {
    top: 53px !important; }
    .display-result .select-wrapper .dropdown-content li > span {
      font-size: 14px; }

.candidate-result-container .month-salary {
  font-size: 11px;
  font-weight: normal;
  padding-left: 8px; }
.candidate-result-container .applicant-options-wrapper {
  background-color: #f2f2f2; }

.profile-social-media-wrapper.suj-dashboard-content {
  display: block; }

.profile-social-media-content {
  margin: 15px 0 0; }
  .profile-social-media-content h6 {
    margin: 0;
    font-weight: 600;
    color: #9c9c9c; }
    .profile-social-media-content h6 a {
      color: #9c9c9c; }
      .profile-social-media-content h6 a:hover, .profile-social-media-content h6 a:focus, .profile-social-media-content h6 a:active {
        color: #f39c12; }
  .profile-social-media-content p.date {
    margin: 7px 0 0;
    color: #9c9c9c;
    font-size: 13px; }
  .profile-social-media-content .sujdb-applicant-btn {
    display: inline;
    font-size: 13px;
    line-height: 10px !important;
    min-width: 120px; }

.profile-team-wrapper.suj-dashboard-content {
  display: block; }
.profile-team-wrapper .card-content {
  padding-bottom: 70px !important; }
.profile-team-wrapper .sujdb-applicant-btn {
  display: inline;
  font-size: 13px;
  min-width: 115px; }

.profile-team-content {
  margin: 15px 0 0; }
  .profile-team-content .user-img {
    width: 60px;
    height: 60px; }
  .profile-team-content .user-email {
    color: #9c9c9c; }
    .profile-team-content .user-email:hover, .profile-team-content .user-email:focus, .profile-team-content .user-email:active {
      color: #f39c12; }
  .profile-team-content h6 {
    margin: 0;
    font-weight: 600;
    color: #9c9c9c; }

.profile-gallery-wrapper.suj-dashboard-content {
  display: block; }
.profile-gallery-wrapper .card-content {
  padding-bottom: 70px !important; }

/* ========= STARTUP PROFILE ========= */
.suj-dashboard-wrapper .suj-startup-photo-wrapper {
  position: relative;
  margin-bottom: 60px; }
.suj-dashboard-wrapper .suj-cover-photo-wrapper {
  overflow: hidden; }
  .suj-dashboard-wrapper .suj-cover-photo-wrapper .cover-photo {
    width: 100%; }
.suj-dashboard-wrapper .suj-profile-photo-wrapper {
  position: absolute;
  bottom: -40px;
  left: 25px;
  /* margin-top: -90px;
  margin-left: 20px;
  margin-bottom: 40px;
  background-size: cover !important; */ }
  .suj-dashboard-wrapper .suj-profile-photo-wrapper .startup-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%; }
.suj-dashboard-wrapper .suj-upload-banner-btn-wrapper {
  float: right;
  position: absolute;
  right: 25px;
  bottom: 25px;
  opacity: 0.6;
  background-color: #ecf0f1;
  padding: 2px 4px; }
  .suj-dashboard-wrapper .suj-upload-banner-btn-wrapper .input-field {
    margin-top: 0;
    line-height: 11px; }
  .suj-dashboard-wrapper .suj-upload-banner-btn-wrapper span {
    bottom: 7px;
    padding-right: 5px;
    position: relative; }
  .suj-dashboard-wrapper .suj-upload-banner-btn-wrapper.logo-upload {
    right: -40px;
    bottom: 0; }
.suj-dashboard-wrapper.suj-company-dashboard-profile.suj-company-dashboard-profile-container .card {
  height: auto !important; }
.suj-dashboard-wrapper.suj-company-dashboard-profile.suj-company-dashboard-profile-container .suj-form-top-bottom-margin {
  padding: 50px; }

.suj-profile-wrapper.suj-dashboard-content {
  display: block; }

.setting-password-wrapper.suj-dashboard-content {
  display: block; }
.setting-password-wrapper .card-title p {
  font-size: 13px;
  padding: 8px 0 0;
  margin: 0;
  color: #9c9c9c; }
.setting-password-wrapper .card-content {
  padding-bottom: 50px !important; }

.setting-password-content h6 {
  color: #9c9c9c;
  font-weight: 600;
  margin: 30px 40px 0 0;
  text-align: right; }

.save-password-btn-wrapper {
  display: flex;
  margin-top: 35px; }

.save-password-btn {
  background-color: #f39c12;
  color: #ffffff;
  text-transform: capitalize; }
  .save-password-btn:hover, .save-password-btn:active, .save-password-btn:focus {
    background-color: #f1c40f; }

.setting-user-management-wrapper.suj-dashboard-content {
  display: block; }
.setting-user-management-wrapper .card-content {
  padding-bottom: 50px !important; }
  .setting-user-management-wrapper .card-content h6 {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: 600;
    margin: 15px 0 0; }
.setting-user-management-wrapper .add-member-btn {
  background-color: #f39c12;
  color: #ffffff;
  margin-top: 25px;
  width: 100%;
  text-transform: capitalize; }
  .setting-user-management-wrapper .add-member-btn:hover, .setting-user-management-wrapper .add-member-btn:focus, .setting-user-management-wrapper .add-member-btn:active {
    background-color: #f1c40f; }

.setting-user-management-content {
  margin: 0; }
  .setting-user-management-content .select-wrapper span.caret {
    color: #9c9c9c; }
  .setting-user-management-content .select-wrapper input.select-dropdown {
    font-size: 14px;
    color: #9c9c9c; }
  .setting-user-management-content .dropdown-content {
    top: 50px !important; }
    .setting-user-management-content .dropdown-content li a, .setting-user-management-content .dropdown-content li span {
      font-size: 13px; }
  .setting-user-management-content .current-member {
    margin-top: 19px;
    color: #9c9c9c; }
    .setting-user-management-content .current-member .material-icons {
      position: relative;
      top: 5px;
      margin-right: 8px; }
  .setting-user-management-content .del-member-trigger-btn {
    display: flex;
    justify-content: center; }
    .setting-user-management-content .del-member-trigger-btn a {
      background-color: transparent;
      color: #9c9c9c;
      margin-top: 30px;
      cursor: pointer; }
      .setting-user-management-content .del-member-trigger-btn a .material-icons {
        font-weight: bold;
        font-size: 26px; }
  .setting-user-management-content .del-member-modal {
    top: 40% !important;
    width: 30%; }
    .setting-user-management-content .del-member-modal p {
      text-align: center;
      color: #9c9c9c;
      margin: 0 0 15px; }
  .setting-user-management-content .del-member-btn-wrapper {
    display: flex;
    justify-content: center; }
  .setting-user-management-content .del-member-btn {
    margin-right: 10px;
    background-color: #f39c12;
    color: #ffffff;
    text-transform: capitalize; }
    .setting-user-management-content .del-member-btn.grey-btn {
      background-color: #9c9c9c; }
      .setting-user-management-content .del-member-btn.grey-btn:hover, .setting-user-management-content .del-member-btn.grey-btn:focus, .setting-user-management-content .del-member-btn.grey-btn:active {
        background-color: #c6c6c6; }
    .setting-user-management-content .del-member-btn:hover, .setting-user-management-content .del-member-btn:focus, .setting-user-management-content .del-member-btn:active {
      background-color: #f1c40f; }

.user-management-btn-wrapper {
  margin: 0;
  display: flex;
  justify-content: center; }
  .user-management-btn-wrapper .add-member-btn {
    width: auto; }

.setting-payment-wrapper {
  	/*.card-title {
  		text-align: center;
  		padding: 35px 24px 24px;
  
  		h6 {
  			font-size: 22px;
  			margin: 0;
  			color: $darkGrey;
  			font-weight: 600;
  		}
  
  		p {
  			font-size: 14px;
  			padding: 8px 0 0;
  			margin: 0;
  			color: $darkGrey;
  			text-align: center;
  		}
  	}*/ }
  .setting-payment-wrapper > .col {
    padding: 0;
    height: 100%; }
  .setting-payment-wrapper .suj-dashboard-content {
    height: 100%; }
  .setting-payment-wrapper .card-content {
    padding: 20px 15px 50px !important; }

.setting-payment-container {
  clear: both;
  display: flex;
  margin: 0;
  padding: 0; }
  .setting-payment-container .card {
    margin: 0;
    height: 100%; }

.payment-tabs {
  height: auto;
  margin-bottom: 25px; }
  .payment-tabs li.tab {
    line-height: 10px;
    height: auto;
    padding: 0 5px; }
    .payment-tabs li.tab a {
      padding: 30px 20px; }
      .payment-tabs li.tab a:hover, .payment-tabs li.tab a:focus, .payment-tabs li.tab a:active, .payment-tabs li.tab a.active {
        border: none; }
    .payment-tabs li.tab img {
      width: 100%; }
  .payment-tabs .indicator {
    background-color: transparent; }

.payment-form-panel {
  padding: 0 18px !important;
  /* .select-wrapper {
  	input.select-dropdown, .caret {
  		color: $darkGrey;
  	}
  } */ }
  .payment-form-panel h6 {
    color: #9c9c9c;
    font-weight: 600;
    font-size: 15px;
    padding: 0 0 20px;
    margin: 0; }
  .payment-form-panel .input-field {
    margin-top: 20px; }
  .payment-form-panel .dropdown-content {
    top: 50px !important; }
    .payment-form-panel .dropdown-content li a, .payment-form-panel .dropdown-content li span {
      font-size: 13px; }
  .payment-form-panel .empty-space-left {
    padding-left: 0; }
  .payment-form-panel .empty-space-right {
    padding-right: 0; }
  .payment-form-panel .add-space-top {
    padding-top: 14px; }
  .payment-form-panel .billing-image {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #9c9c9c;
    border-radius: 4px; }
  .payment-form-panel .expire-date h6 {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 0; }
  .payment-form-panel .expire-date > .row {
    margin-bottom: 14px; }

.save-payment-btn {
  background-color: #f39c12;
  color: #ffffff;
  display: block;
  margin: 0 auto; }
  .save-payment-btn:hover, .save-payment-btn:active, .save-payment-btn:focus {
    background-color: #f1c40f; }

.setting-purchase-wrapper {
  color: #9c9c9c; }
  .setting-purchase-wrapper .card {
    height: 100% !important; }
  .setting-purchase-wrapper .card-title h6 {
    text-align: left; }
  .setting-purchase-wrapper h5 {
    font-weight: 600;
    margin: 0;
    padding: 15px 0 10px;
    font-size: 20px; }
  .setting-purchase-wrapper p.note {
    font-size: 12px;
    font-weight: bold; }

.setting-ad-content {
  text-align: center; }
  .setting-ad-content li {
    background-color: #dddddd;
    padding: 15px 0;
    margin-bottom: 5px; }
    .setting-ad-content li p {
      font-weight: 600; }

.purchase-btn {
  background-color: #9c9c9c;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  text-transform: capitalize; }
  .purchase-btn:hover, .purchase-btn:active, .purchase-btn:focus, .purchase-btn.active {
    background-color: #f39c12; }

.purchase-form-content {
  display: block; }
  .purchase-form-content .purchase-image {
    width: 90px;
    height: 90px; }
    .purchase-form-content .purchase-image img {
      width: 100%;
      background-color: #c6c6c6; }
  .purchase-form-content h6 {
    font-weight: 600; }
  .purchase-form-content p {
    font-size: 14px; }
  .purchase-form-content li {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 20px; }

.purchase-quantity-wrapper {
  border: 2px solid #f39c12;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px; }
  .purchase-quantity-wrapper button {
    background-color: #dddddd;
    font-size: 19px;
    height: 32px;
    line-height: 32px; }
    .purchase-quantity-wrapper button:hover, .purchase-quantity-wrapper button:focus, .purchase-quantity-wrapper button:active {
      background-color: #dddddd; }
  .purchase-quantity-wrapper input.purchase-quantity-field {
    text-align: center;
    border: none;
    height: auto;
    margin: 0;
    padding-top: 7px !important; }

.purchase-options-btn {
  background-color: transparent;
  color: #9c9c9c;
  box-shadow: none;
  text-transform: lowercase;
  padding: 0 10px;
  float: right; }
  .purchase-options-btn:hover, .purchase-options-btn:focus, .purchase-options-btn:active {
    background-color: transparent;
    color: #f39c12;
    box-shadow: none; }

.modal-purchase-del {
  top: 40% !important;
  width: 30%; }
  .modal-purchase-del p {
    text-align: center;
    color: #9c9c9c;
    margin: 0 0 15px !important; }

.del-purchase-btn-wrapper {
  display: flex;
  justify-content: center; }
  .del-purchase-btn-wrapper .save-payment-btn {
    margin: 0 10px 0 0;
    text-transform: capitalize; }
    .del-purchase-btn-wrapper .save-payment-btn.grey-btn {
      background-color: #9c9c9c; }
      .del-purchase-btn-wrapper .save-payment-btn.grey-btn:hover, .del-purchase-btn-wrapper .save-payment-btn.grey-btn:focus, .del-purchase-btn-wrapper .save-payment-btn.grey-btn:active {
        background-color: #c6c6c6; }

.promotion-code-wrapper [type="checkbox"]:checked + label::before {
  border-color: transparent #f39c12 #f39c12 transparent; }
.promotion-code-wrapper [type="checkbox"] + label::before, .promotion-code-wrapper [type="checkbox"]:not(.filled-in) + label::after {
  border-color: #9c9c9c; }
.promotion-code-wrapper [type="checkbox"]:disabled:not(:checked) + label::before {
  background-color: #f39c12; }

.purchase-total-wrapper {
  margin-top: 30px; }
  .purchase-total-wrapper .row {
    margin-bottom: 10px; }

.purchase-total-title {
  font-size: 14px;
  text-align: right;
  padding-right: 20px !important; }

.purchase-total-cost p {
  font-size: 17px;
  font-weight: 600; }

.purchase-total-btn-wrapper {
  display: flex;
  justify-content: center; }

/* GLOBAL */
.suj-custom-style {
  /* JOB APPLIED HISTORY */
  /* JOB SEEKER PERSONAL PARTICULAR */ }
  .suj-custom-style .suj-form-top-bottom-margin {
    padding: 50px; }
  .suj-custom-style .suj-dashboard-content .card {
    height: auto; }
  .suj-custom-style .applied-job-result-container {
    display: flex;
    flex-wrap: wrap; }
    .suj-custom-style .applied-job-result-container > li {
      display: flex;
      float: none;
      margin-left: unset !important; }
  .suj-custom-style .suj-applied-job-card {
    display: flex;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    flex-direction: column; }
    .suj-custom-style .suj-applied-job-card > .card-content {
      flex: 1 0 auto; }
  .suj-custom-style .suj-job-history-item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px; }
  .suj-custom-style .suj-job-applied-country {
    font-weight: 300;
    padding-bottom: 45px; }
  .suj-custom-style .suj-job-applied-days {
    font-weight: 300; }
  .suj-custom-style .suj-job-applied-image {
    width: 100%; }
  .suj-custom-style .padding-right-x0 {
    padding-right: 30px !important; }
  .suj-custom-style .padding-right-x0 li {
    display: inline-block; }

/* DASHBOARD */
ul.application-resume.application-jobseeker .user-img {
  width: 70px;
  height: 70px; }
ul.application-resume.application-jobseeker .user-info {
  font-size: 14px;
  padding-left: 0 !important;
  padding-top: 10px; }

.suj-dashboard-article.application-jobseeker .suj-dashboard-btn {
  padding: 0 20px;
  font-size: 13px; }

.sujdb-event-wrapper .suj-event-list-wrapper {
  padding: 50px; }
.sujdb-event-wrapper .suj-event-dashboard-header {
  background-color: #546E7A; }
.sujdb-event-wrapper .suj-event-dashboard-header__content {
  padding: 20px; }
.sujdb-event-wrapper .suj-event-dashboard-header h5 {
  color: #ffffff; }
.sujdb-event-wrapper .item-info .suj-event-label {
  margin: 0 0 0 10px; }
.sujdb-event-wrapper .suj-envent__draft {
  background-color: #f1c40f;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px; }
.sujdb-event-wrapper .suj-envent__trial {
  background-color: #f42;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px; }
.sujdb-event-wrapper .suj-envent__published {
  background-color: #2ecc71;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px; }
.sujdb-event-wrapper .suj-envent__on_review {
  background-color: #3498db;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px; }
.sujdb-event-wrapper .item-info i {
  padding-right: 5px; }
.sujdb-event-wrapper .event-notice-header {
  text-align: center; }
.sujdb-event-wrapper .event-notice-header p {
  padding-bottom: 5px; }
.sujdb-event-wrapper .events-crud-btns {
  display: inline-block;
  padding-top: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px; }
.sujdb-event-wrapper .upcoming-events-time {
  background-color: #ecf0f1; }
.sujdb-event-wrapper .event-edit-btn {
  background-color: #bdc3c7;
  text-align: center;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #bdc3c7;
  margin-left: 90px;
  margin-right: 10px; }
.sujdb-event-wrapper .event-edit-btn:hover {
  background-color: #f39c12;
  color: #ffffff;
  box-shadow: 5px 5px 5px #bdc3c7; }
.sujdb-event-wrapper .event-edit-btn__preview {
  background-color: #3498db;
  text-align: center;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #bdc3c7;
  margin-right: 10px; }
.sujdb-event-wrapper .event-edit-btn__preview:hover {
  background-color: #2980b9;
  color: #ffffff;
  box-shadow: 5px 5px 5px #bdc3c7; }
.sujdb-event-wrapper .event-edit-btn__delete {
  background-color: #e74c3c;
  text-align: center;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #bdc3c7; }
.sujdb-event-wrapper .event-edit-btn__delete:hover {
  background-color: #c0392b;
  color: #ffffff;
  box-shadow: 5px 5px 5px #bdc3c7; }
.sujdb-event-wrapper .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f39c12;
  will-change: left, right; }

.startup-event-wrapper .suj-dashboard-content {
  display: block; }
.startup-event-wrapper .card-content {
  padding-bottom: 40px !important; }

.startup-event-content {
  margin: 0; }
  .startup-event-content .row {
    margin: 0; }
  .startup-event-content p {
    font-size: 12px;
    color: #9c9c9c !important; }
    .startup-event-content p.unique-url {
      font-size: 14px;
      padding-top: 28px; }
    .startup-event-content p.contact-detail {
      padding: 32px 0 0 30px; }
  .startup-event-content .empty-bottom {
    margin-bottom: 0; }
  .startup-event-content .right-padding {
    padding-right: 15px !important; }
  .startup-event-content .left-padding {
    padding-left: 15px !important; }
  .startup-event-content .select-wrapper {
    color: #9c9c9c; }
    .startup-event-content .select-wrapper span.caret {
      color: #9c9c9c; }
    .startup-event-content .select-wrapper .dropdown-content {
      top: 53px !important; }
      .startup-event-content .select-wrapper .dropdown-content li > span {
        font-size: 14px; }
  .startup-event-content input, .startup-event-content *::-moz-placeholder {
    color: #9c9c9c; }
  .startup-event-content textarea {
    min-height: 7rem;
    color: #9c9c9c; }

.sujdb-article-wrapper .wysiwyg-editor {
  padding: 0 0 20px !important;
  overflow: hidden; }

.suj-support-content .setting-password-content {
  padding-bottom: 40px; }
  .suj-support-content .setting-password-content h6 {
    text-align: left; }
.suj-support-content p.note {
  color: #9c9c9c;
  font-size: 14px; }
.suj-support-content .support-status {
  position: relative;
  min-height: 3rem;
  padding: 1.8rem 0 2.6rem;
  overflow: hidden; }
  .suj-support-content .support-status p {
    float: left;
    margin-right: 30px; }

.suj-hr {
  background-color: #f39c12;
  height: 3px;
  border: none; }

.hidden {
  display: none; }

.show {
  display: block; }

.toast {
  position: relative; }
  .toast > i {
    display: inline-block;
    margin-right: 5px; }
  .toast > .progress {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px; }
  .toast.toast-warning > i {
    color: #f0ad4e; }
  .toast.toast-error > i {
    color: #d9534f; }
  .toast.toast-success > i {
    color: #5cb85c; }

.progress {
  background: rgba(241, 196, 15, 0.5); }
  .progress > .determinate, .progress > .indeterminate {
    background-color: #f39c12; }

.img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

[data-pjax-preloader] {
  position: relative; }
  [data-pjax-preloader] > .pjax-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(244, 247, 250, 0.85);
    z-index: 9999;
    cursor: wait; }
    [data-pjax-preloader] > .pjax-container-overlay > .progress {
      margin-top: 0; }

@media (min-width: 1200px) and (max-width: 1365px) {
  .startup {
    padding: 24px 18px; }

  .suj-dashboard-nav > li > a {
    font-size: 14px; }

  .article-wrapper .suj-dashboard-btn {
    font-size: 8px;
    margin-left: 3px;
    padding: 0 6px; }

  .suj-resumedb-detail-name-card .user-img {
    width: 60px;
    height: 60px; }

  .suj-resumedb-detail-name-card-btn-wrapper .suj-resumedb-detail-btn {
    font-size: 12px;
    padding: 8px 7px;
    margin-right: 2px; }

  .suj-resumedb-detail-panel .tabs .tab a {
    padding: 0 30px; } }
@media (min-width: 993px) and (max-width: 1199px) {
  nav.suj-dashboard-navbar .brand-logo img {
    width: 180px; }
  nav.suj-dashboard-navbar .brand-logo p {
    font-size: 1.6rem; }
  nav.suj-dashboard-navbar .user-img {
    width: 54px;
    height: 54px;
    border-radius: 27px; }
  nav.suj-dashboard-navbar .dropdown-button {
    font-size: 1.2rem; }

  .suj-dashboard-content .card .card-content {
    padding: 20px; }
  .suj-dashboard-content.widget-section .card .card-content {
    padding: 15px 18px; }
  .suj-dashboard-content.widget-section .material-icons {
    font-size: 4rem; }
  .suj-dashboard-content.widget-section p span {
    font-size: 3.2rem;
    padding-top: 5px; }
  .suj-dashboard-content ul.application-resume > li {
    flex-direction: column; }
  .suj-dashboard-content .job-listing-wrapper h6 {
    padding-top: 20px; }
  .suj-dashboard-content ul.job-listing ul.job-txt li {
    font-size: 0.9rem; }

  .suj-article-btn.download-resume {
    font-size: 0.8rem;
    bottom: 0;
    left: 16.6667%;
    margin: 10px 0 0;
    padding: 0 20px;
    width: auto; } }
@media (max-width: 992px) {
  .side-nav.fixed {
    transform: translateX(0); }

  nav.suj-dashboard-navbar {
    padding: 25px 5% 100px; }
    nav.suj-dashboard-navbar .brand-logo {
      left: 8px;
      transform: translateX(0);
      bottom: -150px; }
      nav.suj-dashboard-navbar .brand-logo img {
        width: 170px;
        margin: 15px 10px 0 0; }
      nav.suj-dashboard-navbar .brand-logo p {
        font-size: 1.6rem; }
    nav.suj-dashboard-navbar ul.right {
      float: left !important; }
      nav.suj-dashboard-navbar ul.right > li:first-child a {
        padding: 0 15px 0 5px; }
    nav.suj-dashboard-navbar .user-img {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-top: 5px; }
    nav.suj-dashboard-navbar .dropdown-button {
      font-size: 1.2rem; }

  .suj-dashboard-content {
    margin: 0 0 30px; }
    .suj-dashboard-content .card .card-content {
      padding: 20px; }
    .suj-dashboard-content.widget-section {
      flex-wrap: wrap; }
      .suj-dashboard-content.widget-section > .col {
        margin-bottom: 20px; }
      .suj-dashboard-content.widget-section .card .card-content {
        padding: 15px 18px; }
      .suj-dashboard-content.widget-section .material-icons {
        font-size: 4rem; }
      .suj-dashboard-content.widget-section p span {
        font-size: 3.2rem;
        padding-top: 5px; }
    .suj-dashboard-content.job-list-section {
      display: block; }
    .suj-dashboard-content .application-resume-wrapper {
      padding-bottom: 20px !important; }
    .suj-dashboard-content ul.application-resume > li {
      flex-direction: column; }
    .suj-dashboard-content .job-listing-wrapper h6 {
      padding-top: 20px; }
    .suj-dashboard-content .job-listing-wrapper > .card {
      height: auto !important; }
    .suj-dashboard-content ul.job-listing ul.job-txt li {
      font-size: 0.9rem; }
    .suj-dashboard-content.article-section {
      display: block; }

  .suj-dashboard-article.statistic {
    margin-bottom: 30px; }

  .suj-article-btn.download-resume {
    font-size: 0.8rem;
    bottom: 0;
    left: 16.6667%;
    margin: 10px 0 0;
    padding: 0 20px;
    width: auto; } }
@media (max-width: 600px) {
  nav.suj-dashboard-navbar ul li.user {
    margin-left: 8px; }
  nav.suj-dashboard-navbar .brand-logo {
    bottom: -200px; }
  nav.suj-dashboard-navbar .user-img {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin-right: 0; }

  .suj-dashboard-content.widget-section .material-icons {
    font-size: 3.6rem; }
  .suj-dashboard-content.widget-section p span {
    font-size: 3rem; }
  .suj-dashboard-content ul.application-resume .col.user-info {
    padding-top: 15px;
    padding-right: 0; }
  .suj-dashboard-content ul.application-resume ul.user-profile {
    display: block; }
  .suj-dashboard-content ul.job-listing > li a.title {
    display: block; }
  .suj-dashboard-content ul.job-listing ul.job-txt li:last-child {
    margin-top: 15px;
    text-align: left; }

  .application-resume-wrapper .card {
    height: auto !important; }

  .suj-article-btn.download-resume {
    left: 0;
    margin: 20px 0 0;
    padding: 0 10px; }

  .suj-dashboard-article ul.article-content {
    padding: 0 0 20px; }
    .suj-dashboard-article ul.article-content li .article-img {
      display: none; }

  .suj-article-btn {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 0 1rem; } }

/*# sourceMappingURL=master_dashboard.css.map */
