// BUTTONS

//SUJ Center Text Button
.suj-flex-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
//EOL


//SUJ Button
.suj-btn {
    text-decoration: none;
    color: #fff;
    background-color: $suj-color;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    font-weight: 300;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    &:hover, &:focus, &:active {
        -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        background-color: $suj-color-hover;
        font-weight: 300;
        color: $white;
    }
}
//EOL


//SUJ Round Button
.suj-round-btn {
    border-radius: 20px;
}
//EOL

//SUJ Disabled Button
.btn.disabled {
    background-color: $greyDashboard !important;
    color: $darkGrey !important;
    border-color: transparent !important;
    cursor: default;

    &:hover, &:focus, &:active {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
}
//EOL

//SUJ Homepage - Deposit Resume Button
.suj-leftbar-postresume, .suj-leftbar-filter-btn {
    background-color: $suj-color;
    color: $white;
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1.6rem;
    height: auto;

    &:hover, &:focus, &:active {
        background-color: $suj-color-hover;
        color: $white;
    }
}

.suj-leftbar-filter-btn {
    width: 100%;
    margin: 20px 0 30px;
    display: inline;
}
//EOL

//SUJ Homepage - Follow Button
.suj-follow-btn {
    &:hover, &:focus, &:active {
        background-color: $suj-color;
        color: #ffffff;
        border: 1px solid $suj-color;
    }
}
//EOL

//SUJ Single Job - Register Button White
.suj-btn-white {
    background-color: $white !important;
    color: $suj-color !important;
    margin: 14px 0 0;
}
//EOL


//Input File Button
.input-file-btn {
    background-color: $suj-color;
    line-height: 2rem !important;
    text-transform: capitalize;
    font-size: 14px !important;
    padding: 0 22px;

    &:hover, &:focus, &:active {
        background-color: $suj-color-hover;
    }
}
//EOL

//SUJ Dashboard - Recent Applicants Button
.sujdb-applicant-btn {
    background-color: $cyan;
    font-size: 8px;
    padding: 0 8px;
    text-transform: capitalize;
    border-radius: 20px;
    //display: table;
    line-height: 30px;
    height: 30px;
    flex: 1 1 0;
    margin-left: 5px;
    //margin-bottom: 8px;

    &:hover, &:focus, &:active {
        background-color: $cyan;
        color: $white;
    }

    &.download-resume {
        background-color: $white;
        //color: #547487;
        color: $greyButton;
        //border: 1px solid #547487;
        border: 1px solid $greyButton;
        padding: 0 8px;

        &.custom-line-height {
            line-height: 10px;
            //padding: 4px 8px 0;
        }
    }
}
//EOL

//SUJ Dashboard - Card Action Button
.suj-dashboard-btn {
    //background-color: $suj-color;
    background-color: $greyButton;
    border-radius: 20px;
    font-size: 9px;
    padding: 0 9px;
    margin-left: 4px;
    text-transform: capitalize;
    height: 30px;

    &:hover, &:focus, &:active {
        //background-color: $suj-color-hover;
        background-color: $greyButton;
        color: $white;
    }

    &.read-more {
        background-color: $white;
        border: 1px solid $greyButton;
        color: $greyButton;
    }
}
//EOL

//SUJ Dashboard - See More Button
.suj-more-btn {
    color: $suj-color;
    position: absolute;
    bottom: 20px;

    &:hover, &:focus, &:active {
        color: $suj-color-hover;
        text-decoration: underline;
    }
}
//EOL

//SUJ All Applicant - Applicant Info Button
.applicant-info-btn {
    background-color: $white;
    color: $suj-color;
    font-size: 10px;
    height: auto;
    line-height: 14px;
    padding: 6px 8px;
    text-transform: capitalize;
    display: inline-block;

    &:hover, &:focus, &:active {
        background-color: $white;
    }
}
//EOL


//SUJ Floating Button
.suj-fab {
    background-color: $suj-color;
    height: 56px;
    width: 56px;
    line-height: 56px;

    i {
        line-height: 56px;
    }

    &:hover, &:active, &:focus {
        background-color: $suj-color-hover;
    }
}