// COLOURS STACK

$homepage-bg-color: #ecf0f1;
$suj-color: #f39c12;
$suj-color-hover: #f1c40f;
$bg-color: #f4f7fa;
$grey: #95989a;
$white: #ffffff;
$shadow-color: #edf1f2;
$content: #83868a;
$content-hover: #717478;
$label-color: #616366;
$tabcontent-color: #bfbdbd;
$black: #333333;

/*Dashboard Color*/
$blue: #3498DB;
$red: #E74C3C;
$green: #1ABC9C; 
$greyDashboard: #c6c6c6;
$darkGrey: #9c9c9c;
$greyButton: #586262;
$cyan: #88d5d1;
$blueSky: #2699fb; 

/* Alert Color */
$dangerColor: #d9534f;
$dangerColorBorder: #ebccd1;
$dangerColorBg: #f2dede;
$warningColor: #f0ad4e;
$warningColorBorder: #faebcc;
$warningColorBg: #fcf8e3;
$successColor: #5cb85c;
$successColorBorder: #d6e9c6;
$successColorBg: #dff0d8;
$infoColor: #31708f;
$infoColorBorder: #bce8f1;
$infoColorBg: #d9edf7;