.suj-hr {
    background-color: $suj-color;
    height: 3px;
    border: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.toast {
    position: relative;

    & > i {
        display: inline-block;
        margin-right: 5px;
    }

    & > .progress {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
    }

    &.toast-warning {
        & > i {
            color: $warningColor;
        }
    }

    &.toast-error {
        & > i {
            color: $dangerColor;
        }
    }

    &.toast-success {
        & > i {
            color: $successColor;
        }
    }
}

.progress {
    background: transparentize($suj-color-hover, 0.5);

    & > .determinate,
    & > .indeterminate {
        background-color: $suj-color;
    }
}

.img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}

[data-pjax-preloader] {
    position: relative;

    & > .pjax-container-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparentize($bg-color, 0.15);
        z-index: 9999;
        cursor: wait;

        & > .progress {
            margin-top: 0;
        }
    }
}
