//SUJ Form Validation
.suj-input-field-wrapper {
    .input-field {
        &.invalid {
            .form-message,
            .prefix {
                color: $dangerColor;
            }

            input:not([type]):not([readonly]),
            input[type="text"]:not(.browser-default):not([readonly]),
            input[type="password"]:not(.browser-default):not([readonly]),
            input[type="email"]:not(.browser-default):not([readonly]),
            input[type="url"]:not(.browser-default):not([readonly]),
            input[type="time"]:not(.browser-default):not([readonly]),
            input[type="date"]:not(.browser-default):not([readonly]),
            input[type="datetime"]:not(.browser-default):not([readonly]),
            input[type="datetime-local"]:not(.browser-default):not([readonly]),
            input[type="tel"]:not(.browser-default):not([readonly]),
            input[type="number"]:not(.browser-default):not([readonly]),
            input[type="search"]:not(.browser-default):not([readonly]),
            textarea.materialize-textarea:not([readonly]) {
                border-color: $dangerColor;
                box-shadow: 0 1px 0 0 $dangerColor;
            }
        }

        &.valid {
            .form-message,
            .prefix {
                color: $successColor;
            }

            input:not([type]):not([readonly]),
            input[type="text"]:not(.browser-default):not([readonly]),
            input[type="password"]:not(.browser-default):not([readonly]),
            input[type="email"]:not(.browser-default):not([readonly]),
            input[type="url"]:not(.browser-default):not([readonly]),
            input[type="time"]:not(.browser-default):not([readonly]),
            input[type="date"]:not(.browser-default):not([readonly]),
            input[type="datetime"]:not(.browser-default):not([readonly]),
            input[type="datetime-local"]:not(.browser-default):not([readonly]),
            input[type="tel"]:not(.browser-default):not([readonly]),
            input[type="number"]:not(.browser-default):not([readonly]),
            input[type="search"]:not(.browser-default):not([readonly]),
            textarea.materialize-textarea:not([readonly]) {
                border-color: $successColor;
                box-shadow: 0 1px 0 0 $successColor;
            }
        }

        input.valid:focus:not([type]),
        input.valid[type="text"]:focus:not(.browser-default),
        input.valid[type="password"]:focus:not(.browser-default),
        input.valid[type="email"]:focus:not(.browser-default),
        input.valid[type="url"]:focus:not(.browser-default),
        input.valid[type="time"]:focus:not(.browser-default),
        input.valid[type="date"]:focus:not(.browser-default),
        input.valid[type="datetime"]:focus:not(.browser-default),
        input.valid[type="datetime-local"]:focus:not(.browser-default),
        input.valid[type="tel"]:focus:not(.browser-default),
        input.valid[type="number"]:focus:not(.browser-default),
        input.valid[type="search"]:focus:not(.browser-default),
        textarea.materialize-textarea.valid:focus,
        .select-wrapper.valid > input.select-dropdown:focus {
            border-color: $suj-color;
            box-shadow: 0 1px 0 0 $suj-color;
        }
    }
}

//EOL Form Validation

.input-field > .prefix ~ .form-message {
    padding-left: 3.8rem;
}
