a,
p,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: $suj-color;
    outline: none;
}

//Button color focus
.btn:focus, .btn-large:focus, .btn-floating:focus {
	background-color: $suj-color;
}
//EOL

img {
    vertical-align: middle;
}

//Input field color
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]), input[type="password"]:focus:not(.browser-default):not([readonly]), input[type="email"]:focus:not(.browser-default):not([readonly]), input[type="url"]:focus:not(.browser-default):not([readonly]), input[type="time"]:focus:not(.browser-default):not([readonly]), input[type="date"]:focus:not(.browser-default):not([readonly]), input[type="datetime"]:focus:not(.browser-default):not([readonly]), input[type="datetime-local"]:focus:not(.browser-default):not([readonly]), input[type="tel"]:focus:not(.browser-default):not([readonly]), input[type="number"]:focus:not(.browser-default):not([readonly]), input[type="search"]:focus:not(.browser-default):not([readonly]), textarea.materialize-textarea:focus:not([readonly])
	{
		border-color: $suj-color;
		box-shadow: 0 1px 0 0 $suj-color;
	}
//EOL

//Input label color active
input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not(.browser-default):not([readonly]) + label, input[type="password"]:focus:not(.browser-default):not([readonly]) + label, input[type="email"]:focus:not(.browser-default):not([readonly]) + label, input[type="url"]:focus:not(.browser-default):not([readonly]) + label, input[type="time"]:focus:not(.browser-default):not([readonly]) + label, input[type="date"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime-local"]:focus:not(.browser-default):not([readonly]) + label, input[type="tel"]:focus:not(.browser-default):not([readonly]) + label, input[type="number"]:focus:not(.browser-default):not([readonly]) + label, input[type="search"]:focus:not(.browser-default):not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label
	{
		color: $suj-color;
	}
//EOL

//Input File Upload
.file-field {
	overflow: hidden;
}
//EOL

//Checkbox color
[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
	border-color: $darkGrey;
}
//EOL

//Checkbox color active
[type="checkbox"]:checked + label::before {
	border-color: transparent $suj-color $suj-color transparent;
}
//EOL

//Radio Button border color
[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
	border-color: $darkGrey;
}
//EOL


//Radio Button active
[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
	background-color: $suj-color;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
	border-color: $suj-color;
}
//EOL


//Switch Button color
.switch label input[type="checkbox"]:checked + .lever::after {
	background-color: $suj-color;
}

.switch label input[type="checkbox"]:checked + .lever {
	background-color: #f4d142;
}
//EOL


//Input Phone width
.intl-tel-input {
	margin-left: 3.8rem;
	width: calc(100% - 3.8rem - 58px);

	.country-list {
		max-width: 390px;
	}
}
//EOL


//Select Options Color
.select-wrapper.select-active {
	.dropdown-content {
		top: 53px !important;

		li > a, li > span {
			color: $suj-color;
			font-size: 14px;
		}
	}

	span.caret {
		color: $greyDashboard;
	}

	input.select-dropdown {
		color: $greyDashboard;
		font-size: 14px;
	}
}
//EOL

//Icon Prefix Active Color
.input-field .prefix.active {
	color: $suj-color !important;
}
//EOL


//SUJ Capital Text
.suj-capital-text {
    text-transform: capitalize !important;
}
//EOL


//SUJ Color
.suj-color {
	background-color: $suj-color;
}
//EOL


//Form Title Custom
h6.form-title {
	color: $darkGrey;
    font-size: 0.8rem;
    margin: 0 0 15px;
}


//SUJ Alert
.suj-alert-wrapper {
	padding-top: 20px;

	&.fixed {
		left: 50%;
	    position: fixed;
	    top: 0;
	    transform: translate(-50%, 0px);
	}
}

.suj-alert {
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px 35px 15px 15px;
    margin: 0.5rem 0 1rem 0;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .25s;

    &:first-child {
    	//margin-top: 30px;
    }

    &:last-child {
    	//margin-bottom: 0;
    }

    &.alert-info {
	    background-color: $infoColorBg;
	    border-color: $infoColorBorder;
	    color: $infoColor;
	}

	&.alert-success {
	    background-color: $successColorBg;
	    border-color: $successColorBorder;
	    color: $successColor;
	}

	&.alert-warning {
		background-color: $warningColorBg;
		border-color: $warningColorBorder;
		color: $warningColor;
	}

    &.alert-error,
    &.alert-danger {
	    background-color: $dangerColorBg;
	    border-color: $dangerColorBorder;
	    color: $dangerColor;
	}

    .alert-close {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        color: inherit;
        margin-top: -10px;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        transition: all .25s ease;
    }

    &.alert-info {
        .alert-close:hover,
        .alert-close:focus,
        .alert-close:active {
            color: $infoColor;
            text-shadow: 0 1px 0 darken($infoColor, 10%);
        }
    }

    &.alert-success {
        .alert-close:hover,
        .alert-close:focus,
        .alert-close:active {
            color: $successColor;
            text-shadow: 0 1px 0 darken($successColor, 10%);
        }
    }

    &.alert-warning {
        .alert-close:hover,
        .alert-close:focus,
        .alert-close:active {
            color: $warningColor;
            text-shadow: 0 1px 0 darken($warningColor, 10%);
        }
    }

    &.alert-error,
    &.alert-danger {
        .alert-close:hover,
        .alert-close:focus,
        .alert-close:active {
            color: $dangerColor;
            text-shadow: 0 1px 0 darken($dangerColor, 10%);
        }
    }
}

//EOL SUJ Alert

//SUJ Badge CSS
span.badge {
	color: $white;
	font-size: 14px;
	float: none;
	padding: 2px 6px;

	&.badge-default {
		background-color: #9e9e9e;
	}

	&.badge-primary {
		background-color: #2196f3;
	}

	&.badge-success {
		background-color: #4caf50;
	}

	&.badge-info {
		background-color: #00bcd4;
	}

	&.badge-warning {
		background-color: #ffc107;
	}

	&.badge-danger {
		background-color: #f44336;
	}
}


//SUJ Empty Field CSS
.suj-empty-field {
	text-align: center;
	color: $greyDashboard;
	padding-bottom: 15px;
}

// SUJ Flex End
.suj-flex-end {
	display: flex;
	justify-content: flex-end;
}
//EOL


//Tooltip Custom CSS
.material-tooltip {
	font-size: 14px;
    line-height: 100%;
    min-height: 0;
    padding: 8px 16px;
}

.backdrop {
	background-color: $greyDashboard;
}
//EOL


//Datepicker Text Color
.picker {
	color: $darkGrey;
}
//EOL


//SUJ Dashboard Content Display Block
.sujdb-content-block .suj-dashboard-content {
	display: block;
}
//EOL


//SUJ Pagination
.suj-pagination-wrapper {
    margin-top: 30px;
    text-align: center;

    /*nav {
        background-color: transparent;
        box-shadow: none;
    }*/

    .pagination li.active {
        background-color: $suj-color;
    }
}
//EOL


//SUJ Footer CSS
.page-footer {
	background-color: #606060;
	padding-top: 40px;
}
//EOL
