body { background-color: $bg-color !important; }


/*========= SUJ Top Navigation =========*/
nav ul li.active {
	background-color: transparent;
}

.suj-main-application-header .navbar-fixed {
	z-index: 999;
}

.suj-navbar-custom {
	background-color: $white;
	padding: 0 3%;

  	.logo {
	  	background-size: 100% auto;
	  	background-repeat: no-repeat;
	  	height: 30px;
	  	width: 160px;
	  	margin: 20px 0 0;
  	}

  	.button-collapse {
  		color: $grey;
  	}

  	.suj-navbar-link {

	  	& > li {

			& > a {
				color: #999999;
				position: relative;
				border-bottom: 3px solid transparent;
				display: unset;
				padding: 20px 15px;

				&::after {
					height: 3px;
					bottom: -3px;
					background-color: $suj-color;
					content:"";
					display: block;
					left: 0;
					position: absolute;
					width: 0;
					transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
				}

				&:hover::after {
					width:100%;
				}

				&:hover, &:focus {
					background-color: transparent;
					text-decoration: none;
					transition: all 0.5s ease 0s;
					-webkit-transition: all 0.5s ease 0s;
				}

				&.active {
				  	border-color: $suj-color;
				}

				i.material-icons {
				  	line-height: 65px;
				  	margin: 0;
				}

		  	}

            &.active {
                & > a {
                    border-color: $suj-color;
                }
            }

		  	/*Register Font Size*/
		  	&.register a {
		  		font-size: 0.9rem;
		  	}

			/*CSS Style for Popover Menu Have No Border When Hover*/
			&.suj-popover-menu a {
				border: none;

				&::after {
					background-color: transparent;
				}

				&:focus, &.focus {
					box-shadow: none;
				}
			}

			/*CSS Style for Log in and Post Jobs Button*/
			&.suj-top-button {
			  	margin-left: 15px;

				a.suj-navbar-btn {
					background-color: $suj-color;
					color: $white;
					padding: 10px 15px;
					font-weight: bold;
					font-size: 0.8rem;
					margin:  -2px auto 0;
					border: none;

					&:nth-child(2) {
					  	margin-left: 10px;
					}

					&:hover {
					  	background-color: $suj-color-hover;

					  	&::after {
					  		width: 0;
					  	}
					}
				}
			}
		}
  	}

	/*CSS Style for Dropdown Menu*/
	ul.dropdown-content {
		top: 64px !important;
		padding: 15px 30px 10px;
		width: auto !important;

		li {
			min-width: 100px;
			min-height: 35px;

			a {
				padding: 0 0 7px;
				font-size: 0.9rem;
				display: block;
				color: #999999;

				&:hover, &:focus, &:active {
					background-color: transparent !important;
					color: $suj-color;
					text-decoration: none;
				}
			}

			&:hover, &.active, &.selected {
				background-color: transparent;
			}
		}
	}
}


/*========= SUJ Popover Menu =========*/
.suj-popover-menu ul.suj-popover-dropdown {
  	background-image: none !important;
  	width: 312px !important;
  	padding: 20px 30px 0;

  	li {
  		width: 70px;
		margin: 0 7px;
		cursor: pointer;
		min-width: 70px !important;
		clear: none;

	  	a {
	  		color: $content;
	  		font-size: 0.8rem;
			text-align: center;
			margin-bottom: 10px;

	  		&:hover {
	  			color: $suj-color;
	  		}

			> img {
				width: 100%;
			}
		}
  	}
}


/*========= SUJ Header =========*/

.suj-header {
	background-color: $homepage-bg-color;

	.flexslider {
		margin: 0;
		//border-width: 0;
		border-radius: 0;
		border: none;

		.flex-viewport {
			width: 100%;
		}
	}
}

.suj-header-banner {
	background-size: cover !important;
	background-repeat: no-repeat;
	//height: 40vh;
	width: 100%;
	border: none;
	border-width: 1px 0;
}

.suj-header-search {
	padding: 45px 14% 25px 15%;

	& > .row {
		margin: 0;
	}


  	.input-field {
		margin-top: 0;
		background-color: $white;

		&.col {
		  	padding: 0;
		}
	}

	.validate {
		border: none !important;
		line-height: 1.35;
		padding: 0.4rem 0 !important;
		margin: 0 !important;

		&:focus {
			background-color: $white;
		}
	}
}

.suj-header-search-btn {

	.btn {
		/*line-height: 1.35;*/
		height: auto;
		background-color: $suj-color;
		color: $white;
		padding: 0.7rem 1.5rem !important;
		font-weight: bold !important;
		width: 100%;

		&:hover {
			background-color: $suj-color-hover;
		}
	}
}

