.suj-hero {
    background: linear-gradient(to bottom,  rgba(0, 10, 0, 0.5) 0%,  rgba(0, 10, 0, 0.5) 100%), url('../img/hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.suj-hero-header {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

    h1 {
        color: #ffffff;
    }
}

.suj-search-form {
    padding-top: 50px;
    padding-bottom: 50px;
}