.suj-cropper {
    &-crop-area,
    &-editor-wrapper,
    &-container {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
    }

    &-editor-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: left;
        z-index: 1;

        & > .crop-area {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            & > img {
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }
        }

        .img-preview {
            display: block;
            margin: 0 auto;
            overflow: hidden;

            &,
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.suj-cropper-container {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
    background: rgba(10, 10, 10, 0.95);
    -ms-touch-action: none;
    touch-action: none;

    .modal-content {
        padding: 0;

        & > .preloader-container {
            position: absolute;
            left: 0 !important;
            top: 0 !important;
            width: 100% !important;
            height: 100% !important;
            background: rgba(10, 10, 10, 0.75);
            opacity: 0;
            visibility: hidden;

            & > .preloader-area {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.preloader-active {
            & .crop-area {
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
            }

            & > .preloader-container {
                -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                opacity: 1;
                visibility: visible;
                z-index: 9999;
            }
        }

        & > .crop-action-btn {
            position: absolute;

            & > .action-floating-btn-container {
                .fixed-action-btn.horizontal {
                    position: relative;
                    right: 15px;
                    bottom: 0;

                    & > ul {
                        right: 40px;
                        top: 35%;
                    }
                }
            }

            &.active {
                & > .action-floating-btn-container {
                    .fixed-action-btn.horizontal:not(.active) {
                        & > ul > li > .btn-floating {
                            opacity: 0 !important;
                            transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px) !important;
                        }
                    }
                }
            }

        }
    }

    .modal-footer {
        background-color: transparent;
        border-top: 1px solid rgba(75, 75, 75, 0.5);

        & > .modal-action {
            margin-left: 15px;
        }
    }
}
