.swal2-container {
    & > .swal2-popup {
        padding: 24px;

        .swal2-content {
            color: $darkGrey;
            margin: 0 0 15px !important;
        }

        .swal2-actions {
            justify-content: space-around;
        }

        .swal2-buttonswrapper {
            & > .btn {
                display: block;
                margin: 0 10px 0 0;
                text-transform: capitalize;
                cursor: pointer;
                background-color: $suj-color !important;
                color: $white !important;

                &:hover, &:active {
                    background-color: $suj-color-hover !important;
                }

                &.swal2-cancel {
                    background-color: $darkGrey !important;

                    &:hover, &:active, &:focus {
                        background-color: $greyDashboard !important;
                    }
                }
            }
        }
    }
}
