.toggle-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .toggle {
        position: relative;
        display: table;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        margin: 1rem 0;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
        0 1px 7px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -1px rgba(0, 0, 0, 0.2);

        & > input[type=radio] {
            display: none;

            & + label {
                cursor: pointer;
                width: 50%;
                height: auto !important;
                margin: 0;
                padding: 5px 10px;
                text-align: center;
                line-height: 30px;
                color: $suj-color;
                vertical-align: middle;
                z-index: 10;
                -webkit-transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
                transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
                float: left;

                &:before,
                &:after {
                    display: none;
                }
            }

            &:checked + label {
                color: $white;
            }
        }

        & > label {
            &:first-child {
                padding-left: 5px;
            }

            &:last-child {
                padding-right: 5px;
            }
        }

        & > .lever {
            position: absolute;
            top: 5px;
            left: calc(25% + 2.5px);
            height: calc(100% - 10px);
            width: calc(50% - 10px);
            background-color: $suj-color;
            border-radius: 5px;
            cursor: pointer;
            vertical-align: middle;
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
            0 1px 7px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -1px rgba(0, 0, 0, 0.2);
            -webkit-transition: left 0.5s cubic-bezier(0.4, 0.0, 0.2, 1),
            background 0.3s ease-in,
            box-shadow 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
            transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
            transition: left 0.5s cubic-bezier(0.4, 0.0, 0.2, 1),
            background 0.3s ease-in,
            box-shadow 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
            transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

            &:hover {
                background-color: $suj-color-hover;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 60%;
                height: 60%;
                border-radius: 50%;
                left: 15%;
                top: 20%;
                -webkit-transition: left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
                background .3s cubic-bezier(0.4, 0.0, 0.2, 1),
                box-shadow 0.1s cubic-bezier(0.4, 0.0, 0.2, 1),
                transform .1s cubic-bezier(0.4, 0.0, 0.2, 1),
                -webkit-box-shadow 0.1s cubic-bezier(0.4, 0.0, 0.2, 1),
                -webkit-transform .1s cubic-bezier(0.4, 0.0, 0.2, 1);
                transition: left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
                background .3s cubic-bezier(0.4, 0.0, 0.2, 1),
                box-shadow 0.1s cubic-bezier(0.4, 0.0, 0.2, 1),
                transform .1s cubic-bezier(0.4, 0.0, 0.2, 1),
                -webkit-box-shadow 0.1s cubic-bezier(0.4, 0.0, 0.2, 1),
                -webkit-transform .1s cubic-bezier(0.4, 0.0, 0.2, 1);
            }
        }

        & > label {
            &:active,
            &:focus {
                & ~ .lever::before {
                    -webkit-transform: scale(2.4);
                    transform: scale(2.4);
                    background-color: transparentize($suj-color-hover, 0.8);
                }
            }
        }

        & > input[type=radio]:checked + label {
            & ~ .lever {
                opacity: 1;
                visibility: visible;
            }

            &:first-of-type ~ .lever {
                left: 5px;
            }

            &:last-of-type ~ .lever {
                left: calc(50% + 5px);
            }
        }
    }
}
