@mixin text-emphasis-variant($parent, $color) {
    #{$parent} {
        color: $color;
    }
    a#{$parent}:hover,
    a#{$parent}:focus {
        color: darken($color, 10%);
    }
}

// Alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

// Transformation
.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

// Contextual colors
@include text-emphasis-variant('.text-success', $successColor);
@include text-emphasis-variant('.text-info', $infoColor);
@include text-emphasis-variant('.text-warning', $warningColor);
@include text-emphasis-variant('.text-error', $dangerColor);
@include text-emphasis-variant('.text-danger', $dangerColor);
