@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*Dashboard Color*/
/* Alert Color */
a,
p,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif; }

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #f39c12;
  outline: none; }

.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #f39c12; }

img {
  vertical-align: middle; }

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]), input[type="password"]:focus:not(.browser-default):not([readonly]), input[type="email"]:focus:not(.browser-default):not([readonly]), input[type="url"]:focus:not(.browser-default):not([readonly]), input[type="time"]:focus:not(.browser-default):not([readonly]), input[type="date"]:focus:not(.browser-default):not([readonly]), input[type="datetime"]:focus:not(.browser-default):not([readonly]), input[type="datetime-local"]:focus:not(.browser-default):not([readonly]), input[type="tel"]:focus:not(.browser-default):not([readonly]), input[type="number"]:focus:not(.browser-default):not([readonly]), input[type="search"]:focus:not(.browser-default):not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #f39c12;
  box-shadow: 0 1px 0 0 #f39c12; }

input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not(.browser-default):not([readonly]) + label, input[type="password"]:focus:not(.browser-default):not([readonly]) + label, input[type="email"]:focus:not(.browser-default):not([readonly]) + label, input[type="url"]:focus:not(.browser-default):not([readonly]) + label, input[type="time"]:focus:not(.browser-default):not([readonly]) + label, input[type="date"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime-local"]:focus:not(.browser-default):not([readonly]) + label, input[type="tel"]:focus:not(.browser-default):not([readonly]) + label, input[type="number"]:focus:not(.browser-default):not([readonly]) + label, input[type="search"]:focus:not(.browser-default):not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #f39c12; }

.file-field {
  overflow: hidden; }

[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
  border-color: #9c9c9c; }

[type="checkbox"]:checked + label::before {
  border-color: transparent #f39c12 #f39c12 transparent; }

[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
  border-color: #9c9c9c; }

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
  background-color: #f39c12; }

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
  border-color: #f39c12; }

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #f39c12; }

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #f4d142; }

.intl-tel-input {
  margin-left: 3.8rem;
  width: calc(100% - 3.8rem - 58px); }
  .intl-tel-input .country-list {
    max-width: 390px; }

.select-wrapper.select-active .dropdown-content {
  top: 53px !important; }
  .select-wrapper.select-active .dropdown-content li > a, .select-wrapper.select-active .dropdown-content li > span {
    color: #f39c12;
    font-size: 14px; }
.select-wrapper.select-active span.caret {
  color: #c6c6c6; }
.select-wrapper.select-active input.select-dropdown {
  color: #c6c6c6;
  font-size: 14px; }

.input-field .prefix.active {
  color: #f39c12 !important; }

.suj-capital-text {
  text-transform: capitalize !important; }

.suj-color {
  background-color: #f39c12; }

h6.form-title {
  color: #9c9c9c;
  font-size: 0.8rem;
  margin: 0 0 15px; }

.suj-alert-wrapper {
  padding-top: 20px; }
  .suj-alert-wrapper.fixed {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0px); }

.suj-alert {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px 35px 15px 15px;
  margin: 0.5rem 0 1rem 0;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow .25s; }
  .suj-alert.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f; }
  .suj-alert.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #5cb85c; }
  .suj-alert.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #f0ad4e; }
  .suj-alert.alert-error, .suj-alert.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #d9534f; }
  .suj-alert .alert-close {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    color: inherit;
    margin-top: -10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    transition: all .25s ease; }
  .suj-alert.alert-info .alert-close:hover,
  .suj-alert.alert-info .alert-close:focus,
  .suj-alert.alert-info .alert-close:active {
    color: #31708f;
    text-shadow: 0 1px 0 #245269; }
  .suj-alert.alert-success .alert-close:hover,
  .suj-alert.alert-success .alert-close:focus,
  .suj-alert.alert-success .alert-close:active {
    color: #5cb85c;
    text-shadow: 0 1px 0 #449d44; }
  .suj-alert.alert-warning .alert-close:hover,
  .suj-alert.alert-warning .alert-close:focus,
  .suj-alert.alert-warning .alert-close:active {
    color: #f0ad4e;
    text-shadow: 0 1px 0 #ec971f; }
  .suj-alert.alert-error .alert-close:hover,
  .suj-alert.alert-error .alert-close:focus,
  .suj-alert.alert-error .alert-close:active, .suj-alert.alert-danger .alert-close:hover,
  .suj-alert.alert-danger .alert-close:focus,
  .suj-alert.alert-danger .alert-close:active {
    color: #d9534f;
    text-shadow: 0 1px 0 #c9302c; }

span.badge {
  color: #ffffff;
  font-size: 14px;
  float: none;
  padding: 2px 6px; }
  span.badge.badge-default {
    background-color: #9e9e9e; }
  span.badge.badge-primary {
    background-color: #2196f3; }
  span.badge.badge-success {
    background-color: #4caf50; }
  span.badge.badge-info {
    background-color: #00bcd4; }
  span.badge.badge-warning {
    background-color: #ffc107; }
  span.badge.badge-danger {
    background-color: #f44336; }

.suj-empty-field {
  text-align: center;
  color: #c6c6c6;
  padding-bottom: 15px; }

.suj-flex-end {
  display: flex;
  justify-content: flex-end; }

.material-tooltip {
  font-size: 14px;
  line-height: 100%;
  min-height: 0;
  padding: 8px 16px; }

.backdrop {
  background-color: #c6c6c6; }

.picker {
  color: #9c9c9c; }

.sujdb-content-block .suj-dashboard-content {
  display: block; }

.suj-pagination-wrapper {
  margin-top: 30px;
  text-align: center;
  /*nav {
      background-color: transparent;
      box-shadow: none;
  }*/ }
  .suj-pagination-wrapper .pagination li.active {
    background-color: #f39c12; }

.page-footer {
  background-color: #606060;
  padding-top: 40px; }

.suj-flex-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

.suj-btn {
  text-decoration: none;
  color: #fff;
  background-color: #f39c12;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .suj-btn:hover, .suj-btn:focus, .suj-btn:active {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    background-color: #f1c40f;
    font-weight: 300;
    color: #ffffff; }

.suj-round-btn {
  border-radius: 20px; }

.btn.disabled {
  background-color: #c6c6c6 !important;
  color: #9c9c9c !important;
  border-color: transparent !important;
  cursor: default; }
  .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.suj-leftbar-postresume, .suj-leftbar-filter-btn {
  background-color: #f39c12;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  padding: 0.5rem 1.6rem;
  height: auto; }
  .suj-leftbar-postresume:hover, .suj-leftbar-postresume:focus, .suj-leftbar-postresume:active, .suj-leftbar-filter-btn:hover, .suj-leftbar-filter-btn:focus, .suj-leftbar-filter-btn:active {
    background-color: #f1c40f;
    color: #ffffff; }

.suj-leftbar-filter-btn {
  width: 100%;
  margin: 20px 0 30px;
  display: inline; }

.suj-follow-btn:hover, .suj-follow-btn:focus, .suj-follow-btn:active {
  background-color: #f39c12;
  color: #ffffff;
  border: 1px solid #f39c12; }

.suj-btn-white {
  background-color: #ffffff !important;
  color: #f39c12 !important;
  margin: 14px 0 0; }

.input-file-btn {
  background-color: #f39c12;
  line-height: 2rem !important;
  text-transform: capitalize;
  font-size: 14px !important;
  padding: 0 22px; }
  .input-file-btn:hover, .input-file-btn:focus, .input-file-btn:active {
    background-color: #f1c40f; }

.sujdb-applicant-btn {
  background-color: #88d5d1;
  font-size: 8px;
  padding: 0 8px;
  text-transform: capitalize;
  border-radius: 20px;
  line-height: 30px;
  height: 30px;
  flex: 1 1 0;
  margin-left: 5px; }
  .sujdb-applicant-btn:hover, .sujdb-applicant-btn:focus, .sujdb-applicant-btn:active {
    background-color: #88d5d1;
    color: #ffffff; }
  .sujdb-applicant-btn.download-resume {
    background-color: #ffffff;
    color: #586262;
    border: 1px solid #586262;
    padding: 0 8px; }
    .sujdb-applicant-btn.download-resume.custom-line-height {
      line-height: 10px; }

.suj-dashboard-btn {
  background-color: #586262;
  border-radius: 20px;
  font-size: 9px;
  padding: 0 9px;
  margin-left: 4px;
  text-transform: capitalize;
  height: 30px; }
  .suj-dashboard-btn:hover, .suj-dashboard-btn:focus, .suj-dashboard-btn:active {
    background-color: #586262;
    color: #ffffff; }
  .suj-dashboard-btn.read-more {
    background-color: #ffffff;
    border: 1px solid #586262;
    color: #586262; }

.suj-more-btn {
  color: #f39c12;
  position: absolute;
  bottom: 20px; }
  .suj-more-btn:hover, .suj-more-btn:focus, .suj-more-btn:active {
    color: #f1c40f;
    text-decoration: underline; }

.applicant-info-btn {
  background-color: #ffffff;
  color: #f39c12;
  font-size: 10px;
  height: auto;
  line-height: 14px;
  padding: 6px 8px;
  text-transform: capitalize;
  display: inline-block; }
  .applicant-info-btn:hover, .applicant-info-btn:focus, .applicant-info-btn:active {
    background-color: #ffffff; }

.suj-fab {
  background-color: #f39c12;
  height: 56px;
  width: 56px;
  line-height: 56px; }
  .suj-fab i {
    line-height: 56px; }
  .suj-fab:hover, .suj-fab:active, .suj-fab:focus {
    background-color: #f1c40f; }

.suj-input-field-wrapper .input-field.invalid .form-message,
.suj-input-field-wrapper .input-field.invalid .prefix {
  color: #d9534f; }
.suj-input-field-wrapper .input-field.invalid input:not([type]):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="text"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="password"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="email"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="url"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="time"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="date"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="datetime"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="datetime-local"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="tel"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="number"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid input[type="search"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.invalid textarea.materialize-textarea:not([readonly]) {
  border-color: #d9534f;
  box-shadow: 0 1px 0 0 #d9534f; }
.suj-input-field-wrapper .input-field.valid .form-message,
.suj-input-field-wrapper .input-field.valid .prefix {
  color: #5cb85c; }
.suj-input-field-wrapper .input-field.valid input:not([type]):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="text"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="password"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="email"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="url"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="time"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="date"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="datetime"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="datetime-local"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="tel"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="number"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid input[type="search"]:not(.browser-default):not([readonly]),
.suj-input-field-wrapper .input-field.valid textarea.materialize-textarea:not([readonly]) {
  border-color: #5cb85c;
  box-shadow: 0 1px 0 0 #5cb85c; }
.suj-input-field-wrapper .input-field input.valid:focus:not([type]),
.suj-input-field-wrapper .input-field input.valid[type="text"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="password"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="email"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="url"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="time"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="date"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="datetime"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="datetime-local"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="tel"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="number"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field input.valid[type="search"]:focus:not(.browser-default),
.suj-input-field-wrapper .input-field textarea.materialize-textarea.valid:focus,
.suj-input-field-wrapper .input-field .select-wrapper.valid > input.select-dropdown:focus {
  border-color: #f39c12;
  box-shadow: 0 1px 0 0 #f39c12; }

.input-field > .prefix ~ .form-message {
  padding-left: 3.8rem; }

.toggle-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .toggle-container .toggle {
    position: relative;
    display: table;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    margin: 1rem 0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }
    .toggle-container .toggle > input[type=radio] {
      display: none; }
      .toggle-container .toggle > input[type=radio] + label {
        cursor: pointer;
        width: 50%;
        height: auto !important;
        margin: 0;
        padding: 5px 10px;
        text-align: center;
        line-height: 30px;
        color: #f39c12;
        vertical-align: middle;
        z-index: 10;
        -webkit-transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        float: left; }
        .toggle-container .toggle > input[type=radio] + label:before, .toggle-container .toggle > input[type=radio] + label:after {
          display: none; }
      .toggle-container .toggle > input[type=radio]:checked + label {
        color: #ffffff; }
    .toggle-container .toggle > label:first-child {
      padding-left: 5px; }
    .toggle-container .toggle > label:last-child {
      padding-right: 5px; }
    .toggle-container .toggle > .lever {
      position: absolute;
      top: 5px;
      left: calc(25% + 2.5px);
      height: calc(100% - 10px);
      width: calc(50% - 10px);
      background-color: #f39c12;
      border-radius: 5px;
      cursor: pointer;
      vertical-align: middle;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
      -webkit-transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s ease-in, box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: left 0.5s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s ease-in, box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      .toggle-container .toggle > .lever:hover {
        background-color: #f1c40f; }
      .toggle-container .toggle > .lever:before, .toggle-container .toggle > .lever:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        left: 15%;
        top: 20%;
        -webkit-transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), transform 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.2, 1); }
    .toggle-container .toggle > label:active ~ .lever::before, .toggle-container .toggle > label:focus ~ .lever::before {
      -webkit-transform: scale(2.4);
      transform: scale(2.4);
      background-color: rgba(241, 196, 15, 0.2); }
    .toggle-container .toggle > input[type=radio]:checked + label ~ .lever {
      opacity: 1;
      visibility: visible; }
    .toggle-container .toggle > input[type=radio]:checked + label:first-of-type ~ .lever {
      left: 5px; }
    .toggle-container .toggle > input[type=radio]:checked + label:last-of-type ~ .lever {
      left: calc(50% + 5px); }

.suj-cropper-crop-area, .suj-cropper-editor-wrapper, .suj-cropper-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }
.suj-cropper-editor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 1; }
  .suj-cropper-editor-wrapper > .crop-area {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .suj-cropper-editor-wrapper > .crop-area > img {
      max-width: 100%;
      vertical-align: middle;
      border-style: none; }
  .suj-cropper-editor-wrapper .img-preview {
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .suj-cropper-editor-wrapper .img-preview,
    .suj-cropper-editor-wrapper .img-preview img {
      max-width: 100%;
      max-height: 100%; }

.suj-cropper-container {
  position: fixed;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-height: none !important;
  background: rgba(10, 10, 10, 0.95);
  -ms-touch-action: none;
  touch-action: none; }
  .suj-cropper-container .modal-content {
    padding: 0; }
    .suj-cropper-container .modal-content > .preloader-container {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      width: 100% !important;
      height: 100% !important;
      background: rgba(10, 10, 10, 0.75);
      opacity: 0;
      visibility: hidden; }
      .suj-cropper-container .modal-content > .preloader-container > .preloader-area {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .suj-cropper-container .modal-content.preloader-active .crop-area {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px); }
    .suj-cropper-container .modal-content.preloader-active > .preloader-container {
      -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      opacity: 1;
      visibility: visible;
      z-index: 9999; }
    .suj-cropper-container .modal-content > .crop-action-btn {
      position: absolute; }
      .suj-cropper-container .modal-content > .crop-action-btn > .action-floating-btn-container .fixed-action-btn.horizontal {
        position: relative;
        right: 15px;
        bottom: 0; }
        .suj-cropper-container .modal-content > .crop-action-btn > .action-floating-btn-container .fixed-action-btn.horizontal > ul {
          right: 40px;
          top: 35%; }
      .suj-cropper-container .modal-content > .crop-action-btn.active > .action-floating-btn-container .fixed-action-btn.horizontal:not(.active) > ul > li > .btn-floating {
        opacity: 0 !important;
        transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px) !important; }
  .suj-cropper-container .modal-footer {
    background-color: transparent;
    border-top: 1px solid rgba(75, 75, 75, 0.5); }
    .suj-cropper-container .modal-footer > .modal-action {
      margin-left: 15px; }

.swal2-container > .swal2-popup {
  padding: 24px; }
  .swal2-container > .swal2-popup .swal2-content {
    color: #9c9c9c;
    margin: 0 0 15px !important; }
  .swal2-container > .swal2-popup .swal2-actions {
    justify-content: space-around; }
  .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn {
    display: block;
    margin: 0 10px 0 0;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #f39c12 !important;
    color: #ffffff !important; }
    .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn:hover, .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn:active {
      background-color: #f1c40f !important; }
    .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel {
      background-color: #9c9c9c !important; }
      .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel:hover, .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel:active, .swal2-container > .swal2-popup .swal2-buttonswrapper > .btn.swal2-cancel:focus {
        background-color: #c6c6c6 !important; }

body {
  background-color: #f4f7fa !important; }

/*========= SUJ Top Navigation =========*/
nav ul li.active {
  background-color: transparent; }

.suj-main-application-header .navbar-fixed {
  z-index: 999; }

.suj-navbar-custom {
  background-color: #ffffff;
  padding: 0 3%;
  /*CSS Style for Dropdown Menu*/ }
  .suj-navbar-custom .logo {
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 30px;
    width: 160px;
    margin: 20px 0 0; }
  .suj-navbar-custom .button-collapse {
    color: #95989a; }
  .suj-navbar-custom .suj-navbar-link > li {
    /*Register Font Size*/
    /*CSS Style for Popover Menu Have No Border When Hover*/
    /*CSS Style for Log in and Post Jobs Button*/ }
    .suj-navbar-custom .suj-navbar-link > li > a {
      color: #999999;
      position: relative;
      border-bottom: 3px solid transparent;
      display: unset;
      padding: 20px 15px; }
      .suj-navbar-custom .suj-navbar-link > li > a::after {
        height: 3px;
        bottom: -3px;
        background-color: #f39c12;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        width: 0;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s; }
      .suj-navbar-custom .suj-navbar-link > li > a:hover::after {
        width: 100%; }
      .suj-navbar-custom .suj-navbar-link > li > a:hover, .suj-navbar-custom .suj-navbar-link > li > a:focus {
        background-color: transparent;
        text-decoration: none;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s; }
      .suj-navbar-custom .suj-navbar-link > li > a.active {
        border-color: #f39c12; }
      .suj-navbar-custom .suj-navbar-link > li > a i.material-icons {
        line-height: 65px;
        margin: 0; }
    .suj-navbar-custom .suj-navbar-link > li.active > a {
      border-color: #f39c12; }
    .suj-navbar-custom .suj-navbar-link > li.register a {
      font-size: 0.9rem; }
    .suj-navbar-custom .suj-navbar-link > li.suj-popover-menu a {
      border: none; }
      .suj-navbar-custom .suj-navbar-link > li.suj-popover-menu a::after {
        background-color: transparent; }
      .suj-navbar-custom .suj-navbar-link > li.suj-popover-menu a:focus, .suj-navbar-custom .suj-navbar-link > li.suj-popover-menu a.focus {
        box-shadow: none; }
    .suj-navbar-custom .suj-navbar-link > li.suj-top-button {
      margin-left: 15px; }
      .suj-navbar-custom .suj-navbar-link > li.suj-top-button a.suj-navbar-btn {
        background-color: #f39c12;
        color: #ffffff;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 0.8rem;
        margin: -2px auto 0;
        border: none; }
        .suj-navbar-custom .suj-navbar-link > li.suj-top-button a.suj-navbar-btn:nth-child(2) {
          margin-left: 10px; }
        .suj-navbar-custom .suj-navbar-link > li.suj-top-button a.suj-navbar-btn:hover {
          background-color: #f1c40f; }
          .suj-navbar-custom .suj-navbar-link > li.suj-top-button a.suj-navbar-btn:hover::after {
            width: 0; }
  .suj-navbar-custom ul.dropdown-content {
    top: 64px !important;
    padding: 15px 30px 10px;
    width: auto !important; }
    .suj-navbar-custom ul.dropdown-content li {
      min-width: 100px;
      min-height: 35px; }
      .suj-navbar-custom ul.dropdown-content li a {
        padding: 0 0 7px;
        font-size: 0.9rem;
        display: block;
        color: #999999; }
        .suj-navbar-custom ul.dropdown-content li a:hover, .suj-navbar-custom ul.dropdown-content li a:focus, .suj-navbar-custom ul.dropdown-content li a:active {
          background-color: transparent !important;
          color: #f39c12;
          text-decoration: none; }
      .suj-navbar-custom ul.dropdown-content li:hover, .suj-navbar-custom ul.dropdown-content li.active, .suj-navbar-custom ul.dropdown-content li.selected {
        background-color: transparent; }

/*========= SUJ Popover Menu =========*/
.suj-popover-menu ul.suj-popover-dropdown {
  background-image: none !important;
  width: 312px !important;
  padding: 20px 30px 0; }
  .suj-popover-menu ul.suj-popover-dropdown li {
    width: 70px;
    margin: 0 7px;
    cursor: pointer;
    min-width: 70px !important;
    clear: none; }
    .suj-popover-menu ul.suj-popover-dropdown li a {
      color: #83868a;
      font-size: 0.8rem;
      text-align: center;
      margin-bottom: 10px; }
      .suj-popover-menu ul.suj-popover-dropdown li a:hover {
        color: #f39c12; }
      .suj-popover-menu ul.suj-popover-dropdown li a > img {
        width: 100%; }

/*========= SUJ Header =========*/
.suj-header {
  background-color: #ecf0f1; }
  .suj-header .flexslider {
    margin: 0;
    border-radius: 0;
    border: none; }
    .suj-header .flexslider .flex-viewport {
      width: 100%; }

.suj-header-banner {
  background-size: cover !important;
  background-repeat: no-repeat;
  width: 100%;
  border: none;
  border-width: 1px 0; }

.suj-header-search {
  padding: 45px 14% 25px 15%; }
  .suj-header-search > .row {
    margin: 0; }
  .suj-header-search .input-field {
    margin-top: 0;
    background-color: #ffffff; }
    .suj-header-search .input-field.col {
      padding: 0; }
  .suj-header-search .validate {
    border: none !important;
    line-height: 1.35;
    padding: 0.4rem 0 !important;
    margin: 0 !important; }
    .suj-header-search .validate:focus {
      background-color: #ffffff; }

.suj-header-search-btn .btn {
  /*line-height: 1.35;*/
  height: auto;
  background-color: #f39c12;
  color: #ffffff;
  padding: 0.7rem 1.5rem !important;
  font-weight: bold !important;
  width: 100%; }
  .suj-header-search-btn .btn:hover {
    background-color: #f1c40f; }

.suj-hero {
  background: linear-gradient(to bottom, rgba(0, 10, 0, 0.5) 0%, rgba(0, 10, 0, 0.5) 100%), url("../img/hero.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 50vh; }

.suj-hero-header {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%; }
  .suj-hero-header h1 {
    color: #ffffff; }

.suj-search-form {
  padding-top: 50px;
  padding-bottom: 50px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-success {
  color: #5cb85c; }

a.text-success:hover,
a.text-success:focus {
  color: #449d44; }

.text-info {
  color: #31708f; }

a.text-info:hover,
a.text-info:focus {
  color: #245269; }

.text-warning {
  color: #f0ad4e; }

a.text-warning:hover,
a.text-warning:focus {
  color: #ec971f; }

.text-error {
  color: #d9534f; }

a.text-error:hover,
a.text-error:focus {
  color: #c9302c; }

.text-danger {
  color: #d9534f; }

a.text-danger:hover,
a.text-danger:focus {
  color: #c9302c; }

.suj-homepage-wrapper {
  background-color: #ecf0f1;
  padding-top: 0;
  padding-bottom: 110px;
  color: #616366; }
  .suj-homepage-wrapper .suj-featured-jobs-card {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
    vertical-align: top;
    text-align: left;
    /*height: 150px;*/
    padding: auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    white-space: normal;
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    color: #616366;
    margin-bottom: 20px; }
    .suj-homepage-wrapper .suj-featured-jobs-card:hover {
      box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
      transform: translate(0, -10px);
      transition-delay: 0s !important; }
    .suj-homepage-wrapper .suj-featured-jobs-card:before {
      content: '';
      position: absolute;
      top: 100%;
      width: 100%;
      height: 20px; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-content {
      padding: 20px 20px 0; }
      .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-content .typcn-star-full-outline {
        color: #f1c40f; }
      .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-content .typcn-heart-full-outline {
        color: #ff4422; }
      .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-content .typcn-bookmark {
        color: #2ecc71; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 1px solid #fcfcff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-txt h4, .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-txt h4 > a {
      color: #f39c12;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-txt h4 span {
      text-transform: capitalize;
      color: #4B4F56;
      font-weight: normal; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-txt p {
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 0px; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-txt hr {
      margin-top: 10px;
      margin-bottom: 10px; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-card-txt .suj-views-meta {
      font-size: 12px;
      font-weight: 300; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-btn, .suj-homepage-wrapper .suj-featured-jobs-card .suj-latest-jobs-btn {
      border: 1px solid #dddddd;
      border-radius: 2px;
      float: right;
      padding: 0 20px;
      color: #4B4F56;
      margin: 43px 0 0;
      font-size: 0.9rem;
      background-color: #ffffff; }
      .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-btn:hover, .suj-homepage-wrapper .suj-featured-jobs-card .suj-latest-jobs-btn:hover {
        background-color: #f39c12;
        border-color: #f39c12;
        color: #ffffff; }
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-latest-jobs-btn {
      margin-top: 30px; }
  .suj-homepage-wrapper .suj-single-job-wrapper {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08); }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-content {
      padding-bottom: 50px; }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-bg-img {
      width: 100%;
      height: 200px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-img {
      width: 100%;
      height: 125px;
      margin-top: -60px;
      margin-left: 15px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08); }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-title {
      padding-top: 20px; }
      .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-title h3 {
        font-weight: 300;
        font-size: 22px; }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-apply-btn {
      padding-top: 15px; }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-nav-item {
      color: #495057;
      background-color: #ecf0f1;
      border-color: #ecf0f1;
      margin-right: 1px;
      margin-left: 1px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100px;
      text-align: center; }
      .suj-homepage-wrapper .suj-single-job-wrapper .suj-nav-item a {
        color: #4B4F56; }
    .suj-homepage-wrapper .suj-single-job-wrapper .nav-tabs .nav-item.show .nav-link, .suj-homepage-wrapper .suj-single-job-wrapper .nav-tabs .nav-link.active {
      color: #f39c12;
      background-color: #ecf0f1;
      border-color: #ecf0f1; }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-nav-tabs {
      border-bottom: 0px;
      margin-bottom: 10px; }
    .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-content-desc {
      padding: 30px; }
      .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-content-desc b {
        color: #f39c12; }
      .suj-homepage-wrapper .suj-single-job-wrapper .suj-single-job-content-desc p {
        line-height: 30px;
        margin-top: 10px; }
  .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: white;
    vertical-align: top;
    text-align: left;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 20px;
    white-space: normal;
    color: #4b4f56;
    margin-bottom: 20px;
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1); }
    .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card:hover {
      box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
      transform: translate(0, -10px);
      transition-delay: 0s !important; }
    .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card:before {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      height: 20px; }
    .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-card-img {
      width: 100%;
      height: 200px;
      background-size: cover;
      border-radius: 0px;
      border-width: 1px;
      border-style: solid;
      border-color: #fcfcff;
      border-image: initial; }
    .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content {
      padding: 10px; }
      .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content h3 {
        font-size: 18px;
        line-height: 25px;
        font-weight: 700; }
      .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content p {
        font-size: 14px;
        font-weight: 300; }
      .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content ul {
        padding-left: 0px;
        margin-left: 0px;
        display: inline-flex; }
      .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content li {
        display: inline-block;
        font-weight: 300;
        font-size: 12px;
        list-style: none; }
      .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content .suj-article-list-item {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px; }
      .suj-homepage-wrapper .suj-articles-list-wrapper .suj-article-card .suj-article-content .suj-article-card-avatar {
        width: 30px;
        height: 30px;
        background-size: cover;
        border-radius: 60px;
        border-width: 1px;
        border-style: solid;
        border-color: #fcfcff;
        border-image: initial; }

/*=== CSS for SUJ Left Bar ===*/
.suj-leftbar-wrapper {
  color: #83868a; }
  .suj-leftbar-wrapper h6.result {
    margin: 30px 0 25px;
    font-weight: bold; }

h6.filter {
  font-weight: bold;
  margin: 0 0 30px; }
  h6.filter a {
    color: #83868a;
    text-decoration: none;
    font-weight: normal;
    font-size: 0.8rem;
    background-color: transparent;
    float: right;
    padding: 0;
    cursor: pointer;
    border: none; }
    h6.filter a:hover {
      color: #717478; }

ul.suj-leftbar-filter {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.suj-leftbar-filter li {
    margin: 10px 0;
    padding: 0 !important; }
    ul.suj-leftbar-filter li label {
      font-weight: bold;
      color: #616366;
      font-size: 1rem;
      left: 0 !important; }
  ul.suj-leftbar-filter ul.select-dropdown {
    top: 53px !important; }
    ul.suj-leftbar-filter ul.select-dropdown li {
      margin: 0; }

.suj-leftbar-type {
  margin-top: 0 !important; }
  .suj-leftbar-type label {
    padding-left: 30px;
    font-weight: normal !important; }
    .suj-leftbar-type label.title {
      padding-left: 0;
      margin-bottom: 10px;
      display: block;
      font-weight: bold !important; }
  .suj-leftbar-type form p {
    margin: 7px 0 0; }

.suj-leftbar-category {
  margin-top: 30px !important; }

.suj-leftbar-salary .input-salary {
  width: 47% !important;
  display: inline; }

ul.suj-leftbar-joblist {
  margin: 15px 0 0;
  padding: 0; }
  ul.suj-leftbar-joblist li.col {
    padding: 0;
    margin-bottom: 10px; }
  ul.suj-leftbar-joblist h6 {
    font-weight: bold;
    border: 1px solid #83868a;
    border-width: 0 0 1px;
    padding: 0 0 3px;
    margin: 0.5rem 0 0.7rem; }
  ul.suj-leftbar-joblist a {
    color: #83868a;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    margin: 0 0 13px; }
    ul.suj-leftbar-joblist a:hover {
      color: #717478; }

/*=== CSS for SUJ Right Bar ===*/
.suj-rightbar-wrapper {
  padding: 0 0 0 25px !important; }

/*Start Up to Follow*/
.suj-rightbar-startup {
  background-color: #ffffff;
  padding: 20px 5%;
  margin: 0 0 20px; }
  .suj-rightbar-startup .close {
    margin-top: -7px;
    font-size: 1.5rem;
    float: right;
    color: #83868a; }
    .suj-rightbar-startup .close:hover {
      color: #f39c12; }
  .suj-rightbar-startup h5 {
    color: #f39c12;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 20px; }
  .suj-rightbar-startup .content {
    padding: 10px;
    text-align: center; }
  .suj-rightbar-startup .startup-logo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto; }

.suj-follow-btn {
  background-color: #ffffff;
  color: #83868a;
  border-color: #dddddd;
  margin: 13px 7px 0;
  padding: 0 12px !important;
  font-size: 0.8rem; }

/*Banner Advertisement*/
.suj-rightbar-banner {
  background-repeat: no-repeat;
  background-size: cover !important;
  width: 100%;
  margin: 0 0 20px;
  border: 1px solid #dddddd; }

/*Jobs Found Content*/
.suj-rightbar-jobsfound {
  background-color: transparent;
  color: #83868a;
  margin: 0 0 15px; }
  .suj-rightbar-jobsfound .header {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 25px 10px; }
    .suj-rightbar-jobsfound .header p {
      margin: 0 10px 0 0;
      font-size: 0.9rem;
      color: #333333;
      margin-bottom: 15px; }
  .suj-rightbar-jobsfound .jobsfound-logo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: -10px 5px 0px; }
  .suj-rightbar-jobsfound .content {
    background-color: #ffffff;
    margin-top: 15px;
    padding: 20px 25px; }
    .suj-rightbar-jobsfound .content h6 {
      color: #f39c12;
      font-weight: bold; }
    .suj-rightbar-jobsfound .content p {
      margin: 0;
      font-size: 12px; }
    .suj-rightbar-jobsfound .content p.time {
      display: inline-block;
      float: right;
      font-size: 0.8rem;
      margin-top: 7px; }

body.single-job {
  background-color: #ffffff !important; }

.suj-single-navbar {
  background-color: #f39c12;
  padding: 0 3%; }

.suj-single-header {
  padding: 1.5rem; }
  .suj-single-header nav {
    box-shadow: none; }

.suj-single-search {
  padding: 20px 3%;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 3; }
  .suj-single-search.top-search {
    z-index: 9; }
  .suj-single-search.last {
    margin-top: 15px;
    padding: 0; }
  .suj-single-search .search-content {
    padding-top: 10px; }
  .suj-single-search form.input-search.row, .suj-single-search form.input-search.col {
    padding-left: 0; }
  .suj-single-search form.input-search .input-field .material-icons {
    padding: 12px 0 0 3px;
    color: #f39c12; }
    .suj-single-search form.input-search .input-field .material-icons.active {
      color: #f1c40f; }
  .suj-single-search form.input-search .input-field input[type="search"] {
    border-color: #f39c12;
    border-width: 2px; }
    .suj-single-search form.input-search .input-field input[type="search"] + label {
      /*color: $suj-color;*/ }
      .suj-single-search form.input-search .input-field input[type="search"] + label.active {
        color: #f1c40f; }
  .suj-single-search form.input-search .input-field input[type="search"]:focus:not(.browser-default):not([readonly]) {
    border-color: #f1c40f;
    box-shadow: none; }
  .suj-single-search .select-wrapper .caret {
    color: #f39c12; }
  .suj-single-search .select-wrapper input.select-dropdown {
    border-color: #f39c12;
    border-width: 2px;
    color: #f39c12; }
  .suj-single-search ul.select-dropdown {
    top: 53px !important; }
    .suj-single-search ul.select-dropdown li span {
      font-size: 0.95rem;
      color: #9c9c9c; }
      .suj-single-search ul.select-dropdown li span:hover {
        color: #f39c12; }
  .suj-single-search [type="checkbox"] + label::before, .suj-single-search [type="checkbox"]:not(.filled-in) + label::after {
    margin-top: -9px; }
  .suj-single-search .salary-options .dropdown-button {
    border-bottom: 2px solid #f39c12;
    display: block;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 20px;
    color: #f39c12; }
    .suj-single-search .salary-options .dropdown-button:hover, .suj-single-search .salary-options .dropdown-button:focus, .suj-single-search .salary-options .dropdown-button:active {
      color: #f39c12; }
  .suj-single-search .salary-options .dropdown-content {
    min-width: 250px;
    padding: 0 20px;
    top: 53px !important; }
    .suj-single-search .salary-options .dropdown-content span {
      padding-top: 10px;
      color: #f39c12;
      font-size: 1.2rem; }
    .suj-single-search .salary-options .dropdown-content input[type="text"]:not(.browser-default) {
      border-color: #f39c12;
      border-width: 2px; }
    .suj-single-search .salary-options .dropdown-content input[type="text"]:focus:not(.browser-default):not([readonly]) {
      box-shadow: none; }
  .suj-single-search .suj-single-search-btn {
    float: right;
    margin: 23px 0 0;
    /*padding: 0.7rem 2.5rem !important;*/
    width: auto;
    background-color: #f39c12; }
    .suj-single-search .suj-single-search-btn:hover, .suj-single-search .suj-single-search-btn:focus {
      background-color: #f1c40f; }

.suj-single-wrapper {
  background-color: #ffffff;
  padding: 0 3% 45px;
  margin: 0;
  display: flex;
  flex: 1 1 0; }
  .suj-single-wrapper .full-height {
    height: 100%;
    position: relative;
    padding-bottom: 120px; }
  .suj-single-wrapper .bottom-pagination {
    position: absolute;
    bottom: 0;
    width: 100%; }

.suj-single-joblist.col {
  padding: 0 30px 0 0; }
.suj-single-joblist ul.suj-single-joblist-card {
  list-style: none;
  padding: 0;
  margin: 0; }
  .suj-single-joblist ul.suj-single-joblist-card li {
    margin: 0;
    padding: 25px 15px;
    border-bottom: 1px solid #dddddd; }

.suj-single-joblist-img {
  width: 80px;
  height: 80px; }

.suj-single-joblist-txt {
  color: #83868a;
  padding: 0 18px 0 0; }
  .suj-single-joblist-txt h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold; }
    .suj-single-joblist-txt h5 a {
      color: #95989a; }
      .suj-single-joblist-txt h5 a:hover, .suj-single-joblist-txt h5 a:focus, .suj-single-joblist-txt h5 a:active {
        color: #f39c12; }
  .suj-single-joblist-txt p {
    margin: 5px 0; }
    .suj-single-joblist-txt p a {
      color: #95989a; }
      .suj-single-joblist-txt p a:hover, .suj-single-joblist-txt p a:focus, .suj-single-joblist-txt p a:active {
        color: #f39c12; }

.suj-single-joblist-btn {
  width: auto;
  /*padding: 0.3rem 1.5rem !important;*/
  background-color: #f39c12;
  float: right;
  margin: 23px 0 0; }
  .suj-single-joblist-btn:hover, .suj-single-joblist-btn:focus {
    background-color: #f1c40f;
    color: #ffffff; }

.suj-single-pagination {
  text-align: center;
  margin: 10px 0; }
  .suj-single-pagination .row {
    margin: 0; }
  .suj-single-pagination .pagination li.active {
    background-color: #f39c12; }

.suj-single-jobdetail.col {
  padding: 0; }
.suj-single-jobdetail .detail-header .image {
  width: 100%;
  position: relative; }
  .suj-single-jobdetail .detail-header .image h5 {
    position: absolute;
    bottom: 0;
    margin: 0 0 5px 170px;
    color: #ffffff;
    z-index: 5; }
.suj-single-jobdetail .detail-header .overlay {
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 78%, rgba(181, 181, 181, 0.6) 100%) repeat scroll right bottom/cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 78%, rgba(181, 181, 181, 0.6) 100%) repeat scroll right bottom/cover;
  width: 100%;
  height: 100%;
  position: absolute; }
.suj-single-jobdetail .company-profile {
  padding: 0 30px;
  margin-bottom: 35px; }
  .suj-single-jobdetail .company-profile .profile-image {
    height: 120px;
    margin-top: -60px;
    position: relative;
    width: 120px;
    border-radius: 3px;
    padding: 0;
    z-index: 5; }
  .suj-single-jobdetail .company-profile .content {
    padding: 10px 0 0 10px; }
    .suj-single-jobdetail .company-profile .content h6 {
      color: #83868a;
      margin: 0;
      padding-top: 10px; }
      .suj-single-jobdetail .company-profile .content h6 .typcn::before {
        margin-right: 7px;
        font-size: 1.2rem; }
      .suj-single-jobdetail .company-profile .content h6 a.orange-txt {
        color: #f39c12; }
        .suj-single-jobdetail .company-profile .content h6 a.orange-txt:hover {
          color: #f39c12;
          text-decoration: underline; }
  .suj-single-jobdetail .company-profile .apply-btn {
    background-color: #f39c12; }
    .suj-single-jobdetail .company-profile .apply-btn:hover, .suj-single-jobdetail .company-profile .apply-btn:focus {
      background-color: #f1c40f;
      color: #ffffff; }
.suj-single-jobdetail .detail-body {
  padding: 0 30px; }
  .suj-single-jobdetail .detail-body .tabs-wrapper {
    padding: 0; }
    .suj-single-jobdetail .detail-body .tabs-wrapper .tabs a {
      color: #f39c12;
      text-transform: capitalize;
      font-size: 1.1rem; }
    .suj-single-jobdetail .detail-body .tabs-wrapper .tabs .indicator {
      background-color: #f39c12;
      height: 3px; }
  .suj-single-jobdetail .detail-body .tabcontent {
    padding: 35px 0 0;
    color: #9c9c9c; }
    .suj-single-jobdetail .detail-body .tabcontent .job-categories {
      margin-bottom: 50px; }
      .suj-single-jobdetail .detail-body .tabcontent .job-categories > .col {
        padding-bottom: 13px; }
      .suj-single-jobdetail .detail-body .tabcontent .job-categories h6 {
        margin: 0;
        font-size: 14px;
        color: #f39c12; }
      .suj-single-jobdetail .detail-body .tabcontent .job-categories p {
        margin: 5px 0 0;
        font-size: 14px; }
        .suj-single-jobdetail .detail-body .tabcontent .job-categories p.green-txt {
          color: #6dba6d; }
      .suj-single-jobdetail .detail-body .tabcontent .job-categories a.mail {
        color: #2699fb; }
        .suj-single-jobdetail .detail-body .tabcontent .job-categories a.mail:hover, .suj-single-jobdetail .detail-body .tabcontent .job-categories a.mail:focus, .suj-single-jobdetail .detail-body .tabcontent .job-categories a.mail:active {
          color: #f39c12; }
    .suj-single-jobdetail .detail-body .tabcontent ul.job-list {
      list-style: disc outside none;
      padding-left: 14px; }
      .suj-single-jobdetail .detail-body .tabcontent ul.job-list > li {
        list-style-type: disc; }
    .suj-single-jobdetail .detail-body .tabcontent p.about {
      margin: 0; }
  .suj-single-jobdetail .detail-body .tabcontent-image {
    width: 100%; }

.tabcontent-list-wrapper {
  margin: 0; }
  .tabcontent-list-wrapper h6 {
    margin: 8px 0 5px; }
  .tabcontent-list-wrapper a {
    color: #83868a;
    font-weight: 600; }
    .tabcontent-list-wrapper a:hover, .tabcontent-list-wrapper a:active, .tabcontent-list-wrapper a:focus {
      color: #f39c12; }
  .tabcontent-list-wrapper p {
    margin: 0; }
  .tabcontent-list-wrapper .avatar-team {
    border-radius: 50%;
    width: 60px;
    height: 60px; }
  .tabcontent-list-wrapper .article-preview {
    margin: 15px 0 0; }
    .tabcontent-list-wrapper .article-preview .more {
      color: #f39c12;
      font-style: italic;
      margin-left: 6px; }

.suj-login-wrapper {
  align-items: center;
  display: flex;
  justify-content: center; }

.suj-login-container {
  margin: 50px auto 0; }
  .suj-login-container .card-title {
    padding: 30px 24px 10px; }
    .suj-login-container .card-title h5 {
      font-size: 28px;
      text-align: center;
      margin: 0;
      color: #333333; }
      .suj-login-container .card-title h5.register {
        font-size: 30px; }
  .suj-login-container .card-content {
    padding: 24px 70px; }
  .suj-login-container .card-action {
    padding: 30px 24px 50px; }
    .suj-login-container .card-action p {
      text-align: center;
      color: #9c9c9c;
      margin: 0 0 25px; }
    .suj-login-container .card-action .suj-btn-white {
      margin: 0 auto;
      display: table; }
  .suj-login-container .input-field .prefix {
    top: 13px;
    color: #9c9c9c; }
  .suj-login-container .input-field .prefix ~ input, .suj-login-container .input-field .prefix ~ textarea, .suj-login-container .input-field .prefix ~ label, .suj-login-container .input-field .prefix ~ .validate ~ label, .suj-login-container .input-field .prefix ~ .autocomplete-content, .suj-login-container .prefix ~ .select-wrapper {
    margin-left: 3.8rem;
    width: calc(100% - 3.8rem); }
  .suj-login-container .signup-form {
    display: none; }
    .suj-login-container .signup-form.wizard {
      display: block;
      overflow: visible; }
      .suj-login-container .signup-form.wizard > .steps > ul > li {
        display: none; }
      .suj-login-container .signup-form.wizard .content {
        min-height: 0;
        height: auto;
        overflow: visible;
        background-color: transparent;
        margin: 0;
        padding-bottom: 40px; }
        .suj-login-container .signup-form.wizard .content .body {
          padding: 0 0.5em 0 0;
          height: auto;
          width: 100%;
          position: relative; }
          .suj-login-container .signup-form.wizard .content .body input {
            border-width: 0 0 1px 0; }
      .suj-login-container .signup-form.wizard > .actions a {
        background-color: #f39c12; }
        .suj-login-container .signup-form.wizard > .actions a:hover, .suj-login-container .signup-form.wizard > .actions a:active {
          background-color: #f1c40f; }
  .suj-login-container .suj-login-title {
    margin: 0 0 20px;
    color: #9c9c9c;
    font-size: 18px; }
  .suj-login-container .suj-input-file-btn {
    background-color: #ffffff;
    color: #f39c12;
    text-transform: capitalize;
    border-color: #f39c12; }
  .suj-login-container .gender-wrapper {
    height: 3rem;
    line-height: 2.3rem;
    margin: 0 0 20px 3.8rem;
    position: relative; }
    .suj-login-container .gender-wrapper p {
      width: 50%;
      float: left; }
    .suj-login-container .gender-wrapper label {
      pointer-events: initial; }
  .suj-login-container .padding-left {
    padding-left: 0; }
  .suj-login-container .padding-right {
    padding-right: 0; }

.suj-login-logo-wrapper {
  width: 3.8rem;
  float: left; }

.suj-login-field-wrapper {
  float: left;
  width: calc(100% - 3.8rem); }
  .suj-login-field-wrapper .file-path-wrapper {
    padding-left: 0;
    padding-right: 15px; }

.suj-login-validate {
  position: relative; }
  .suj-login-validate::after {
    color: red;
    content: "*";
    font-size: 14px;
    left: auto;
    position: absolute;
    right: 12px; }

.suj-login-validate-text {
  padding-left: 3.8rem; }

.suj-login-note {
  padding-left: 3.8rem;
  font-size: 14px; }
  .suj-login-note [type="checkbox"] + label {
    font-size: 14px; }
  .suj-login-note label.agreement {
    font-size: 13px; }
    .suj-login-note label.agreement a {
      color: #f39c12; }
      .suj-login-note label.agreement a:hover, .suj-login-note label.agreement a:focus, .suj-login-note label.agreement a:active {
        color: #f1c40f; }

.suj-remember-me {
  padding: 0 !important; }

.suj-forgot-password {
  text-align: right;
  padding: 0 !important; }
  .suj-forgot-password a {
    color: #9c9c9c; }
    .suj-forgot-password a:hover, .suj-forgot-password a:active, .suj-forgot-password a:focus {
      color: #f39c12; }

.suj-register-btn {
  height: auto;
  padding: 12px 22px;
  text-transform: capitalize; }
  .suj-register-btn.suj-btn-white {
    margin: 0; }

.reg-status {
  height: 4rem !important;
  line-height: 4rem !important;
  width: calc(50% - 10px) !important; }

.suj-custom-style {
  /* About */ }
  .suj-custom-style .suj-about-bg {
    width: 100%;
    height: 30vh;
    background-color: #f39c12;
    text-align: center;
    padding: 10px;
    margin-top: 30px; }
  .suj-custom-style .suj-about-bg h1 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px; }
  .suj-custom-style .suj-about-bg p {
    color: #ffffff; }

.suj-custom-style {
  /* ARTICLES LIST */
  /* ARTICLE SINGLE */ }
  .suj-custom-style .suj-article-item {
    display: inline-flex;
    padding: 10px;
    margin-bottom: 10px; }
  .suj-custom-style .suj-article-item .suj-article-item-image {
    width: 300px;
    height: 150px;
    max-height: none;
    background-size: cover; }
  .suj-custom-style .suj-article-item-content {
    padding-left: 30px !important;
    padding-right: 20%; }
  .suj-custom-style .suj-article-item-text h2 {
    line-height: 1.42857;
    font-size: 21px;
    color: #f39c12;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 0px; }
  .suj-custom-style .suj-article-meta-avatar {
    width: 20px;
    height: 20px;
    border-radius: 100px !important;
    max-height: none;
    border-radius: 5px;
    background-size: cover;
    margin-bottom: -5px; }
  .suj-custom-style .suj-article-item-meta {
    padding-top: 10px;
    vertical-align: middle;
    display: inline-block; }
  .suj-custom-style .suj-article-item-meta li {
    display: inline-block;
    padding-right: 15px;
    color: #999;
    line-height: 22px;
    padding-left: .4em; }
  .suj-custom-style .suj-article-item-meta i {
    font-size: 12px;
    padding-right: 5px; }
  .suj-custom-style .suj-article-single-wrapper {
    padding: 0 50px; }
  .suj-custom-style .suj-article-single-meta {
    float: none;
    margin: 15px auto;
    padding: 0;
    list-style: none; }
  .suj-custom-style .suj-article-single-meta li {
    display: inline-block; }
  .suj-custom-style .suj-article-single-wrapper__title {
    font-size: 2em; }
  .suj-custom-style .suj-article-single-meta__author {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    width: 32px;
    padding: 0;
    vertical-align: middle;
    margin-top: -25px; }
  .suj-custom-style .suj-article-single-meta__author img {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%; }
  .suj-custom-style .post-meta__date {
    color: #999;
    font-size: 13px; }
  .suj-custom-style .post-meta__read-time {
    color: #999;
    font-size: 13px; }
  .suj-custom-style .post-meta__read-time {
    border-left: 1px solid #999;
    margin-left: 5px;
    padding-left: 5px; }
  .suj-custom-style .suj-article-single-meta__sharing {
    float: right;
    width: auto;
    padding: 0;
    vertical-align: middle; }
  .suj-custom-style .sharing-widget > li {
    vertical-align: top; }
  .suj-custom-style .list-inline, .suj-custom-style .post-meta {
    margin-left: -5px; }
  .suj-custom-style .list-inline, .suj-custom-style .list-unstyled, .suj-custom-style .post-meta, .suj-custom-style .step-wizard {
    padding-left: 0;
    list-style: none; }
  .suj-custom-style .sharing-widget__count {
    border: 2px solid #ccc;
    color: #555;
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    line-height: 28px;
    margin-right: 4px;
    position: relative; }
  .suj-custom-style .sharing-widget__btn, .suj-custom-style .sharing-widget__count {
    border-radius: 3px;
    display: block;
    height: 32px;
    text-align: center;
    width: 64px; }
  .suj-custom-style .sharing-widget__count::before {
    border-left: 6px solid #ccc;
    content: "";
    height: 0;
    width: 0;
    z-index: 2;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent; }
  .suj-custom-style .sharing-widget__count::after, .suj-custom-style .sharing-widget__count::before {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
  .suj-custom-style .sharing-widget__count::after {
    border-left: 3px solid #fff;
    content: "";
    height: 0;
    width: 0;
    z-index: 2;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent; }
  .suj-custom-style .sharing-widget__count::after, .suj-custom-style .sharing-widget__count::before {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%); }
  .suj-custom-style .list-inline > li, .suj-custom-style .post-meta > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
  .suj-custom-style .sharing-widget__btn {
    color: #fff; }
  .suj-custom-style .sharing-widget__btn, .suj-custom-style .sharing-widget__count {
    border-radius: 3px;
    display: block;
    height: 32px;
    text-align: center;
    width: 64px; }
  .suj-custom-style .bg-facebook, .suj-custom-style .login-form__fb-btn {
    background: #3b5998; }
  .suj-custom-style .bg-twitter, .suj-custom-style .login-form__twitter-btn {
    background: #1da1f2; }
  .suj-custom-style .bg-linkedin, .suj-custom-style .login-form__linkedin-btn {
    background: #0077b5; }
  .suj-custom-style .bg-gplus, .suj-custom-style .login-form__gplus-btn {
    background: #dd4b39; }
  .suj-custom-style .sharing-widget__btn .fa-facebook {
    line-height: 34px; }
  .suj-custom-style .sharing-widget__btn .fa, .suj-custom-style .sharing-widget__btn .star-saved, .suj-custom-style .sharing-widget__btn .star-saved--selected {
    font-size: 18px;
    line-height: 32px; }
  .suj-custom-style .fa, .suj-custom-style .star-saved, .suj-custom-style .star-saved--selected {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .suj-custom-style .suj-article-single__content {
    padding: 30px 0; }
  .suj-custom-style .suj-article-single__content p {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px; }
  .suj-custom-style .suj-article-single__content img {
    padding: 20px 0;
    border-radius: 3px;
    text-align: center; }
  .suj-custom-style .signup-box {
    background: #eee;
    border-radius: 3px;
    text-align: center;
    margin: 12px 0 36px;
    padding: 36px; }
  .suj-custom-style .signup-box__heading {
    margin: 0; }
  .suj-custom-style .signup-box__description {
    word-wrap: break-word;
    margin: 24px 0;
    padding: 20px; }
  .suj-custom-style .signup-box__btn {
    font-size: 18px;
    font-weight: 700; }
  .suj-custom-style .btn-primary, .suj-custom-style .comment-list__new-comments-btn, .suj-custom-style .comment-list__view-all-btn, .suj-custom-style .static-page__subscribe-submit-btn {
    color: #fff;
    background-color: #bf0016;
    border-color: #a60013; }
  .suj-custom-style .btn-primary:hover, .suj-custom-style .btn-primary:focus {
    background-color: #b40317;
    color: #ffffff; }
  .suj-custom-style .btn, .suj-custom-style .business-solutions__ghost-btn, .suj-custom-style .comment-list__new-comments-btn, .suj-custom-style .comment-list__new-replies-btn, .suj-custom-style .comment-list__view-all-btn, .suj-custom-style .entity .sharing-widget__link .sharing-widget__btn, .suj-custom-style .events__btn-block, .suj-custom-style .events__btn-cta, .suj-custom-style .events__btn-shadow, .suj-custom-style .post-footer__action, .suj-custom-style .post__edit-btn, .suj-custom-style .search-form__clear-link, .suj-custom-style .static-page__subscribe-submit-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .suj-custom-style .comments .jumbo-help-text {
    width: 740px; }
  .suj-custom-style .jumbo-help-text {
    background: #eee;
    border: 0;
    color: #999;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .suj-custom-style .jumbo-help-text a:hover {
    color: #f42; }
  .suj-custom-style .jumbo-help-text, .suj-custom-style .static-page__subscribe-well, .suj-custom-style .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #eee;
    border: none;
    border-radius: 3px; }

.suj-article-container {
  overflow: hidden;
  background-color: #efecec; }
  .suj-article-container.container-fluid {
    padding: 0; }
  .suj-article-container .content {
    background-color: #ffffff;
    margin: 15px 0;
    overflow: hidden; }
    .suj-article-container .content .left {
      float: left; }
      .suj-article-container .content .left img {
        width: 100%;
        border-radius: 5px; }
    .suj-article-container .content .right {
      float: left;
      padding: 25px; }
      .suj-article-container .content .right h5 {
        font-weight: bold;
        font-size: 1.3rem;
        margin: 0 0 10px;
        padding: 0; }
        .suj-article-container .content .right h5 a {
          color: #333333; }
          .suj-article-container .content .right h5 a:hover {
            color: #f39c12;
            text-decoration: none; }
      .suj-article-container .content .right p {
        font-size: 1.05rem;
        /*color:#555555;*/ }

.suj-article-img {
  width: 385px;
  height: 218px;
  background-size: cover;
  background-repeat: no-repeat; }

ul.suj-article-info {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.suj-article-info li {
    float: left;
    padding: 0 20px 10px 0;
    font-size: 0.9rem;
    color: #999999; }
  ul.suj-article-info li:nth-child(2) {
    padding: 2px 20px 8px 0; }
  ul.suj-article-info .typcn::before {
    font-size: 1.15em;
    margin: 0 3px 0 0; }

.suj-article-user-profile {
  background-size: 26px 26px;
  background-position: center center;
  border-radius: 13px;
  width: 26px;
  height: 26px;
  margin-right: 5px; }

.sujgl-event-wrapper .suj-event-list-wrapper {
  padding-left: 50px; }
.sujgl-event-wrapper .suj-event-header-img {
  width: 100%;
  height: 300px;
  background-size: cover; }
.sujgl-event-wrapper .suj-event-card-item {
  margin: 0 10px !important; }
.sujgl-event-wrapper .suj-event-card-header {
  display: inline-block;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 5px; }
.sujgl-event-wrapper #featured-upcoming-event-header {
  font-size: 2em; }
.sujgl-event-wrapper #view-all-events-text {
  float: right;
  padding: 14px; }
.sujgl-event-wrapper #view-all-events-text a:hover {
  color: #f39c12; }
.sujgl-event-wrapper .event-item-wrapper {
  padding: 20px 0; }
.sujgl-event-wrapper .item-date {
  float: left;
  min-width: 96px;
  height: 58px;
  margin: 2px;
  border-right: 1px solid #eeeeee; }
.sujgl-event-wrapper .item-info {
  margin: 0px 0px 0px 120px; }
.sujgl-event-wrapper .item-title {
  margin-bottom: 5px; }
.sujgl-event-wrapper .item-title a {
  font-size: 1.3em;
  color: #f39c12;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: 0 1px 1px white; }
.sujgl-event-wrapper .item-when {
  margin: 5px 0px;
  color: #222222;
  text-shadow: 0 1px 1px white; }
.sujgl-event-wrapper .event-location {
  color: #444444; }
.sujgl-event-wrapper .label-info {
  background-color: #5bc0de; }
.sujgl-event-wrapper .tabs .tab a:hover, .sujgl-event-wrapper .tabs .tab a.active {
  background-color: transparent;
  color: #f39c12; }
.sujgl-event-wrapper .tabs .tab a {
  color: #f1c40f;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease;
  transition: color .28s ease; }

/* EVENT SINGLE */
.suj-event-single-wrapper .event-single-sidebar-wrapper p {
  padding-bottom: 10px; }
.suj-event-single-wrapper .google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
.suj-event-single-wrapper .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }
.suj-event-single-wrapper .suj-event-single-content-wrapper {
  padding: 30px;
  width: 100%; }
.suj-event-single-wrapper .suj-event-single-content__title h4 {
  font-size: 2em; }
.suj-event-single-wrapper .suj-event-single-content__text img {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0; }
.suj-event-single-wrapper .suj-event-single-content__text p {
  line-height: 30px;
  padding-bottom: 20px;
  font-size: 16px; }
.suj-event-single-wrapper .event-single-sidebar__btn {
  padding-bottom: 30px; }
.suj-event-single-wrapper .event-single-sidebar__calendar i {
  padding-right: 5px; }
.suj-event-single-wrapper .event-single-sidebar__map {
  padding-top: 30px; }
.suj-event-single-wrapper .event-single-sidebar__map p {
  padding-bottom: 10px; }
.suj-event-single-wrapper .event-single-sidebar__contact {
  padding: 20px 0;
  width: 100%; }
.suj-event-single-wrapper .event-single-sidebar__contact strong {
  margin-bottom: 10px; }
.suj-event-single-wrapper .quetions-about-event {
  padding-bottom: 20px; }
.suj-event-single-wrapper .check-organizer-events a {
  color: #f39c12; }

.suj-event-slider {
  margin-top: 35px;
    /* .flex-viewport {
        width: 900px;
        margin: 0 auto;
    }

    .flex-direction-nav a {
        height: 46px;
    }

    .flex-direction-nav .flex-prev, .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 0.7;
        left: 45px !important;
    }

    .flex-direction-nav .flex-next, .flexslider:hover .flex-direction-nav .flex-next:hover {
        right: 45px !important;
        opacity: 0.7;
    } */ }
  .suj-event-slider h4.event-title {
    margin: 0 48px 30px;
    color: #9c9c9c; }
  .suj-event-slider .text-content p {
    color: #9c9c9c;
    font-size: 14px; }
  .suj-event-slider .event-list-title {
    color: #f39c12;
    font-size: 16px; }
    .suj-event-slider .event-list-title:hover, .suj-event-slider .event-list-title:focus, .suj-event-slider .event-list-title:active {
      color: #f1c40f; }

.suj-event-slider-content {
  padding: 0 30px !important;
  display: table; }
  .suj-event-slider-content li {
    padding: 0 0.75rem 40px !important;
    display: table-cell; }

.suj-company-review-wrapper {
  padding: 30px 10% 70px; }
  .suj-company-review-wrapper .detail-body a.load-more {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #f39c12; }
    .suj-company-review-wrapper .detail-body a.load-more:hover, .suj-company-review-wrapper .detail-body a.load-more:focus, .suj-company-review-wrapper .detail-body a.load-more:active {
      color: #f1c40f; }

.suj-company-review-list .list-logo {
  width: 100%; }
.suj-company-review-list .list-title {
  color: #9c9c9c;
  font-weight: 600;
  font-size: 18px; }
  .suj-company-review-list .list-title:hover, .suj-company-review-list .list-title:focus, .suj-company-review-list .list-title:active {
    color: #f39c12; }

.suj-company-socmed {
  padding-right: 3px;
  color: #c6c6c6; }
  .suj-company-socmed:hover, .suj-company-socmed:focus, .suj-company-socmed:active {
    color: #f39c12; }
  .suj-company-socmed .typcn::before {
    font-size: 35px;
    height: 35px;
    line-height: 35px;
    width: 35px; }

.suj-hr {
  background-color: #f39c12;
  height: 3px;
  border: none; }

.hidden {
  display: none; }

.show {
  display: block; }

.toast {
  position: relative; }
  .toast > i {
    display: inline-block;
    margin-right: 5px; }
  .toast > .progress {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px; }
  .toast.toast-warning > i {
    color: #f0ad4e; }
  .toast.toast-error > i {
    color: #d9534f; }
  .toast.toast-success > i {
    color: #5cb85c; }

.progress {
  background: rgba(241, 196, 15, 0.5); }
  .progress > .determinate, .progress > .indeterminate {
    background-color: #f39c12; }

.img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

[data-pjax-preloader] {
  position: relative; }
  [data-pjax-preloader] > .pjax-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(244, 247, 250, 0.85);
    z-index: 9999;
    cursor: wait; }
    [data-pjax-preloader] > .pjax-container-overlay > .progress {
      margin-top: 0; }

@media (min-width: 993px) and (max-width: 1199px) {
  .suj-navbar-custom .suj-navbar-link > li > a {
    padding: 20px 11px; }

  .suj-header-search {
    padding: 45px 12% 25px 13%; }

  .suj-header-search-btn .btn {
    padding: 0.6rem 1.5rem !important; }

  .suj-leftbar-postresume {
    line-height: 21px; }

  .suj-leftbar-salary .input-salary {
    width: 46% !important; }

  .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-btn, .suj-homepage-wrapper .suj-featured-jobs-card .suj-latest-jobs-btn {
    padding: 0 13px; }

  .suj-rightbar-startup {
    padding: 20px 5% 5px; }
    .suj-rightbar-startup .row > .col {
      padding: 0; }
    .suj-rightbar-startup .content {
      padding: 0 0 10px; }
    .suj-rightbar-startup .startup-logo {
      width: 96px;
      height: 96px;
      border-radius: 48px; }

  .suj-rightbar-jobsfound .content p.time {
    float: left;
    margin: 0 0 0.5rem; }
  .suj-rightbar-jobsfound .content h6 {
    clear: both;
    display: block; }

  .suj-follow-btn {
    margin: 13px 2px 0; } }
@media (max-width: 992px) {
  .suj-navbar-custom ul.dropdown-content {
    position: relative !important;
    margin-bottom: 10px;
    top: 10px !important;
    padding: 15px 20px 20px; }
    .suj-navbar-custom ul.dropdown-content li > a {
      height: 34px; }
  .suj-navbar-custom .suj-navbar-link > li > a i.material-icons {
    line-height: 45px; }

  .suj-popover-menu ul.suj-popover-dropdown {
    width: 282px !important;
    margin-bottom: 30px;
    padding: 15px 15px 20px 13px;
    box-shadow: none; }
    .suj-popover-menu ul.suj-popover-dropdown li {
      float: left; }
      .suj-popover-menu ul.suj-popover-dropdown li a {
        height: auto;
        line-height: 22px; }

  .suj-header-search {
    padding: 45px 9% 25px 10%; }

  .suj-header-search-btn .btn {
    padding: 0.6rem 1.5rem !important; } }
@media (max-width: 600px) {
  .suj-header-search {
    padding: 45px 0.75rem; }

  .suj-header-search-btn.col {
    padding: 1rem 0 0; }

  .suj-joblist-wrapper.col {
    padding: 30px 0.75rem; } }

/*# sourceMappingURL=master.css.map */
