.suj-custom-style {

    /* About */

    .suj-about-bg {
        width: 100%;
        height: 30vh;
        background-color: #f39c12;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
    }

    .suj-about-bg h1 {
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .suj-about-bg p {
        color: #ffffff;
    }

}
