.suj-custom-style {

    /* ARTICLES LIST */

    .suj-article-item {
        display: inline-flex;
        padding: 10px;
        margin-bottom: 10px;
    }

    .suj-article-item .suj-article-item-image {
        width: 300px;
        height: 150px;
        max-height: none;
        //border-radius: 5px;
        background-size: cover;
    }

    .suj-article-item-content {
        padding-left: 30px !important;
        padding-right: 20%;
    }

    .suj-article-item-text h2 {
        line-height: 1.42857;
        font-size: 21px;
        color: #f39c12;
        font-weight: 600;
        margin-top: 0px;
        padding-top: 0px;
    }

    .suj-article-meta-avatar {
        width: 20px;
        height: 20px;
        border-radius: 100px !important;
        max-height: none;
        border-radius: 5px;
        background-size: cover;
        margin-bottom: -5px;
    }

    .suj-article-item-meta {
        padding-top: 10px;
        vertical-align: middle;
        display: inline-block;
    }

    .suj-article-item-meta li {
        display: inline-block;
        padding-right: 15px;
        color: #999;
        line-height: 22px;
        padding-left: .4em;
    }

    .suj-article-item-meta i {
        font-size: 12px;
        padding-right: 5px;
    }


    /* ARTICLE SINGLE */

    .suj-article-single-wrapper {
        padding: 0 50px;
    }

    .suj-article-single-meta {
        float: none;
        margin: 15px auto;
        padding: 0;
        list-style: none;
    }

    .suj-article-single-meta li {
        display: inline-block;
    }

    .suj-article-single-wrapper__title {
        font-size: 2em;
    }

    .suj-article-single-meta__author {
        display: inline-block;
        background: #ccc;
        border-radius: 16px;
        height: 32px;
        margin-right: 12px;
        overflow: hidden;
        width: 32px;
        padding: 0;
        vertical-align: middle;
        margin-top: -25px;
    }

    .suj-article-single-meta__author img {
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
    }

    .post-meta__date {
        color: #999;
        font-size: 13px;
    }

    .post-meta__read-time {
        color: #999;
        font-size: 13px;
    }

    .post-meta__read-time {
        border-left: 1px solid #999;
        margin-left: 5px;
        padding-left: 5px;
    }

    .suj-article-single-meta__sharing {
        float: right;
        width: auto;
        padding: 0;
        vertical-align: middle;
    }

    .sharing-widget > li {
        vertical-align: top;
    }

    .list-inline, .post-meta {
        margin-left: -5px;
    }
    .list-inline, .list-unstyled, .post-meta, .step-wizard {
        padding-left: 0;
        list-style: none;
    }

    .sharing-widget__count {
        border: 2px solid #ccc;
        color: #555;
        font-size: 20px;
        font-weight: 600;
        height: 32px;
        line-height: 28px;
        margin-right: 4px;
        position: relative;
    }

    .sharing-widget__btn, .sharing-widget__count {
        border-radius: 3px;
        display: block;
        height: 32px;
        text-align: center;
        width: 64px;
    }

    .sharing-widget__count::before {
        border-left: 6px solid #ccc;
        content: "";
        height: 0;
        width: 0;
        z-index: 2;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
    }
    .sharing-widget__count::after, .sharing-widget__count::before {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(100%,-50%);
        transform: translate(100%,-50%);
    }

    .sharing-widget__count::after {
        border-left: 3px solid #fff;
        content: "";
        height: 0;
        width: 0;
        z-index: 2;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
    }
    .sharing-widget__count::after, .sharing-widget__count::before {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(100%,-50%);
        transform: translate(100%,-50%);
    }

    .list-inline > li, .post-meta > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

    .sharing-widget__btn {
        color: #fff;
    }
    .sharing-widget__btn, .sharing-widget__count {
        border-radius: 3px;
        display: block;
        height: 32px;
        text-align: center;
        width: 64px;
    }

    .bg-facebook, .login-form__fb-btn {
        background: #3b5998;
    }

    .bg-twitter, .login-form__twitter-btn {
        background: #1da1f2;
    }

    .bg-linkedin, .login-form__linkedin-btn {
        background: #0077b5;
    }

    .bg-gplus, .login-form__gplus-btn {
        background: #dd4b39;
    }


    .sharing-widget__btn .fa-facebook {
        line-height: 34px;
    }
    .sharing-widget__btn .fa, .sharing-widget__btn .star-saved, .sharing-widget__btn .star-saved--selected {
        font-size: 18px;
        line-height: 32px;
    }
    .fa, .star-saved, .star-saved--selected {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .suj-article-single__content {
        padding: 30px 0;
    }

    .suj-article-single__content p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    .suj-article-single__content img {
        padding: 20px 0;
        border-radius: 3px;
        text-align: center;
    }

    .signup-box {
        background: #eee;
        border-radius: 3px;
        text-align: center;
        margin: 12px 0 36px;
        padding: 36px;
    }

    .signup-box__heading {
        margin: 0;
    }

    .signup-box__description {
        word-wrap: break-word;
        margin: 24px 0;
        padding: 20px;
    }

    .signup-box__btn {
        font-size: 18px;
        font-weight: 700;
    }
    .btn-primary, .comment-list__new-comments-btn, .comment-list__view-all-btn, .static-page__subscribe-submit-btn {
        color: #fff;
        background-color: #bf0016;
        border-color: #a60013;
    }

    .btn-primary {
        &:hover, &:focus {
            background-color: #b40317;
            color: $white;
        }
    }

    .btn, .business-solutions__ghost-btn, .comment-list__new-comments-btn, .comment-list__new-replies-btn, .comment-list__view-all-btn, .entity .sharing-widget__link .sharing-widget__btn, .events__btn-block, .events__btn-cta, .events__btn-shadow, .post-footer__action, .post__edit-btn, .search-form__clear-link, .static-page__subscribe-submit-btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 15px;
        line-height: 1.42857;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .comments .jumbo-help-text {
        width: 740px;
    }

    .jumbo-help-text {
        background: #eee;
        border: 0;
        color: #999;
        font-size: 18px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .jumbo-help-text a:hover {
        color: #f42;
    }

    .jumbo-help-text, .static-page__subscribe-well, .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #eee;
        border: none;
        border-radius: 3px;
    }


}

.suj-article-container {

	overflow:hidden;
	background-color:#efecec;
	&.container-fluid {
		padding:0;
	}

	.content {
		background-color:#ffffff;
		margin:15px 0;
		overflow:hidden;

		.left {
			float:left;
			img { width:100%; border-radius: 5px; }
		}

		.right {
			float:left;
			padding:25px;

			h5 {
				font-weight:bold;
				font-size:1.3rem;
				margin:0 0 10px;
				padding:0;

				a { color:#333333;
					&:hover {
						color:#f39c12;
						text-decoration:none;
					}
				}
			}

			p {
				font-size:1.05rem;
				/*color:#555555;*/
			}
		}
	}
}

.suj-article-img {
	width:385px;
	height:218px;
	background-size:cover;
	background-repeat:no-repeat;
}

ul.suj-article-info {
	list-style:none;
	margin:0;
	padding:0;

	li {
		float:left;
		padding:0 20px 10px 0;
		font-size:0.9rem;
		color:#999999;
		}

	li:nth-child(2) {
		padding:2px 20px 8px 0;
	}


	.typcn::before {
		font-size:1.15em;
		margin:0 3px 0 0;
	}
}

.suj-article-user-profile {
	background-size:26px 26px;
	background-position:center center;
	border-radius:13px;
	width:26px;
	height:26px;
	margin-right:5px;
}
