.suj-company-review-wrapper {
	padding: 30px 10% 70px;
	
	.detail-body a.load-more {
		display: block;
		text-align: center;
		font-size: 16px;
		color: $suj-color;

		&:hover, &:focus, &:active {
			color: $suj-color-hover;
		}
	}
}

.suj-company-review-list {
	.list-logo {
		width: 100%;
	}

	.list-title {
		color: $darkGrey;
		font-weight: 600;
		font-size: 18px;

		&:hover, &:focus, &:active {
			color: $suj-color;
		}
	}
}

.suj-company-socmed {
		padding-right: 3px;
		color: $greyDashboard;

		&:hover, &:focus, &:active {
			color: $suj-color;
		}

		.typcn::before {
			font-size: 35px;
		    height: 35px;
		    line-height: 35px;
		    width: 35px;
		}
	}