@media (min-width: 1200px) and (max-width: 1365px) {
  // styles for extra large screens and up

  	//SUJ Dashboard - Left Content
  	.startup {
  		padding: 24px 18px;
  	}

  	.suj-dashboard-nav > li > a {
  		font-size: 14px;
  	}

  	//SUJ Dashboard - Article Section
  	.article-wrapper .suj-dashboard-btn {
  		font-size: 8px;
  		margin-left: 3px;
  		padding: 0 6px;
  	}

  	//SUJ Job Recruiting Subscribe to Resume DB 
  	.suj-resumedb-detail-name-card .user-img {
  		width: 60px;
  		height: 60px;
  	}
  	.suj-resumedb-detail-name-card-btn-wrapper .suj-resumedb-detail-btn {
  		font-size: 12px;
  		padding: 8px 7px;
  		margin-right: 2px;
  	}

  	.suj-resumedb-detail-panel .tabs .tab a {
  		padding: 0 30px;
  	}
}


@media(min-width: 993px) and (max-width: 1199px) {
  // styles for large screens and up

  	//SUJ Dashboard - Top Navigation
  	nav.suj-dashboard-navbar {
  		.brand-logo {
	  		img {
	  			width: 180px;
	  		}

	  		p {
	  			font-size: 1.6rem;
	  		}
	  	}

	  	.user-img {
	  		width: 54px;
	  		height: 54px;
	  		border-radius: 27px;
	  	}

	  	.dropdown-button {
	  		font-size: 1.2rem;
	  	}
	}
	//EOL Top Navigation

	//SUJ Dashboard - Content
	.suj-dashboard-content {
  		.card .card-content {
  			padding: 20px;
  		}

  		//SUJ Dashboard - Widget Section
  		&.widget-section {
  			.card .card-content {
	  			padding: 15px 18px;
	  		}

	  		.material-icons {
	  			font-size: 4rem;
	  		}

	  		p span {
	  			font-size: 3.2rem;
	  			padding-top: 5px;
	  		}
	  	}
	  	//EOL Widget Section

	  	//SUJ Dashboard - Application Resume
	  	ul.application-resume > li {
	  		flex-direction: column;
	  	}
	  	//EOL

	  	//SUJ Dashboard - Job Listing
	  	.job-listing-wrapper h6 {
	  		padding-top: 20px;
	  	}

	  	ul.job-listing ul.job-txt li {
	  		font-size: 0.9rem;
	  	}
	  	//EOL
	}
	//EOL Dashboard - Content

	//SUJ Dashboard - Download Resume Button
	.suj-article-btn.download-resume {
		font-size: 0.8rem;
		bottom: 0;
	    left: 16.6667%;
	    margin: 10px 0 0;
	    padding: 0 20px;
	    width: auto;
	}
	//EOL
}


@media (max-width: 992px) {
  // styles for medium screens and down
  	
  	//SUJ Dashboard - Side Nav
  	.side-nav.fixed {
  		transform: translateX(0);
  	}
  	//EOL

  	//SUJ Dashboard - Top Navigation
  	nav.suj-dashboard-navbar {
  		padding: 25px 5% 100px;

  		.brand-logo {
  			left: 8px;
  			transform: translateX(0);
  			bottom: -150px;

	  		img {
	  			width: 170px;
	  			margin: 15px 10px 0 0;
	  		}

	  		p {
	  			font-size: 1.6rem;
	  		}
	  	}

	  	ul.right {
	  		float: left !important;

	  		> li:first-child a {
	  			padding: 0 15px 0 5px;
	  		}
	  	}

	  	.user-img {
	  		width: 50px;
	  		height: 50px;
	  		border-radius: 25px;
	  		margin-top: 5px;
	  	}

	  	.dropdown-button {
	  		font-size: 1.2rem;
	  	}
	}
	//EOL Top Navigation

	//SUJ Dashboard - Content
	.suj-dashboard-content {
		margin: 0 0 30px;

  		.card .card-content {
  			padding: 20px;
  		}

  		//SUJ Dashboard - Widget Section
  		&.widget-section {
  			flex-wrap: wrap;

  			> .col {
  				margin-bottom: 20px;
  			}

  			.card .card-content {
  				padding: 15px 18px;
  			}

	  		.material-icons {
	  			font-size: 4rem;
	  		}

	  		p span {
	  			font-size: 3.2rem;
	  			padding-top: 5px;
	  		}
	  	}
	  	//EOL Widget Section

	  	//SUJ Dashboard - Application Resume
	  	&.job-list-section {
	  		display: block;
	  	}

	  	.application-resume-wrapper {
	  		padding-bottom: 20px !important;
	  	}

	  	ul.application-resume > li {
	  		flex-direction: column;
	  	}
	  	//EOL

	  	//SUJ Dashboard - Job Listing
	  	.job-listing-wrapper {
	  		h6 {
	  			padding-top: 20px;
	  		}

	  		> .card {
	  			height: auto !important;
	  		}
	  	}

	  	ul.job-listing ul.job-txt li {
	  		font-size: 0.9rem;
	  	}
	  	//EOL

	  	//SUJ Dashboard - Article Section
	  	&.article-section {
	  		display: block;
	  	}
	}
	//EOL Dashboard - Content

	//SUJ Dashboard - Statistic 
	.suj-dashboard-article.statistic {
		margin-bottom: 30px;
	}

	//SUJ Dashboard - Download Resume Button
	.suj-article-btn.download-resume {
		font-size: 0.8rem;
		bottom: 0;
	    left: 16.6667%;
	    margin: 10px 0 0;
	    padding: 0 20px;
	    width: auto;
	}
	//EOL
}


@media (max-width: 600px) {
  // styles for medium screens and down

  	//SUJ Dashboard - Top Navigation
  	nav.suj-dashboard-navbar {
  		ul li.user {
	  		margin-left: 8px;
	  	}

  		.brand-logo {
  			bottom: -200px;
  		}

  		.user-img {
  			width: 42px;
  			height: 42px;
  			border-radius: 21px;
  			margin-right: 0;
  		}
  	}
	//EOL Top Navigation

	//SUJ Dashboard - Content
	.suj-dashboard-content {

  		//SUJ Dashboard - Widget Section
  		&.widget-section {

	  		.material-icons {
	  			font-size: 3.6rem;
	  		}

	  		p span {
	  			font-size: 3rem;
	  		}
	  	}
	  	//EOL Widget Section

	  	//SUJ Dashboard - Application Resume
	  	ul.application-resume {
	  		.col.user-info {
		  		padding-top: 15px;
		  		padding-right: 0;
		  	}

	  		ul.user-profile {
	  			display: block;
	  		}
	  	}
	  	//EOL

	  	ul.job-listing {
	  		> li a.title {
	  			display: block;
	  		}

	  		ul.job-txt li:last-child {
	  			margin-top: 15px;
	  			text-align: left;
		  	}
	  	}
	  	//EOL
	}
	//EOL Dashboard - Content

	//SUJ Dashboard - Job Listing Section
	.application-resume-wrapper .card {
		height: auto !important;
	}

	.suj-article-btn.download-resume {
	    left: 0;
	    margin: 20px 0 0;
	    padding: 0 10px;
	}
	//EOL

	//SUJ Dashboard - Article Content 
	.suj-dashboard-article ul.article-content {
		padding: 0 0 20px;

		li .article-img {
			display: none;
		}
	}

	.suj-article-btn {
		position: relative;
		left: 0;
		bottom: 0;
		padding: 0 1rem;
	}
	//EOL

	
}