//SUJ Dashboard Header CSS
.suj-dashboard-header {
	margin-bottom: 25px;
}
//End SUJ Dashboard Header CSS


//SUJ Dashboard Container CSS
.suj-dashboard-container {
	display: flex;
	padding: 0 0 40px 1.5rem;

	.left-content {
		flex: 1 1 auto;
		padding: 0;
		background-color: $white;
	}

	.right-content {
		flex: 1 1 auto;
	}

	.input-field.col label {
		left: 0;
	}
}
//End SUJ Dashboard Container CSS

//SUJ Dashboard Left Content CSS
	//User Preview
	.startup {
		display: block;
		text-align: center;
		padding: 24px 24px 10px;
		border-bottom: 1px solid $greyDashboard;

		h6 {
			color: $blueSky;
			font-weight: bold;
			font-size: 1.3rem;
			margin: 30px 0 10px;
		}

		.categories-title {
			font-weight: bold;
			font-size: 1.1rem;
			color: $darkGrey;
			text-align: left;
		}

		a {
			color: $blueSky;
		}
	}

	.startup-img {
		width: 120px;
		height: 120px;
		background-size: cover !important;
		margin: 0 auto;
	}

	.startup-btn-wrapper {
		display: flex;
		justify-content: center;
		margin: 35px 0 40px;

		li:not(:first-child) {
			margin: 0 0 0 8px;
		}

		.startup-btn {
			font-size: 0.7rem;
			background-color: transparent;
			padding: 0 0.5rem;
			text-transform: lowercase;
			line-height: 15px;
			color: $blueSky;
			border: 1px solid $cyan;
			border-radius: 4px;
		}
	}
	//End User Preview

	//Startup Menu
	.suj-dashboard-nav {
		margin: 0;
		padding-bottom: 30px;
		border: none;
		box-shadow: none;

		> li {

			/* &:first-child {
				padding: 0 22px 10px;
				border-bottom: 1px solid $greyDashboard;
			} */

			> a {
				color: $darkGrey;
				display: block;
				border-right: 4px solid $white;
				padding: 8px 8px 8px 22px;

				&:hover, &:focus, &:active, &.active {
					border-color: $suj-color;
				}
			}

            &.active {
                & > a {
                    border-color: $suj-color;
                }
            }

			.collapsible-header {
				border-bottom: 0;
			}

			.collapsible-body {
				position: relative !important;
				top: 0 !important;
				left: 0 !important;
				width: 100% !important;
				box-shadow: none;
				background-color: #eee;
				padding: 6px 0;
				border-bottom: none;

				li {
					min-height: 25px;

					a {
						color: $darkGrey;
						font-size: 0.9rem;
						padding: 6px 34px;
						display: block;
					    line-height: 22px;

						&:hover, &:focus, &:active {
							color: $suj-color;
						}
					}

                    &.active {
                        & > a {
                            color: $suj-color;
                        }
                    }
                }

				&.active {
					display: block;
					opacity: 1;

					li.active a {
						color: $suj-color;
					}
				}
			}
		}
	}
	//End Startup Menu
//End SUJ Dashboard Left Content CSS

//SUJ Dashboard Right Content CSS
	//Content CSS
	.suj-dashboard-content {
		padding: 0;
		margin: 0 0 30px;
		display: flex;
		clear: both;

		&:last-child {
			margin: 0;
		}

		.card {
			margin: 0;
			height: 100%;
			//padding-bottom: 70px;

			.card-title {
				padding: 15px 18px;
				border-bottom: 1px solid $greyDashboard;

				h6 {
					margin: 0;
					color: $darkGrey;
					font-weight: bold;
					//font-size: 1.1rem;
					font-size: 14px;
				}
			}

			.card-content {
				margin: 0;
				padding: 15px;
				position: relative;
				width: 100%;
			}

			.card-action {
				border-color: $greyDashboard;
				margin: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 15px;

				p {
					text-align: right;
					padding: 9px 0 0;
					color: $darkGrey;
					margin: 0;
					font-size: 12px;
				}

				.suj-dashboard-btn {
					float: right;
				}
			}

			.col {
				padding: 0;
			}
		}
	}
	//End Content CSS


	//Padding for Card Action
	.application-resume-wrapper .card, .suj-dashboard-article .card, .job-expiring-wrapper .card {
		padding-bottom: 70px;
	}

	//Recent Applicants CSS
	ul.application-resume {
		margin: 0;
		padding: 0;

		> li {
			padding-bottom: 16px;
			display: flex;
		}

		.user-img {
			width: 30px;
			height: 30px;
		}

		.user-info {
			font-size: 11px;
			padding-left: 8px !important;

			a {
				color: $darkGrey;
				font-weight: bold;
			}

			p {
				color: $darkGrey;

				a {
					font-weight: normal;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.applicant-btn-wrapper {
			display: flex;
		}
	}
	//End Recent Applicants CSS


	//Credit and Article Section CSS
	.suj-dashboard-article {
		display: flex;
		padding: 0 !important;

		//Credit Content CSS
		.credit-wrapper .card-content {
			padding: 0;
		}

		.credit-content {
			//height: 50%;
			color: $darkGrey;
			padding: 24px;

			&:first-child {
				border-bottom: 1px solid $greyDashboard;
			}

			h5 {
				margin: 0;
				font-weight: bold;
				//font-size: 1.4rem;
				font-size: 18px;
			}

			h3 {
				margin: 0;
				//font-size: 3.8rem;
				font-size: 48px;
			}

			.row {
				margin: 15px 0 0;
			}
		}
		//End Credit Content CSS

		//Article Content CSS
		.article-wrapper {
			.card-image {
				/*width: 100%;
				height: 20vh;*/
				position: relative;

				.writer-wrapper {
					position: absolute;
					left: 20px;
					top: 20px;
					z-index: 9;
					width: 100%;
					padding-right: 40px;

					h6 {
						margin: 0 0 5px;
						color: $white;
						font-weight: 800;
						font-size: 12px;
					}

					p {
						color: $white;
						margin: 0;
						font-size: 11px;
					}
				}

				.writer {
					width: 42px;
					height: 42px;
					border-radius: 50% !important;
				}

				.overlay {
					background-color: #000;
					opacity: 0.4;
					position: absolute;
					z-index: 3;
					width: 100%;
					height: 100%;
				}

				img {
					position: relative;
				}
			}

			.card-content {
				padding: 15px 24px;
			}

			h5 {
				margin: 0 0 10px;
				font-weight: bold;
				font-size: 14px;

				a {
					color: $darkGrey;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			p {
				font-size: 12px;
				color: $darkGrey;
			}
		}
		//End Article Content CSS
	}
	//End Credit and Article Section CSS


	//SUJ Dashboard - Statistic CSS
	//.statistic-wrapper .card-content {
		/* path {
            stroke: $suj-color;
            stroke-width: 3;
            fill: none;
        }
        .axis path, .axis line {
            fill: none;
            stroke: $darkGrey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

        .axis text {
        	font-family: "Roboto";
        	font-size: 13px;
        } */
	//}
	//SUJ Dashboard - Statistic CSS
//End SUJ Dashboard Right Content CSS
