.sujdb-event-wrapper {
    .suj-event-list-wrapper {
        padding: 50px;
    }

    .suj-event-dashboard-header {
        background-color: #546E7A;
    }

    .suj-event-dashboard-header__content {
        padding: 20px;
    }

    .suj-event-dashboard-header h5 {
        color: #ffffff;
    }

    .item-info .suj-event-label {
        margin: 0 0 0 10px;
    }

    .suj-envent__draft {
        background-color: #f1c40f;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .suj-envent__trial {
        background-color: #f42;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .suj-envent__published {
        background-color: #2ecc71;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .suj-envent__on_review {
        background-color: #3498db;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .item-info i {
        padding-right: 5px;
    }

    .event-notice-header {
        text-align: center;
    }

    .event-notice-header p {
        padding-bottom: 5px;
    }

    .events-crud-btns {
        display: inline-block;
        padding-top: 10px;
        //background-color: #ecf0f1;
        border-radius: 3px;
        padding: 10px;
        margin-top: 10px;
    }

    //Upcoming Event Time
    .upcoming-events-time {
        background-color: #ecf0f1;
    }
    //EOL

    .event-edit-btn {
        background-color: #bdc3c7;
        text-align: center;
        color: #ffffff;
        padding: 3px 8px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px #bdc3c7;
        margin-left: 90px;
        margin-right: 10px;
    }

    .event-edit-btn:hover {
        background-color: #f39c12;
        color: #ffffff;
        box-shadow: 5px 5px 5px #bdc3c7;
    }

    .event-edit-btn__preview {
        background-color: #3498db;
        text-align: center;
        color: #ffffff;
        padding: 3px 8px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px #bdc3c7;
        margin-right: 10px;
    }

    .event-edit-btn__preview:hover {
        background-color: #2980b9;
        color: #ffffff;
        box-shadow: 5px 5px 5px #bdc3c7;
    }

    .event-edit-btn__delete {
        background-color: #e74c3c;
        text-align: center;
        color: #ffffff;
        padding: 3px 8px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px #bdc3c7;
    }

    .event-edit-btn__delete:hover {
        background-color: #c0392b;
        color: #ffffff;
        box-shadow: 5px 5px 5px #bdc3c7;
    }

    .tabs .indicator {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #f39c12;
        will-change: left, right;
    }
}
