.sujgl-event-wrapper {
    .suj-event-list-wrapper {
        padding-left: 50px;
    }

    .suj-event-header-img {
        width: 100%;
        height: 300px;
        background-size: cover;
    }

    .suj-event-card-item {
        margin: 0 10px !important;
    }

    .suj-event-card-header {
        display: inline-block;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 20px;
        width: 100%;
        padding-bottom: 5px;
    }

    #featured-upcoming-event-header {
        font-size: 2em;
    }

    #view-all-events-text {
        float: right;
        padding: 14px;
    }

    #view-all-events-text a:hover {
        color: #f39c12;
    }

    .event-item-wrapper {
        padding: 20px 0;
    }

    .item-date {
        float: left;
        min-width: 96px;
        height: 58px;
        margin: 2px;
        border-right: 1px solid #eeeeee;
    }

    .item-info {
        margin: 0px 0px 0px 120px;
    }

    .item-title {
        margin-bottom: 5px;
    }

    .item-title a {
        font-size: 1.3em;
        color: #f39c12;
        text-decoration: none;
        text-transform: capitalize;
        text-shadow: 0 1px 1px white;
    }

    .item-when {
        margin: 5px 0px;
        color: #222222;
        text-shadow: 0 1px 1px white;
    }

    .event-location {
        color: #444444;
    }

    .label-info {
        background-color: #5bc0de;
    }

    .tabs .tab a:hover, .tabs .tab a.active {
        background-color: transparent;
        color: #f39c12;
    }
    .tabs .tab a {
        color: #f1c40f;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 24px;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-transition: color .28s ease;
        transition: color .28s ease;
    }
}

/* EVENT SINGLE */
.suj-event-single-wrapper {
    .event-single-sidebar-wrapper p {
        padding-bottom: 10px;
    }

    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .suj-event-single-content-wrapper {
        padding: 30px;
        width: 100%;
    }

    .suj-event-single-content__title h4 {
        font-size: 2em;
    }

    .suj-event-single-content__text img {
        width: 100%;
        text-align: center;
        border-radius: 5px;
        padding: 10px 0;
    }

    .suj-event-single-content__text p {
        line-height: 30px;
        padding-bottom: 20px;
        font-size: 16px;
    }

    .event-single-sidebar__btn {
        padding-bottom: 30px;
    }

    .event-single-sidebar__calendar i {
        padding-right: 5px;
    }

    .event-single-sidebar__map {
        padding-top: 30px;
    }

    .event-single-sidebar__map p {
        padding-bottom: 10px;
    }

    .event-single-sidebar__contact {
        padding: 20px 0;
        width: 100%;
    }

    .event-single-sidebar__contact strong {
        margin-bottom: 10px;
    }

    .quetions-about-event {
        padding-bottom: 20px;
    }

    .check-organizer-events a {
        color: #f39c12;
    }
}


//EVENT FLEXSLIDER CSS
.suj-event-slider {
    margin-top: 35px;

    h4.event-title {
        margin: 0 48px 30px;
        color: $darkGrey;
    }

    /* .flex-viewport {
        width: 900px;
        margin: 0 auto;
    }

    .flex-direction-nav a {
        height: 46px;
    }

    .flex-direction-nav .flex-prev, .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 0.7;
        left: 45px !important;
    }

    .flex-direction-nav .flex-next, .flexslider:hover .flex-direction-nav .flex-next:hover {
        right: 45px !important;
        opacity: 0.7;
    } */

    .text-content p {
        color: $darkGrey;
        font-size: 14px;
    }

    .event-list-title {
        color: $suj-color;
        font-size: 16px;

        &:hover, &:focus, &:active {
            color: $suj-color-hover;
        }
    }
}

.suj-event-slider-content {
    padding: 0 30px !important;
    display: table;

    li {
        padding: 0 0.75rem 40px !important;
        display: table-cell;
    }
}