.suj-homepage-wrapper {
    background-color: $homepage-bg-color;
    padding-top: 0;
    padding-bottom: 110px;
    color: #616366;

    .suj-featured-jobs-card {
        display: inline-block;
        position: relative;
        width: 100%;
        background-color: white;
        vertical-align: top;
        text-align: left;
        /*height: 150px;*/
        padding: auto;
        box-shadow: 0 20px 20px rgba(0,0,0,.08);
        white-space: normal;
        -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        color: #616366;
        margin-bottom: 20px;

        &:hover {
            box-shadow: 0 40px 40px rgba(0,0,0,.16);
            transform: translate(0,-10px);
            transition-delay: 0s !important;
        }

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 20px;
        }

        .suj-featured-jobs-card-content {
            padding: 20px 20px 0;

            .typcn-star-full-outline {
                color: rgb(241, 196, 15);
            }

            .typcn-heart-full-outline {
                color: rgb(255, 68, 34);
            }

            .typcn-bookmark {
                color: rgb(46, 204, 113);
            }
        }

        .suj-featured-jobs-card-img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 1px solid #fcfcff;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .suj-featured-jobs-card-txt {

            h4 {
                &,
                & > a {
                    color: $suj-color;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 18px;
                }

                span {
                    text-transform: capitalize;
                    color: #4B4F56;
                    font-weight: normal;
                }
            }

            p {
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 0px;
            }

            hr {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .suj-views-meta {
                font-size: 12px;
                font-weight: 300;
            }
        }

        .suj-featured-jobs-btn, .suj-latest-jobs-btn {
            border: 1px solid #dddddd;
            border-radius: 2px;
            float: right;
            padding: 0 20px;
            color: #4B4F56;
            margin: 43px 0 0;
            font-size: 0.9rem;
            background-color: $white;

            &:hover {
                background-color: $suj-color;
                border-color: $suj-color;
                color: $white;
            }
        }

        .suj-latest-jobs-btn {
            margin-top: 30px;
        }
    }


    .suj-single-job-wrapper {
        border: 1px solid #dddddd;
        background-color: #ffffff;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0 20px 20px rgba(0,0,0,.08);

        .suj-single-job-content {
            padding-bottom: 50px;
        }

        .suj-single-job-bg-img {
            width: 100%;
            height: 200px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .suj-single-job-img {
            width: 100%;
            height: 125px;
            margin-top: -60px;
            margin-left: 15px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            box-shadow: 0 20px 20px rgba(0,0,0,.08);
        }

        .suj-single-job-title {
            padding-top: 20px;

            h3 {
                font-weight: 300;
                font-size: 22px;
            }
        }

        .suj-single-job-apply-btn {
            padding-top: 15px;
        }

        .suj-nav-item {
            color: #495057;
            background-color: #ecf0f1;
            border-color: #ecf0f1;
            margin-right: 1px;
            margin-left: 1px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100px;
            text-align: center;

            a {
                color: #4B4F56;
            }
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: $suj-color;
            background-color: #ecf0f1;
            border-color: #ecf0f1;
        }

        .suj-nav-tabs {
            border-bottom: 0px;
            margin-bottom: 10px;
        }

        .suj-single-job-content-desc {
            padding: 30px;

            b {
                color: $suj-color;
            }

            p {
                line-height: 30px;
                margin-top: 10px;
            }
        }
    }

    .suj-articles-list-wrapper {

        .suj-article-card {
        display: inline-block;
        position: relative;
        width: 100%;
        background-color: white;
        vertical-align: top;
        text-align: left;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 20px;
        white-space: normal;
        color: rgb(75, 79, 86);
        margin-bottom: 20px;
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

            &:hover {
                box-shadow: 0 40px 40px rgba(0,0,0,.16);
                transform: translate(0,-10px);
                transition-delay: 0s !important;
            }

            &:before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    height: 20px;
                }

            .suj-article-card-img {
                width: 100%;
                height: 200px;
                background-size: cover;
                border-radius: 0px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(252, 252, 255);
                border-image: initial;
            }

            .suj-article-content {
                padding: 10px;

                h3 {
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                }

                ul {
                    padding-left: 0px;
                    margin-left: 0px;
                    display: inline-flex;
                }

                li {
                    display: inline-block;
                    font-weight: 300;
                    font-size: 12px;
                    list-style: none;
                }

                .suj-article-list-item {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                }

                .suj-article-card-avatar {
                    width: 30px;
                    height: 30px;
                    background-size: cover;
                    border-radius: 60px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(252, 252, 255);
                    border-image: initial;
                }
            }

        }
    }
}
