@media (min-width: 1200px) and (max-width: 1365px) {
  // styles for extra large screens and up
}

@media(min-width: 993px) and (max-width: 1199px) {
  // styles for large screens and up

    //SUJ Homepage - Top Navigation
    .suj-navbar-custom .suj-navbar-link > li > a {
        padding: 20px 11px;
    }
    //EOL

    //SUJ Homepage - Header Search
    .suj-header-search {
        padding: 45px 12% 25px 13%;
    }
    //EOL

    .suj-header-search-btn .btn {
        padding: 0.6rem 1.5rem !important;
    }
    //EOL

    //SUJ Homepage - Left Side Bar
    .suj-leftbar-postresume {
        line-height: 21px;
    }
    //EOL

    .suj-leftbar-salary .input-salary {
        width: 46% !important;
    }
    //EOL

    //SUJ Homepage - Content
    .suj-homepage-wrapper .suj-featured-jobs-card .suj-featured-jobs-btn, .suj-homepage-wrapper .suj-featured-jobs-card .suj-latest-jobs-btn {
        padding: 0 13px;
    }

    //SUJ Homepage - Right Side Bar
    .suj-rightbar-startup {
        padding: 20px 5% 5px;

        .row > .col {
            padding: 0;
        }

        .content {
            padding: 0 0 10px;
        }

        .startup-logo {
            width: 96px;
            height: 96px;
            border-radius: 48px;
        }
    }

    .suj-rightbar-jobsfound .content {
        p.time {
            float: left;
            margin: 0 0 0.5rem;
        }

        h6 {
            clear: both;
            display: block;
        }
    }
    //EOL

    .suj-follow-btn {
        margin: 13px 2px 0;
    }
    //EOL
}


@media (max-width: 992px) {
    // styles for medium screens and down

    //SUJ Homepage - Top Navigation
    .suj-navbar-custom {

        ul.dropdown-content {
            position: relative !important;
            margin-bottom: 10px;
            top: 10px !important;
            padding: 15px 20px 20px;

            li > a {
                height: 34px;
            }
        }

        .suj-navbar-link > li > a i.material-icons {
            line-height: 45px;
        }
    }
    //EOL

    //SUJ Homepage - Popover Menu
    .suj-popover-menu ul.suj-popover-dropdown {
        width: 282px !important;
        margin-bottom: 30px;
        padding: 15px 15px 20px 13px;
        box-shadow: none;

        li {
            float: left;

            a {
                height: auto;
                line-height: 22px;
            }
        }
    }
    //EOL

    //SUJ Homepage - Search
    .suj-header-search {
        padding: 45px 9% 25px 10%;
    }

    .suj-header-search-btn .btn {
        padding: 0.6rem 1.5rem !important;
    }
    //EOL
}

@media (max-width: 600px) {
    // styles for small screens and down

    //SUJ Homepage - Header
    .suj-header-search {
        padding: 45px 0.75rem;
    }

    .suj-header-search-btn.col {
        padding: 1rem 0 0;
    }
    //EOL

    //SUJ Homepage - Joblist
    .suj-joblist-wrapper.col {
        padding: 30px 0.75rem;
    }
    //EOL
}


