//Begin All Jobs Wrapper CSS
.all-jobs-wrapper {

	&.suj-dashboard-content {
		display: block;
	}

	.card-content {
		padding: 30px 15px 80px !important;
	}

	.sujdb-applicant-btn {
		display: inline;
		font-size: 13px;
		min-width: 115px;
	}
}
//End All Jobs Wrapper CSS

//Begin All Jobs Content CSS
ul.all-jobs-content {
	margin: 0;
	padding: 0;

	> li {
		display: flex;
	}

	.job-info {
		a {
			color: $darkGrey;
			font-size: 14px;
			font-weight: bold;

			&:hover, &:focus, &:active {
				color: $suj-color;
			}
		}

		p {
			color: $darkGrey;
			font-size: 14px;
		}
	}

	.sujdb-applicant-btn {
		padding: 10px 16px;
		
		&.download-resume {
			padding: 10px 20px;
		}
	}
}	

.suj-resume-button-inline {
	padding-top: 10px !important;

	ul {
		float: right;

		li {
			display: inline-block;
		}
	}
}
//End All Jobs Content CSS