//View Applications Wrapper CSS
.view-applicants-search {

	.select-wrapper {
		span.caret {
			color: $greyDashboard;
		}

		input.select-dropdown {
			color: $greyDashboard;
			font-size: 14px;
		}
	}

	.dropdown-content {
		top: 53px !important;

		li span {
			font-size: 14px;
		}
	}
}
.view-applicants-wrapper {
	margin: 0;

	.card-content {
		padding: 0 !important;
		display: flex;
	}
}

.view-applicants-image {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;

	.user-img {
		width: 100px;
		height: 100px;
	}
}

.view-applicants-content {
	padding: 18px 0 !important;
	color: $darkGrey;

	.row {
		margin-bottom: 0;
	}

	h6 {
		font-size: 14px;
		font-weight: 600;

		> a {
			color: $darkGrey;
			padding-right: 8px;

			&:hover, &:active, &:focus {
				color: $suj-color;
			}
		}

		span {
			margin-right: 4px;
		}
	}

	p {
		font-size: 14px;
		padding-right: 10px;

		span {
			font-weight: 600;
		}

		a {
			color: $darkGrey;

			&:hover, &:focus, &:active {
				color: $darkGrey;
				text-decoration: underline;
			}
		}
	}

	.personal-info {
		display: inline-block;
		margin-top: 8px;
	}

	.applicant-info-btn {
		font-size: 10px !important;
		padding: 6px 8px !important;
	}
}

.applicant-info-btn-wrapper {
	margin-top: 8px;
}

.applicant-options-wrapper {
	display: flex;
	background-color: #f2f2f2;
}

.applicant-options {
	background-color: #f2f2f2;
	width: 100%;
	align-self: center;

	li {
		border-bottom: 1px solid $greyDashboard;

		&:first-child {
			border-top: 1px solid $greyDashboard;
		}

		a {
			display: block;
			height: 36px;
			line-height: 36px;
			text-align: center;
			color: $darkGrey;

			&:hover, &:focus, &:active {
				color: $suj-color;
			}
		}
	}
}
//End View Applicants Wrapper CSS

//Begin Pagination Wrapper
.applicant-pagination-wrapper {
    margin-bottom: 0;
    text-align: center;

    /*nav {
        background-color: transparent;
        box-shadow: none;
    }*/

    .pagination {
    	margin: 0;

    	li {

	    	&.active {
	        	background-color: $suj-color;
	        }

	        a {
	        	font-size: 16px;
	        }
	    }
    }
}
//End Pagination Wrapper