//Begin Post a Job Wrapper CSS
.suj-postjob-wrapper {
	form > .col, > .col {
		padding: 0;
	}

	.select-wrapper {
		span.caret {
			color: $greyDashboard;
		}

		input.select-dropdown {
			color: $greyDashboard;
			font-size: 14px;
		}
	}

	.dropdown-content {
		top: 53px !important;

		li span {
			font-size: 14px;
		}
	}

	[type="checkbox"] + label, input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default) input[type="search"]:not(.browser-default) {
		font-size: 14px;
	}

	.chips.focus {
		box-shadow: 0 1px 0 0 $suj-color;
		border-color: $suj-color;
	}
}
//End Post a Job Wrapper CSS

//Begin Job Detail Wrapper
.job-detail-wrapper {

	.card-content > .row {
		margin-bottom: 15px;
	}

	h6 {
		margin: 0 0 15px;
		color: $darkGrey;
		font-size: 0.8rem;
	}

	.postjob-check {
		margin-left: 15px;
		margin-top: 32px;
	}

	.jobtype-wrapper > .col {
		margin-bottom: 10px;
	}

	p.salary-divider {
		text-align: center;
		padding-top: 20px;
	}

}
//End Job Detail Wrapper

//Begin WYSIWYG Editor Wrapper
.wysiwyg-editor {
	padding: 30px !important;

	.editor-note {
		text-align: right;
		padding: 0 0 7px;
		color: $darkGrey;
	}

	.ql-container {
		min-height: 150px;
	}
}
//End WYSIWYG Editor Wrapper

//Begin Filter and Send Wrapper
.filter-send-wrapper p {
	font-size: 14px;
	color: $darkGrey !important;

	&.note {
		margin-bottom: 10px !important;
	}
}
//End Filter and Send Wrapper

//Begin Button Action Wrapper
.button-action-wrapper {
	padding: 10px 0 35px;
	display: flex;
}

.button-action-container {
	margin: 0 auto;

	.button-action {
		background-color: $suj-color;
		color: $white;
		text-transform: capitalize;
		display: inline-block;
		margin-right: 8px;
		font-size: 14px;

		&:hover, &:focus, &:active {
			background-color: $suj-color-hover;
		}
	}
}
//End Button Action Wrapper

//Begin Credit Balance Wrapper
.credit-balance-wrapper {
	color: $darkGrey;

	h6 {
		margin: 0;
		font-weight: bold;
		font-size: 17px;
	}

	.card {
		padding-bottom: 70px;
	}

	.card-content {
		padding: 15px 15px 25px !important;
	}

	.card-action {
		p {
			display: inline;
			font-size: 13px !important;
		}

		button {
			display: inline;
		}
	}

	.credit-btn {
		background-color: $suj-color;
		color: $white;
		padding: 0 20px;
		min-width: 96px;
		text-transform: capitalize;
		font-size: 14px;

		&.grey-btn {
			background-color: $darkGrey;

			&:hover, &:focus, &:active {
				background-color: $greyDashboard;
			}
		}

		&:hover, &:focus, &:active {
			background-color: $suj-color-hover;
		}
	}
}
//End Credit Balance Wrapper