/* GLOBAL */
.suj-custom-style {
	.suj-form-top-bottom-margin {
	    padding: 50px;
	}

	.suj-dashboard-content .card {
		height: auto;
	}


/* JOB APPLIED HISTORY */
//.suj-dashboard-wrapper.suj-jobseeker-dashboard-application-history.suj-jobseeker-dashboard-application-history-container {
	.applied-job-result-container {
        display: flex;
        flex-wrap: wrap;

        & > li {
            display: flex;
            float: none;
            margin-left: unset !important;
        }
	}

	.suj-applied-job-card {
        display: flex;
        width: 100%;
	    margin-right: 20px;
	    margin-bottom: 20px;
        background-color: #fff;
        flex-direction: column;

        & > .card-content {
            flex: 1 0 auto;
        }
	}

	.suj-job-history-item h3 {
	    font-size: 16px;
	    font-weight: 700;
	    margin-bottom: 5px;
	}

	.suj-job-applied-country {
	    font-weight: 300;
	    padding-bottom: 45px;
	}

	.suj-job-applied-days {
	    font-weight: 300;
	}

	.suj-job-applied-image {
	    width: 100%;
	}
//}


/* JOB SEEKER PERSONAL PARTICULAR */
//.suj-dashboard-wrapper.suj-user-dashboard-index.suj-user-dashboard-index-container {
	.padding-right-x0 {
	    padding-right: 30px !important;
	}


	.padding-right-x0 li {
	    display: inline-block
	}
//}
}
//END GLOBAL STYLE


/* DASHBOARD */
ul.application-resume.application-jobseeker {
	
	.user-img {
		width: 70px;
		height: 70px;
	}

	.user-info {
		font-size: 14px;
		padding-left: 0 !important;
		padding-top: 10px;
	}
}

.suj-dashboard-article.application-jobseeker .suj-dashboard-btn {
	padding: 0 20px;
	font-size: 13px;
}
//EOL