//Begin Resume DB Detail Wrapper CSS
.suj-resumedb-detail-wrapper {
    color: $darkGrey;

    .suj-dashboard-content {
        display: block;
    }

    .suj-resumedb-detail-btn {
        background-color: $suj-color;
        color: $white;
        font-size: 14px;
        margin-right: 8px;
        text-transform: capitalize;
        white-space: normal;
    }
}

//End Resume DB Detail Wrapper CSS

//Begin Resume DB Detail Name Card
.suj-resumedb-detail-name-card {
    .card-content {
        padding: 20px 15px !important;
    }

    .user-img {
        width: 70px;
        height: 70px;
    }

    .user-preview {
        padding-left: 8px !important;
    }

    h5 {
        font-size: 1.3rem;
        margin: 0 0 0.5rem;
    }

    p {
        margin-bottom: 15px !important;
    }
}

.suj-resumedb-detail-name-card-btn-wrapper {
    position: relative;

    .suj-resumedb-detail-btn {
        padding: 10px;
        height: auto;
        line-height: 20px;
        margin-right: 3px;

        &.dropdown-button {
            background-color: $white;
            color: $suj-color;
            border: 1px solid $suj-color;
        }
    }

    .dropdown-content {
        top: 50px !important;
        min-width: 155px;

        li > a {
            font-size: 14px;
            color: $suj-color;
        }
    }
}

//End Resume DB Detail Name Card

//Begin Resume DB Detail Data Card
.suj-resumedb-detail-data-card {
    margin-top: 25px;

    .about-title {
        margin-bottom: 15px;

        .material-icons {
            position: relative;
            top: 5px;
            margin-right: 8px;
        }
    }

    .collection {
        border: none;
        margin: 0;
    }

    .collection-item {
        border-style: dotted;
        border-width: 0 0 2px;

        h6 {
            color: $suj-color;
            font-size: 13px;
        }
    }
}

//End Resume DB Detail Data Card

//Begin Resume DB Detail Panel
.suj-resumedb-detail-panel {
    .card {
        display: flex;
    }

    .card-title {
        padding: 0 !important;
        width: 100%;
    }

    .card-content.form-note-editor-container {
        padding: 0 !important;
        padding-bottom: 65px !important;
    }

    .tabs {
        display: flex;
        justify-content: center;

        .tab a {
            padding: 0 40px;
            text-transform: capitalize;
            color: $suj-color;
        }

        .indicator {
            background-color: $suj-color;
        }
    }

    .tab-content .card {
        padding: 25px;

        h6.title {
            font-size: 17px;
            font-weight: 600;
            margin: 0 0 20px;
        }

        .empty-bottom-space {
            margin-bottom: 0;
        }
    }
}

//End Resume DB Detail Panel

//Begin New Note Tab Content
.suj-resumedb-detail-new-note-tab {
    background-color: $bg-color !important;
    padding: 0 !important;

    .new-note-editor-wrapper {
        background-color: $white;
        display: table;
        width: 100%;

        .ql-container {
            min-height: 100px;
        }
    }

    .new-note-comment {
        margin: 0;
        padding: 0;

        > li {
            background-color: transparent;
            border-left: 2px dotted rgba(0, 0, 0, 0.125);
            margin: 0 0 0 3rem;
            padding: 25px 0 0 3rem;
            position: relative;

            form.form-note-editor {
                display: none;
                padding-top: 25px;
            }

            &:first-child {
                padding-top: 45px;

                &::before {
                    top: 50px;
                }
            }

            &::before {
                background-color: #4c6f8b;
                border-radius: 20px;
                color: #ffffff;
                content: "\e067";
                font-family: "typicons";
                font-size: 1.8rem;
                height: 40px;
                left: -20px;
                padding: 0 0 0 3px;
                position: absolute;
                text-align: center;
                top: 30px;
                width: 40px;
            }
        }

        .user-img {
            width: 56px;
            height: 56px;
        }

        .comment-wrapper {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $greyDashboard;
        }

        p.date {
            color: $suj-color;
        }

        .comment-btn-wrapper {
            display: flex;
            justify-content: flex-end;

            span {
                //padding-top: 5px;
            }

            .dropdown-content {
                top: 33px !important;

                li > a {
                    color: $suj-color;
                    font-size: 14px;
                }
            }
        }

        .comment-btn {
            background-color: transparent;
            color: $suj-color;
            text-transform: capitalize;
            box-shadow: none;
            padding: 0 10px;
            font-size: 15px;
            height: auto;
            line-height: 23px;
            white-space: normal;

            &:hover, &:focus, &:active {
                color: $suj-color-hover;
            }
        }
    }
}

//End New Note Tab Content

//Begin Profile Tab Content
.suj-resumedb-detail-profile-content {

    .user-experience {
        display: table;
        width: 100%;

        > li {
            margin: 0 0 20px;
            display: inline-block;

            h6 {
                margin: 0 0 8px;
                line-height: 20px;
            }

            p {
                margin: 10px 0;
            }
        }

        .user-img {
            width: 70px;
            height: 70px;
        }
    }

    .user-list {
        padding-left: 13px;

        > li {
            list-style-type: disc;
            padding-left: 5px;
        }
    }
}

//End Profile Tab Content

//Begin Skills Tab Content
.suj-resumedb-detail-skills-content .skill-list li {
    margin: 0;
}

//End Skills Tab Content

//Begin Create Task Content
.create-task-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

//End Create Task Content

//----------------//
//Begin Resume DB//

//Begin Candidate Search Form
.candidate-search-wrapper {
    padding: 0 0.75rem;

    .card-content {
        padding: 15px 30px !important;
    }
}

.search-form-wrapper {
    margin: 0;
}

.candidate-title {
    margin: 0;
    padding: 30px 0 0 !important;
    font-weight: 600;
    font-size: 16px;
}

.candidate-search-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 23px !important;

    .expand-toggle {

        .btn-text::after {
            font-family: "typicons";
            content: "\e01d";
        }

        .expanded {

            .btn-text::after {
                content: "\e01e";
            }
        }
    }
}

.advance-search-wrapper {
    margin: 0;
}

.advance-search-container {
    display: none;
    padding: 0 0 25px;

    > li.row {
        margin-bottom: 0;

        &.input-field {
            margin-top: 0;
        }
    }

    h6.search-title {
        margin: 0;
        padding-top: 15px;
    }

    //Skills Section
    .chips.focus {
        border-color: $suj-color;
        box-shadow: 0 1px 0 0 $suj-color;
    }
    //EOL

    //Country Section
    .select-wrapper {
        span.caret {
            color: $darkGrey;
        }

        .dropdown-content {
            top: 53px !important;

            li > span {
                font-size: 14px;
            }
        }
    }
    //

    //Gender Section
    //Radio Button Color CSS
    [type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
        background-color: $suj-color;
    }

    [type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
        border-color: $darkGrey;
    }

    [type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
        border-color: $suj-color;
    }
    //EOL

    .gender-content {
        display: flex;
        flex-direction: row;

        p {
            padding: 10px 20px 0 0;
        }
    }
    //Begin Gender Section

    //Radio Button Padding Left
    [type="radio"] + label::before, [type="radio"] + label::after {
        left: -5px;
    }

    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        padding-left: 30px;
    }
    //EOL
    //End Gender Section

    //Range Slider Section
    //Range Slider Color CSS
    .noUi-connect, .noUi-target.noUi-horizontal .noUi-tooltip, .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
        background-color: $suj-color;
    }

    .search-slider {
        margin-top: 45px;
    }
    //EOL

    h6.search-slider-title {
        margin: 0;
        padding-bottom: 25px;
    }

    .right-space {
        padding-right: 40px !important;
    }

    .left-space {
        padding-left: 40px !important;
    }
    //End Range Slider Section
}

.candidate-search-btn {
    background-color: $suj-color;
    color: $white;
    text-transform: capitalize;
    margin-left: 5px;
    white-space: normal !important;

    &:hover, &:focus, &:active {
        background-color: $suj-color-hover;
        color: $white;
    }
}

//End Candidate Search Form

//Begin Display Result
.display-result {
    margin: 0;
    padding: 10px 0 0 0.75rem;

    h6 {
        padding-top: 13px;
        margin: 0;
    }

    .select-wrapper {

        span.caret {
            color: $darkGrey;
        }

        .dropdown-content {
            top: 53px !important;

            li > span {
                font-size: 14px;
            }
        }
    }
}

//End Display Result

//Begin Candidate Result Content
.candidate-result-container {

    .month-salary {
        font-size: 11px;
        font-weight: normal;
        padding-left: 8px;
    }

    .applicant-options-wrapper {
        background-color: #f2f2f2;
    }
}

//End Candidate Result Content
