/*=== CSS for SUJ Left Bar ===*/
.suj-leftbar-wrapper {
	color: $content;

	h6.result {
		margin: 30px 0 25px;
		font-weight: bold;
	}
}

h6.filter {
	font-weight: bold;
	margin: 0 0 30px;

	a {
		color: $content;
		text-decoration: none;
		font-weight: normal;
		font-size: 0.8rem;
		background-color: transparent;
		float: right;
		padding: 0;
		cursor: pointer;
		border: none;

		&:hover {
			color: $content-hover;
		}
	}
}

ul.suj-leftbar-filter {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 10px 0;
		padding: 0 !important;

		label {
			font-weight: bold;
			color: $label-color;
			font-size: 1rem;
			left: 0 !important;
		}
	}

	ul.select-dropdown {
		top: 53px !important;
		
		li {
			margin: 0;
		}
	}
}

.suj-leftbar-type {
	margin-top: 0 !important;

	label {
		padding-left: 30px;
		font-weight: normal !important;

		&.title {
			padding-left: 0;
			margin-bottom: 10px;
			display: block;
			font-weight: bold !important;
		}
	}
	form p {
		margin: 7px 0 0;
	}
}

.suj-leftbar-category {
	margin-top: 30px !important;
}

.suj-leftbar-salary .input-salary {
	width: 47% !important;
	display: inline;
}

ul.suj-leftbar-joblist {
	margin: 15px 0 0;
	padding: 0;

	li.col {
		padding: 0;
		margin-bottom: 10px;
	}

	h6 {
		font-weight: bold;
		border: 1px solid $content;
		border-width: 0 0 1px;
		padding: 0 0 3px;
		margin: 0.5rem 0 0.7rem;
	}

	a {
		color: $content;
		text-decoration: none;
		font-size: 0.9rem;
		display: block;
		margin: 0 0 13px;

		&:hover {
			color: $content-hover;
		}
	}

}
