//Begin Login Page Wrapper
.suj-login-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}
//End Login Page Wrapper


//Begin Login Page Content
.suj-login-container {
	margin: 50px auto 0;

	.card-title {
		padding: 30px 24px 10px;

		h5 {
			font-size: 28px;
			text-align: center;
			margin: 0;
			color: $black;

			&.register {
				font-size: 30px;
				//text-align: left;
				//font-weight: 600;
			}
		}
	}

	.card-content {
		padding: 24px 70px;
	}

	.card-action {
		padding: 30px 24px 50px;

		p {
			text-align: center;
			color: $darkGrey;
			margin: 0 0 25px;
		}

		.suj-btn-white {
			margin: 0 auto;
			display: table;
		}
	}


	//Input Field Prefix - Material Icon
	.input-field .prefix {
		top: 13px;
		color: $darkGrey;
	}
	//EOL

	//Input Field width
	.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content, .prefix ~ .select-wrapper {
		margin-left: 3.8rem;
		width: calc(100% - 3.8rem);
	}
	//EOL


	//Stepper Wizard CSS
	.signup-form {
        display: none;

        &.wizard {
            display: block;
            overflow: visible;

            > .steps > ul > li {
                display: none;
            }
            .content {
                min-height: 0;
                height: auto;
                overflow: visible;
                background-color: transparent;
                margin: 0;
                padding-bottom: 40px;

                .body {
                    padding: 0 0.5em 0 0;
                    height: auto;
                    width: 100%;
                    position: relative;

                    input {
                        border-width: 0 0 1px 0;
                    }
                }
            }

            > .actions a {
                background-color: $suj-color;

                &:hover, &:active {
                    background-color: $suj-color-hover;
                }
            }
        }
    }
	//EOL Stepper Wizard

	//Login Title
	.suj-login-title {
		margin: 0 0 20px;
		color: $darkGrey;
		font-size: 18px;
	}
	//EOL

	//Button Input File
	.suj-input-file-btn {
		background-color: $white;
		color: $suj-color;
		text-transform: capitalize;
		border-color: $suj-color;
	}
	//EOL


	//Gender Wrapper CSS
	.gender-wrapper {
		height: 3rem;
	    line-height: 2.3rem;
	    margin: 0 0 20px 3.8rem;
	    position: relative;

		p {
			width: 50%;
			float: left;
		}

        label {
            pointer-events: initial;
        }
	}
	//EOL

	//Padding Phone Number
	.padding-left {
		padding-left: 0;
	}

	.padding-right {
		padding-right: 0;
	}
	//EOL
}
//End Login Page Content

//SUJ Login Field
.suj-login-logo-wrapper {
	width: 3.8rem;
	float: left;
}

.suj-login-field-wrapper {
	float: left;
	width: calc(100% - 3.8rem);

	.file-path-wrapper {
		padding-left: 0;
		padding-right: 15px;
	}
}
//EOL

//Begin Login Validation
.suj-login-validate {
	position: relative;

	&::after {
		color: red;
	    content: "*";
	    font-size: 14px;
	    left: auto;
	    position: absolute;
	    right: 12px;
	}
}
.suj-login-validate-text {
	padding-left: 3.8rem;
}
//EOL

//Begin Login Note
.suj-login-note {
	padding-left: 3.8rem;
	font-size: 14px;

	[type="checkbox"] + label {
		font-size: 14px;
	}

	label.agreement {
		font-size: 13px;

		a {
			color: $suj-color;

			&:hover, &:focus, &:active {
				color: $suj-color-hover;
			}
		}
	}
}

.suj-remember-me {
	padding: 0 !important;
}

.suj-forgot-password {
	text-align: right;
	padding: 0 !important;

	a {
		color: $darkGrey;

		&:hover, &:active, &:focus {
			color: $suj-color;
		}
	}
}
//End Login Note

//SUJ Register Options Button
.suj-register-btn {
	height: auto;
    padding: 12px 22px;
    text-transform: capitalize;

    &.suj-btn-white {
    	margin: 0;
    }
}
//EOL


//SUJ Register Status
.reg-status {
	height: 4rem !important;
    line-height: 4rem !important;
    width: calc(50% - 10px) !important;
}