/*=== CSS for SUJ Right Bar ===*/
.suj-rightbar-wrapper {
	padding: 0 0 0 25px !important;
}

/*Start Up to Follow*/
.suj-rightbar-startup {
	background-color: $white;
	padding: 20px 5%;
	margin: 0 0 20px;

	.close {
		margin-top: -7px;
		font-size: 1.5rem;
		float: right;
		color: $content;

		&:hover {
			color: $suj-color;
		}
	}

	h5 {
		color: $suj-color;
		font-size: 1rem;
		font-weight: bold;
		margin: 0 0 20px;
	}

	.content {
		padding: 10px;
		text-align: center;
	}

	.startup-logo {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
	}
}

.suj-follow-btn {
	background-color: $white;
	color: $content;
	border-color: #dddddd;
	margin: 13px 7px 0;
    padding: 0 12px !important;
    font-size: 0.8rem;
}


/*Banner Advertisement*/
.suj-rightbar-banner {
	background-repeat: no-repeat;
	background-size: cover !important;
	//height: 60vh;
	width: 100%;
	margin: 0 0 20px;
	border: 1px solid #dddddd;
}


/*Jobs Found Content*/
.suj-rightbar-jobsfound {
	background-color: transparent;
	color: $content;
	margin: 0 0 15px;

	.header {
		background-color: $white;
		display: flex;
		flex-wrap: wrap;
		padding: 20px 25px 10px;

		p {
			margin: 0 10px 0 0;
			font-size: 0.9rem;
            color: #333333;
            margin-bottom: 15px;
		}
	}

	.jobsfound-logo {
		background-repeat: no-repeat;
		background-size: cover;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		margin: -10px 5px 0px;
	}

	.content {
		background-color: $white;
		margin-top: 15px;
		padding: 20px 25px;

		h6 {
			color: $suj-color;
			font-weight: bold;
		}

		p {
            margin: 0;
            font-size: 12px;
		}

		p.time {
			display: inline-block;
			float: right;
			font-size: 0.8rem;
			margin-top: 7px;
		}
	}
}