//Begin Settings Payment Wrapper
.setting-payment-wrapper {

	> .col {
		padding: 0;
		height: 100%;
	}

	.suj-dashboard-content {
		height: 100%;
	}

	/*.card-title {
		text-align: center;
		padding: 35px 24px 24px;

		h6 {
			font-size: 22px;
			margin: 0;
			color: $darkGrey;
			font-weight: 600;
		}

		p {
			font-size: 14px;
			padding: 8px 0 0;
			margin: 0;
			color: $darkGrey;
			text-align: center;
		}
	}*/

	.card-content {
		padding: 20px 15px 50px !important;
	}
}
//End Settings Payment Wrapper

//Begin Settings Payment Container
.setting-payment-container {
	clear: both;
    display: flex;
    margin: 0;
    padding: 0;

	.card {
		margin: 0;
		height: 100%;
	}
}
//End Settings Payment Container

//Begin Settings Payment Content
.payment-tabs {
	height: auto;
	margin-bottom: 25px;

	li.tab {
		line-height: 10px;
		height: auto;
		padding: 0 5px;

		a {
			padding: 30px 20px;

			&:hover, &:focus, &:active, &.active {
				border: none;
				//border-radius: 6px;
			}
		}

		img {
			width: 100%;
		}
	}

	.indicator {
		background-color: transparent;
	}
}

.payment-form-panel {
	padding: 0 18px !important;

	h6 {
		color: $darkGrey;
		font-weight: 600;
		font-size: 15px;
		padding: 0 0 20px;
		margin: 0;
	}

	.input-field {
		margin-top: 20px;
	}

	/* .select-wrapper {
		input.select-dropdown, .caret {
			color: $darkGrey;
		}
	} */

	.dropdown-content {
		top: 50px !important;

		li a, li span {
			font-size: 13px;
		}
	}

	.empty-space-left {
		padding-left: 0;
	}

	.empty-space-right {
		padding-right: 0;
	}

	.add-space-top {
		padding-top: 14px;
	}

	.billing-image {
		width: 100%;
		margin-top: 10px;
		padding: 10px 0;
		border: 1px solid $darkGrey;
		border-radius: 4px;
	}

	.expire-date {
		h6 {
			font-weight: normal;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}

		> .row {
			margin-bottom: 14px;
		}
	}
}

.save-payment-btn {
	background-color: $suj-color;
	color: $white;
	display: block;
	margin: 0 auto;
	//text-transform: capitalize;

	&:hover, &:active, &:focus {
		background-color: $suj-color-hover;
	}
}
//End Settings Payment Content



//Begin Settings Choose Ad
.setting-purchase-wrapper {
	color: $darkGrey;

	.card {
		height: 100% !important;
	}

	.card-title h6 {
		text-align: left;
	}

	h5 {
		font-weight: 600;
		margin: 0;
		padding: 15px 0 10px;
		font-size: 20px;
	}

	p.note {
		font-size: 12px;
		font-weight: bold;
	}
}

.setting-ad-content {
	text-align: center;

	li {
		background-color: #dddddd;
		padding: 15px 0;
		margin-bottom: 5px;

		p {
			font-weight: 600;
		}
	}
}

.purchase-btn {
	background-color: $darkGrey;
	color: $white;
	display: block;
	margin: 0 auto;
	text-transform: capitalize;

	&:hover, &:active, &:focus, &.active {
		background-color: $suj-color;
	}
}
//End Settings Choose Ad


//Begin Settings Purchase Content
.purchase-form-content {
	display: block;

	.purchase-image {
		width: 90px;
		height: 90px;

		img {
			width: 100%;
			background-color: $greyDashboard;
		}
	}

	h6 {
		font-weight: 600;
	}

	p {
		font-size: 14px;
	}

	li {
		border-bottom: 1px solid $greyDashboard;
		margin-bottom: 20px;
	}
}

.purchase-quantity-wrapper {
	border: 2px solid $suj-color;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 15px;

	button {
		background-color: #dddddd;
		font-size: 19px;
		height: 32px;
		line-height: 32px;

		&:hover, &:focus, &:active {
			background-color: #dddddd;
		}
	}

	input.purchase-quantity-field {
	  text-align: center;
	  border: none;
	  height: auto;
	  margin: 0;
	  padding-top: 7px !important;
	}
}

.purchase-options-btn {
	background-color: transparent;
	color: $darkGrey;
	box-shadow: none;
	text-transform: lowercase;
	padding: 0 10px;
	float: right;

	&:hover, &:focus, &:active {
		background-color: transparent;
		color: $suj-color;
		box-shadow: none;
	}
}

.modal-purchase-del {
	top: 40% !important;
	width: 30%;

	p {
		text-align: center;
		color: $darkGrey;
		margin: 0 0 15px !important;
	}
}

.del-purchase-btn-wrapper {
	display: flex;
	justify-content: center;

	.save-payment-btn {
		margin: 0 10px 0 0;
		text-transform: capitalize;

		&.grey-btn {
			background-color: $darkGrey;

			&:hover, &:focus, &:active {
				background-color: $greyDashboard;
			}
		}
	}
}

.promotion-code-wrapper {
	[type="checkbox"]:checked + label::before {
		border-color: transparent $suj-color $suj-color transparent;
	}

	[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
		border-color: $darkGrey;
	}

	[type="checkbox"]:disabled:not(:checked) + label::before {
		background-color: $suj-color;
	}
}

.purchase-total-wrapper {
	margin-top: 30px;

	.row {
		margin-bottom: 10px;
	}
}

.purchase-total-title {
	font-size: 14px;
	text-align: right;
	padding-right: 20px !important;
}

.purchase-total-cost p {
	font-size: 17px;
	font-weight: 600;
}

.purchase-total-btn-wrapper {
	display: flex;
	justify-content: center;
}
//End Settings Purchase Content
