//Begin Settings User Management Wrapper 
.setting-user-management-wrapper {

	&.suj-dashboard-content {
		display: block;
	}

	.card-content {
		padding-bottom: 50px !important;

		h6 {
			font-size: 14px;
			color: $darkGrey;
			font-weight: 600;
			margin: 15px 0 0;
		}
	}

	.add-member-btn {
		background-color: $suj-color;
		color: $white;
		margin-top: 25px;
		width: 100%;
		text-transform: capitalize;

		&:hover, &:focus, &:active {
			background-color: $suj-color-hover;
		}
	}
}
//End Settings User Management Wrapper 

//Begin Settings User Management Content 
.setting-user-management-content {
	margin: 0;
	
	.select-wrapper {

		span.caret {
			color: $darkGrey;
		}

		input.select-dropdown {
			font-size: 14px;
			color: $darkGrey;
		}
	}

	.dropdown-content {
		top: 50px !important;
		
		li a, li span {
			font-size: 13px;
		}
	}

	.current-member {
		margin-top: 19px;
		color: $darkGrey;

		.material-icons {
			position: relative;
			top: 5px;
			margin-right: 8px;
		}
	}

	.del-member-trigger-btn {
		display: flex;
		justify-content: center;

		a {
			background-color: transparent;
			color: $darkGrey;
			margin-top: 30px;
			cursor: pointer;

			.material-icons {
				font-weight: bold;
				font-size: 26px;
			}

			&:hover, &:focus, &:active {
				//background-color: $suj-color-hover;
			}
		}
	}

	.del-member-modal {
		top: 40% !important;
		width: 30%;

		p {
			text-align: center;
			color: $darkGrey;
			margin: 0 0 15px;
		}
	}

	.del-member-btn-wrapper {
		display: flex;
		justify-content: center;
	}

	.del-member-btn {
		margin-right: 10px;
		background-color: $suj-color;
		color: $white;
		text-transform: capitalize;

		&.grey-btn {
			background-color: $darkGrey;

			&:hover, &:focus, &:active {
				background-color: $greyDashboard;
			}
		}

		&:hover, &:focus, &:active {
			background-color: $suj-color-hover;
		}
	}
}

.user-management-btn-wrapper {
	margin: 0;
	display: flex;
	justify-content: center;
	
	.add-member-btn {
		width: auto;
	}
}
//End Settings User Management Content 

