//Begin Settings Security and Password Wrapper 
.setting-password-wrapper {

	&.suj-dashboard-content {
		display: block;
	}

	.card-title p {
		font-size: 13px;
		padding: 8px 0 0;
		margin: 0;
		color: $darkGrey;
	}

	.card-content {
		padding-bottom: 50px !important;
	}
}
//End Settings Security and Password Wrapper 


//Begin Settings Security and Password Content 
.setting-password-content {
	h6 {
		color: $darkGrey;
		font-weight: 600;
		margin: 30px 40px 0 0;
		text-align: right;
	}
}

.save-password-btn-wrapper {
	display: flex;
	margin-top: 35px;
}

.save-password-btn {
	background-color: $suj-color;
	color: $white;
	text-transform: capitalize;

	&:hover, &:active, &:focus {
		background-color: $suj-color-hover;
	}
}
//End Settings Security and Password Content