//Single Job CSS
body.single-job {
	background-color: $white !important;
}
//EOL

//Top Navigation
.suj-single-navbar {
	background-color: $suj-color;
	padding: 0 3%;
}
//EOL

//Single Header Section
.suj-single-header {
	//background-color: $white;
	padding: 1.5rem; 

	nav { 
		box-shadow: none;
	}
}

.suj-single-search {
	padding: 20px 3%;
	margin: 0;
	background-color: $white;
	position: relative;
	z-index: 3;

	&.top-search {
		z-index: 9;
	}

	&.last {
		margin-top: 15px;
		padding: 0;
	}

	.search-content {
		padding-top: 10px;
	}

	form.input-search {
		&.row, &.col {
			padding-left: 0;
		}

		.input-field {

			//Search Icon Custom Style
			.material-icons {
				padding: 12px 0 0 3px;
				color: $suj-color;

				&.active {
					color: $suj-color-hover;
				}
			}
			//EOL

			//Input Search Color
			input[type="search"] {
				border-color: $suj-color;
				border-width: 2px;

				& + label {
					/*color: $suj-color;*/

					&.active {
						color: $suj-color-hover;
					}
				}
			}
				
			input[type="search"]:focus:not(.browser-default):not([readonly]) {
				border-color: $suj-color-hover;
				box-shadow: none;
			}
			//EOL
		}
	}

	//Dropdown Color
	.select-wrapper {
		.caret {
			color: $suj-color;
		}

		input.select-dropdown {
			border-color: $suj-color;
			border-width: 2px;
			color: $suj-color;
		}
	}

	ul.select-dropdown {
		top: 53px !important;

		li span {
			font-size: 0.95rem;
			color: $darkGrey;

			&:hover {
				color: $suj-color;
			}
		}
	}
	//EOL


	//Checkbox Color
	[type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
		margin-top: -9px;
	}
	//EOL


	//Salary Range
	.salary-options {

		.dropdown-button {
			border-bottom: 2px solid $suj-color;
		    display: block;
		    height: 3rem;
		    line-height: 3rem;
		    margin-bottom: 20px;
		    color: $suj-color;

		    &:hover, &:focus, &:active {
		    	color: $suj-color;
		    }
		}

		.dropdown-content {
			min-width: 250px;
			padding: 0 20px;
			top: 53px !important;

			span {
				padding-top: 10px;
				color: $suj-color;
				font-size: 1.2rem;
			}

			input[type="text"]:not(.browser-default) {
				border-color: $suj-color;
				border-width: 2px;
			}

			input[type="text"]:focus:not(.browser-default):not([readonly]) {
				box-shadow: none;
			}
		}
	}
	//EOL Salary Range

	.suj-single-search-btn {
		float: right;
	    margin: 23px 0 0;
	    /*padding: 0.7rem 2.5rem !important;*/
	    width: auto;
	    background-color: $suj-color;

	    &:hover, &:focus {
			background-color: $suj-color-hover;
		}
	}
}
//EOL Single Header


//Single Content Section
.suj-single-wrapper {
	background-color: $white;
	padding: 0 3% 45px;
	margin: 0;
	display: flex;
	flex: 1 1 0;

	.full-height {
		height: 100%;
		position: relative;
		padding-bottom: 120px;
	}

	.bottom-pagination {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
//EOL

//Single Job Lists to Follow
.suj-single-joblist {
	
	&.col {
		padding: 0 30px 0 0;
	}

	ul.suj-single-joblist-card {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin: 0;
			padding: 25px 15px;
			border-bottom: 1px solid #dddddd;
		}
	}
}

.suj-single-joblist-img {
	width: 80px;
	height: 80px;
}

.suj-single-joblist-txt {
	color: $content;
	padding: 0 18px 0 0;

	h5 {
		margin: 0;
		font-size: 1.2rem;
		font-weight: bold;

		a {
			color: $grey;

			&:hover, &:focus, &:active {
				color: $suj-color;
			}
		}
	}

	p {
		margin: 5px 0;

		a {
			color: $grey;

			&:hover, &:focus, &:active {
				color: $suj-color;
			}
		}
	}
}

.suj-single-joblist-btn {
	width: auto;
	/*padding: 0.3rem 1.5rem !important;*/
	background-color: $suj-color;
	float: right;
	margin: 23px 0 0;

	&:hover, &:focus {
		background-color: $suj-color-hover;
		color: $white;
	}
}
//EOL Job List To Follow


//Single Pagination
.suj-single-pagination {
	text-align: center;
	margin: 10px 0;

	.row {
		margin: 0;
	}

	.pagination li.active {
		background-color: $suj-color;
	}
}
//EOL


//Single Job Detail Section
.suj-single-jobdetail {

	&.col {
		padding: 0;
	}

	.detail-header {

		.image {
			width: 100%;
			//height: 34vh;
			position: relative;

			h5 {
				position: absolute;
				bottom: 0;
				margin: 0 0 5px 170px;
				color: $white;
				z-index: 5;
			}
		}

		.overlay {
			background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 78%, rgba(181,181,181,0.6) 100%) repeat scroll right bottom / cover;
            background: linear-gradient(180deg, rgba(255,255,255,0) 78%, rgba(181,181,181,0.6) 100%) repeat scroll right bottom / cover;
            width: 100%;
            height: 100%;
            position: absolute;
		}
	}

	.company-profile {
		padding: 0 30px;
		margin-bottom: 35px;

		.profile-image { 
			height: 120px;
		    margin-top: -60px;
		    position: relative;
		    width: 120px;
		    border-radius: 3px;
		    padding: 0;
		    z-index: 5;
		}

		.content {
			padding: 10px 0 0 10px;

			h6 {
				color: $content;
				margin: 0;
				padding-top: 10px;

				.typcn::before {
					margin-right: 7px;
					font-size: 1.2rem;
				}

				a.orange-txt {
					color: $suj-color;

					&:hover {
						color: $suj-color;
						text-decoration: underline;
					}
				}
			}
		}

		.apply-btn {
			background-color: $suj-color;

			&:hover, &:focus {
				background-color: $suj-color-hover;
				color: $white;
			}
		}
	}

	.detail-body {
		padding: 0 30px;

		.tabs-wrapper {
			padding: 0;

			.tabs {
				a {
					color: $suj-color;
					text-transform: capitalize;
					font-size: 1.1rem;
				}

				.indicator {
					background-color: $suj-color;
					height: 3px;
				}
			}
		}

		.tabcontent {
			padding: 35px 0 0;
			color: $darkGrey;

			.job-categories {
				margin-bottom: 50px;

				> .col {
					padding-bottom: 13px;
				}

				h6 {
					margin: 0;
					font-size: 14px;
					color: $suj-color;
				}

				p {
					margin: 5px 0 0;
					font-size: 14px;

					&.green-txt {
						color: #6dba6d;
					}
				}

				a.mail {
					color: $blueSky;

					&:hover, &:focus, &:active {
						color: $suj-color;
					}
				}
			}

			ul.job-list {
				list-style: disc outside none;
				padding-left: 14px;

				> li {
					list-style-type: disc;
				}
			}

			p.about {
				margin: 0;
			}
		}

		.tabcontent-image {
			width: 100%;
			//height: 20vh;
		}
	}
}
//EOL Job Detail Section


//SUJ Single Tab Content List 
.tabcontent-list-wrapper {
	margin: 0;

	h6 {
		margin: 8px 0 5px;
	}

	a {
		color: $content;
		font-weight: 600;

		&:hover, &:active, &:focus {
			color: $suj-color;
		}
	}

	p {
		margin: 0;
	}

	.avatar-team {
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}

	.article-preview {
		margin: 15px 0 0;

		.more {
			color: $suj-color;
			font-style: italic;
			margin-left: 6px;
		}
	}
}
