//Begin Startup Profile Gallery Wrapper 
.profile-gallery-wrapper {
	&.suj-dashboard-content {
		display: block;
	}

	.card-content {
		padding-bottom: 70px !important;
	}
}
//End Startup Profile Gallery Wrapper 
