
/* ========= STARTUP PROFILE ========= */

.suj-dashboard-wrapper {
	.suj-startup-photo-wrapper {
		//height: 200px;
	    position: relative;
	    margin-bottom: 60px;
	}

	.suj-cover-photo-wrapper {
	    //width: 100%;
	    overflow: hidden;
	    //height: 200px;
	    //background-size: cover !important;

	    .cover-photo {
	    	width: 100%;
	    }
	}

	.suj-profile-photo-wrapper {
		position: absolute;
		bottom: -40px;
    	left: 25px;
	    
	    /* margin-top: -90px;
	    margin-left: 20px;
	    margin-bottom: 40px;
	    background-size: cover !important; */

	    .startup-photo {
	    	width: 80px;
		    height: 80px;
		    border-radius: 50%;
	    }
	}

	.suj-upload-banner-btn-wrapper {
	    float: right;
	    //margin-top: -45px; 
	    //margin-right: 20px;
	    position: absolute;
	    right: 25px;
	    bottom: 25px;
	    opacity: 0.6;
	    background-color: $homepage-bg-color;
	    padding: 2px 4px;

	    .input-field {
	    	margin-top: 0;
	    	line-height: 11px;
	    }

	    span {
	    	bottom: 7px;
		    padding-right: 5px;
		    position: relative;
	    }

	    &.logo-upload {
	    	right: -40px;
	    	bottom: 0;
	    }
	}


	&.suj-company-dashboard-profile.suj-company-dashboard-profile-container {
	
		.card {
		    height: auto !important;
		}

		.suj-form-top-bottom-margin {
		    padding: 50px;
		}
	}
}