//Begin Startup Profile Social Media Wrapper 
.profile-social-media-wrapper {
	&.suj-dashboard-content {
		display: block;
	}
}
//End Startup Profile Social Media Wrapper 

//Begin Startup Profile Social Media Content 
.profile-social-media-content {
	margin: 15px 0 0;

	h6 {
		margin: 0;
		font-weight: 600;
		color: $darkGrey;

		a {
			color: $darkGrey;

			&:hover, &:focus, &:active {
				color: $suj-color;
			}
		}
	}

	p.date {
		margin: 7px 0 0;
		color: $darkGrey;
		font-size: 13px;
	}

	.sujdb-applicant-btn {
		display: inline;
		font-size: 13px;
		line-height: 10px !important;
		min-width: 120px;
	}
}
//Begin Startup Profile Social Media Content