//Begin Startup Event Wrapper
.startup-event-wrapper {

	.suj-dashboard-content {
		display: block;
	}

	.card-content {
		padding-bottom: 40px !important;
	}
}
//End Startup Event Wrapper 


//Begin Startup Event Content 
.startup-event-content {
	margin: 0;

	.row {
		margin: 0;
	}

	p {
		font-size: 12px;
		color: $darkGrey !important;

		&.unique-url {
			font-size: 14px;
			padding-top: 28px;
			//color: $suj-color !important;
		}

	 	&.contact-detail {
	 		padding: 32px 0 0 30px;
	 	}
	}

	.empty-bottom {
		margin-bottom: 0;
	}

	.right-padding {
		padding-right: 15px !important;
	}

	.left-padding {
		padding-left: 15px !important;
	}

	.select-wrapper {
		color: $darkGrey;

		span.caret {
			color: $darkGrey;
		}

		.dropdown-content {
			top: 53px !important;

			li > span {
				font-size: 14px;
			}
		}
	}

	input, *::-moz-placeholder {
		color: $darkGrey;
	}

	textarea {
		min-height: 7rem;
		color: $darkGrey;
	}

	
}
//End Startup Event Content
