//Begin Startup Profile Social Media Wrapper 
.profile-team-wrapper {
	&.suj-dashboard-content {
		display: block;
	}

	.card-content {
		padding-bottom: 70px !important;
	}

	.sujdb-applicant-btn {
		display: inline;
		font-size: 13px;
		min-width: 115px;
	}
}
//End Startup Profile Social Media Wrapper 

//Begin Startup Profile Social Media Content 
.profile-team-content {
	margin: 15px 0 0;

	.user-img {
		width: 60px;
		height: 60px;
	}

	.user-email {
		color: $darkGrey;

		&:hover, &:focus, &:active {
			color: $suj-color;
		}
	}

	h6 {
		margin: 0;
		font-weight: 600;
		color: $darkGrey;
	}
}
//Begin Startup Profile Social Media Content