//Begin SUJ Support Content
.suj-support-content {
	.setting-password-content {
		padding-bottom: 40px;

		h6 {
			text-align: left;
		} 
	}

	p.note {
		color: $darkGrey;
		font-size: 14px;
	}

	.support-status {
		position: relative;
		min-height: 3rem;
		padding: 1.8rem 0 2.6rem;
		overflow: hidden;

		p {
			float: left;
			margin-right: 30px;
		}
	}
}

//End SUJ Support Content